# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # ActionServiceApi provides methods for the ActionService API group.
    class ActionServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Public Key
      # Activates the public key for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  Activating a new key will deactivate the current active key. Only one key can be active at a time.  The active key is indicated in the `kid` header in the JWE token sent to the target.  Activating a key that is already active is a no-op.   Required permission:    - `action.target.write`
      # @param action_service_activate_public_key_request [ActionServiceActivatePublicKeyRequest]

      # @return [ActionServiceActivatePublicKeyResponse]
      # @raise [ApiError] if fails to make API call
      def activate_public_key(action_service_activate_public_key_request)
        if action_service_activate_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_activate_public_key_request' when calling ActionServiceApi.activate_public_key"
        end

        result = activate_public_key_with_http_info(action_service_activate_public_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_public_key_with_http_info(action_service_activate_public_key_request)
        if action_service_activate_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_activate_public_key_request' when calling ActionServiceApi.activate_public_key"
        end

        path = '/zitadel.action.v2.ActionService/ActivatePublicKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_activate_public_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceActivatePublicKeyResponse',
          nil
        )
      end

      # Add Public Key
      # Adds a public key to the target for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  The public key must be in PEM format and be either an RSA or an EC key.  On a successful addition, a key ID is returned which can not only be used to manage the key (activate, remove),  but also will be used as the `kid` header in the JWE token sent to the target to indicate which key was used for encryption.  Note that newly added keys are inactive by default. You must activate the key to use it for payload encryption.  Providing an optional expiration date allows you to set a validity period for the key.  After the expiration date, the key will be automatically deactivated and no longer used for payload encryption.  Be sure to activate a new key before the current active key expires to avoid interruptions in your target executions.  You can have multiple inactive keys for rotation purposes, but only one active key at a time.   Required permission:    - `action.target.write`
      # @param action_service_add_public_key_request [ActionServiceAddPublicKeyRequest]

      # @return [ActionServiceAddPublicKeyResponse]
      # @raise [ApiError] if fails to make API call
      def add_public_key(action_service_add_public_key_request)
        if action_service_add_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_add_public_key_request' when calling ActionServiceApi.add_public_key"
        end

        result = add_public_key_with_http_info(action_service_add_public_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_public_key_with_http_info(action_service_add_public_key_request)
        if action_service_add_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_add_public_key_request' when calling ActionServiceApi.add_public_key"
        end

        path = '/zitadel.action.v2.ActionService/AddPublicKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_add_public_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceAddPublicKeyResponse',
          nil
        )
      end

      # Create Target
      # Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`
      # @param action_service_create_target_request [ActionServiceCreateTargetRequest]

      # @return [ActionServiceCreateTargetResponse]
      # @raise [ApiError] if fails to make API call
      def create_target(action_service_create_target_request)
        if action_service_create_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_create_target_request' when calling ActionServiceApi.create_target"
        end

        result = create_target_with_http_info(action_service_create_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_target_with_http_info(action_service_create_target_request)
        if action_service_create_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_create_target_request' when calling ActionServiceApi.create_target"
        end

        path = '/zitadel.action.v2.ActionService/CreateTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_create_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceCreateTargetResponse',
          nil
        )
      end

      # Deactivate Public Key
      # Deactivates the public key for payload encryption.  The public key will no longer be used to encrypt payloads sent to the target.  Be aware that deactivating the active key will leave the target without an active key.  Subsequent calls to the target with payload type `PAYLOAD_TYPE_JWE` will fail until a new key is activated.  This endpoint can be used in break glass scenarios to quickly disable a compromised key.  Deactivating a key that is already inactive is a no-op.   Required permission:    - `action.target.write`
      # @param action_service_deactivate_public_key_request [ActionServiceDeactivatePublicKeyRequest]

      # @return [ActionServiceDeactivatePublicKeyResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_public_key(action_service_deactivate_public_key_request)
        if action_service_deactivate_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_deactivate_public_key_request' when calling ActionServiceApi.deactivate_public_key"
        end

        result = deactivate_public_key_with_http_info(action_service_deactivate_public_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_public_key_with_http_info(action_service_deactivate_public_key_request)
        if action_service_deactivate_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_deactivate_public_key_request' when calling ActionServiceApi.deactivate_public_key"
        end

        path = '/zitadel.action.v2.ActionService/DeactivatePublicKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_deactivate_public_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceDeactivatePublicKeyResponse',
          nil
        )
      end

      # Delete Target
      # Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`
      # @param action_service_delete_target_request [ActionServiceDeleteTargetRequest]

      # @return [ActionServiceDeleteTargetResponse]
      # @raise [ApiError] if fails to make API call
      def delete_target(action_service_delete_target_request)
        if action_service_delete_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_delete_target_request' when calling ActionServiceApi.delete_target"
        end

        result = delete_target_with_http_info(action_service_delete_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_target_with_http_info(action_service_delete_target_request)
        if action_service_delete_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_delete_target_request' when calling ActionServiceApi.delete_target"
        end

        path = '/zitadel.action.v2.ActionService/DeleteTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_delete_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceDeleteTargetResponse',
          nil
        )
      end

      # Get Target
      # Returns the target identified by the requested ID.   Required permission:    - `action.target.read`
      # @param action_service_get_target_request [ActionServiceGetTargetRequest]

      # @return [ActionServiceGetTargetResponse]
      # @raise [ApiError] if fails to make API call
      def get_target(action_service_get_target_request)
        if action_service_get_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_get_target_request' when calling ActionServiceApi.get_target"
        end

        result = get_target_with_http_info(action_service_get_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_target_with_http_info(action_service_get_target_request)
        if action_service_get_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_get_target_request' when calling ActionServiceApi.get_target"
        end

        path = '/zitadel.action.v2.ActionService/GetTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_get_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceGetTargetResponse',
          nil
        )
      end

      # List Execution Functions
      # List all available functions which can be used as condition for executions.
      # @param body [Object]

      # @return [ActionServiceListExecutionFunctionsResponse]
      # @raise [ApiError] if fails to make API call
      def list_execution_functions(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling ActionServiceApi.list_execution_functions"
        end

        result = list_execution_functions_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_execution_functions_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling ActionServiceApi.list_execution_functions"
        end

        path = '/zitadel.action.v2.ActionService/ListExecutionFunctions'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceListExecutionFunctionsResponse',
          nil
        )
      end

      # List Execution Methods
      # List all available methods which can be used as condition for executions.
      # @param body [Object]

      # @return [ActionServiceListExecutionMethodsResponse]
      # @raise [ApiError] if fails to make API call
      def list_execution_methods(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling ActionServiceApi.list_execution_methods"
        end

        result = list_execution_methods_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_execution_methods_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling ActionServiceApi.list_execution_methods"
        end

        path = '/zitadel.action.v2.ActionService/ListExecutionMethods'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceListExecutionMethodsResponse',
          nil
        )
      end

      # List Execution Services
      # List all available services which can be used as condition for executions.
      # @param body [Object]

      # @return [ActionServiceListExecutionServicesResponse]
      # @raise [ApiError] if fails to make API call
      def list_execution_services(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling ActionServiceApi.list_execution_services"
        end

        result = list_execution_services_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_execution_services_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling ActionServiceApi.list_execution_services"
        end

        path = '/zitadel.action.v2.ActionService/ListExecutionServices'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceListExecutionServicesResponse',
          nil
        )
      end

      # List Executions
      # List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`
      # @param action_service_list_executions_request [ActionServiceListExecutionsRequest]

      # @return [ActionServiceListExecutionsResponse]
      # @raise [ApiError] if fails to make API call
      def list_executions(action_service_list_executions_request)
        if action_service_list_executions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_list_executions_request' when calling ActionServiceApi.list_executions"
        end

        result = list_executions_with_http_info(action_service_list_executions_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_executions_with_http_info(action_service_list_executions_request)
        if action_service_list_executions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_list_executions_request' when calling ActionServiceApi.list_executions"
        end

        path = '/zitadel.action.v2.ActionService/ListExecutions'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_list_executions_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceListExecutionsResponse',
          nil
        )
      end

      # List Public Keys
      # Lists all public keys of a target.  The response includes which key is active and the key's expiration dates.  This allows you to manage key rotations and ensure that your target always has an active key for payload encryption.   Required permission:    - `action.target.read`
      # @param action_service_list_public_keys_request [ActionServiceListPublicKeysRequest]

      # @return [ActionServiceListPublicKeysResponse]
      # @raise [ApiError] if fails to make API call
      def list_public_keys(action_service_list_public_keys_request)
        if action_service_list_public_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_list_public_keys_request' when calling ActionServiceApi.list_public_keys"
        end

        result = list_public_keys_with_http_info(action_service_list_public_keys_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_public_keys_with_http_info(action_service_list_public_keys_request)
        if action_service_list_public_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_list_public_keys_request' when calling ActionServiceApi.list_public_keys"
        end

        path = '/zitadel.action.v2.ActionService/ListPublicKeys'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_list_public_keys_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceListPublicKeysResponse',
          nil
        )
      end

      # List targets
      # List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`
      # @param action_service_list_targets_request [ActionServiceListTargetsRequest]

      # @return [ActionServiceListTargetsResponse]
      # @raise [ApiError] if fails to make API call
      def list_targets(action_service_list_targets_request)
        if action_service_list_targets_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_list_targets_request' when calling ActionServiceApi.list_targets"
        end

        result = list_targets_with_http_info(action_service_list_targets_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_targets_with_http_info(action_service_list_targets_request)
        if action_service_list_targets_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_list_targets_request' when calling ActionServiceApi.list_targets"
        end

        path = '/zitadel.action.v2.ActionService/ListTargets'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_list_targets_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceListTargetsResponse',
          nil
        )
      end

      # Remove Public Key
      # Removes the public key from the target. This is a permanent action and can not be undone.  Note that you can only remove inactive keys. Attempting to remove an active key will result in an error.  For break glass scenarios, deactivate the key first and then remove it.  Removing a non-existing key is a no-op.   Required permission:    - `action.target.write`
      # @param action_service_remove_public_key_request [ActionServiceRemovePublicKeyRequest]

      # @return [ActionServiceRemovePublicKeyResponse]
      # @raise [ApiError] if fails to make API call
      def remove_public_key(action_service_remove_public_key_request)
        if action_service_remove_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_remove_public_key_request' when calling ActionServiceApi.remove_public_key"
        end

        result = remove_public_key_with_http_info(action_service_remove_public_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_public_key_with_http_info(action_service_remove_public_key_request)
        if action_service_remove_public_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_remove_public_key_request' when calling ActionServiceApi.remove_public_key"
        end

        path = '/zitadel.action.v2.ActionService/RemovePublicKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_remove_public_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceRemovePublicKeyResponse',
          nil
        )
      end

      # Set Execution
      # Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`
      # @param action_service_set_execution_request [ActionServiceSetExecutionRequest]

      # @return [ActionServiceSetExecutionResponse]
      # @raise [ApiError] if fails to make API call
      def set_execution(action_service_set_execution_request)
        if action_service_set_execution_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_set_execution_request' when calling ActionServiceApi.set_execution"
        end

        result = set_execution_with_http_info(action_service_set_execution_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_execution_with_http_info(action_service_set_execution_request)
        if action_service_set_execution_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_set_execution_request' when calling ActionServiceApi.set_execution"
        end

        path = '/zitadel.action.v2.ActionService/SetExecution'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_set_execution_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceSetExecutionResponse',
          nil
        )
      end

      # Update Target
      # Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`
      # @param action_service_update_target_request [ActionServiceUpdateTargetRequest]

      # @return [ActionServiceUpdateTargetResponse]
      # @raise [ApiError] if fails to make API call
      def update_target(action_service_update_target_request)
        if action_service_update_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_update_target_request' when calling ActionServiceApi.update_target"
        end

        result = update_target_with_http_info(action_service_update_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_target_with_http_info(action_service_update_target_request)
        if action_service_update_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'action_service_update_target_request' when calling ActionServiceApi.update_target"
        end

        path = '/zitadel.action.v2.ActionService/UpdateTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = action_service_update_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ActionServiceUpdateTargetResponse',
          nil
        )
      end
    end
  end
end
