=begin
#Zitadel SDK

#The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module Zitadel::Client::Api
  class ActionServiceApi
  attr_accessor :api_client

  def initialize(api_client = ApiClient.default)
  @api_client = api_client
  end
      # Activate Public Key
      # Activates the public key for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to &#x60;PAYLOAD_TYPE_JWE&#x60;.  Activating a new key will deactivate the current active key. Only one key can be active at a time.  The active key is indicated in the &#x60;kid&#x60; header in the JWE token sent to the target.  Activating a key that is already active is a no-op.   Required permission:    - &#x60;action.target.write&#x60;
          # @param action_service_activate_public_key_request [ActionServiceActivatePublicKeyRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceActivatePublicKeyResponse]
    def activate_public_key(action_service_activate_public_key_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.activate_public_key ...' # MODIFIED
    end
          # verify the required parameter 'action_service_activate_public_key_request' is set
          if @api_client.config.client_side_validation && action_service_activate_public_key_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_activate_public_key_request' when calling Api::ActionServiceApi.activate_public_key" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/ActivatePublicKey'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_activate_public_key_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceActivatePublicKeyResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.activate_public_key", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#activate_public_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Add Public Key
      # Adds a public key to the target for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to &#x60;PAYLOAD_TYPE_JWE&#x60;.  The public key must be in PEM format and be either an RSA or an EC key.  On a successful addition, a key ID is returned which can not only be used to manage the key (activate, remove),  but also will be used as the &#x60;kid&#x60; header in the JWE token sent to the target to indicate which key was used for encryption.  Note that newly added keys are inactive by default. You must activate the key to use it for payload encryption.  Providing an optional expiration date allows you to set a validity period for the key.  After the expiration date, the key will be automatically deactivated and no longer used for payload encryption.  Be sure to activate a new key before the current active key expires to avoid interruptions in your target executions.  You can have multiple inactive keys for rotation purposes, but only one active key at a time.   Required permission:    - &#x60;action.target.write&#x60;
          # @param action_service_add_public_key_request [ActionServiceAddPublicKeyRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceAddPublicKeyResponse]
    def add_public_key(action_service_add_public_key_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.add_public_key ...' # MODIFIED
    end
          # verify the required parameter 'action_service_add_public_key_request' is set
          if @api_client.config.client_side_validation && action_service_add_public_key_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_add_public_key_request' when calling Api::ActionServiceApi.add_public_key" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/AddPublicKey'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_add_public_key_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceAddPublicKeyResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.add_public_key", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#add_public_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Create Target
      # Create a new target to your endpoint, which can be used in executions.   Required permission:    - &#x60;action.target.write&#x60;
          # @param action_service_create_target_request [ActionServiceCreateTargetRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceCreateTargetResponse]
    def create_target(action_service_create_target_request = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.create_target ...' # MODIFIED
    end
          # verify the required parameter 'action_service_create_target_request' is set
          if @api_client.config.client_side_validation && action_service_create_target_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_create_target_request' when calling Api::ActionServiceApi.create_target" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/CreateTarget'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_create_target_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceCreateTargetResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.create_target", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#create_target\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Deactivate Public Key
      # Deactivates the public key for payload encryption.  The public key will no longer be used to encrypt payloads sent to the target.  Be aware that deactivating the active key will leave the target without an active key.  Subsequent calls to the target with payload type &#x60;PAYLOAD_TYPE_JWE&#x60; will fail until a new key is activated.  This endpoint can be used in break glass scenarios to quickly disable a compromised key.  Deactivating a key that is already inactive is a no-op.   Required permission:    - &#x60;action.target.write&#x60;
          # @param action_service_deactivate_public_key_request [ActionServiceDeactivatePublicKeyRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceDeactivatePublicKeyResponse]
    def deactivate_public_key(action_service_deactivate_public_key_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.deactivate_public_key ...' # MODIFIED
    end
          # verify the required parameter 'action_service_deactivate_public_key_request' is set
          if @api_client.config.client_side_validation && action_service_deactivate_public_key_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_deactivate_public_key_request' when calling Api::ActionServiceApi.deactivate_public_key" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/DeactivatePublicKey'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_deactivate_public_key_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceDeactivatePublicKeyResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.deactivate_public_key", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#deactivate_public_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Delete Target
      # Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - &#x60;action.target.delete&#x60;
          # @param action_service_delete_target_request [ActionServiceDeleteTargetRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceDeleteTargetResponse]
    def delete_target(action_service_delete_target_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.delete_target ...' # MODIFIED
    end
          # verify the required parameter 'action_service_delete_target_request' is set
          if @api_client.config.client_side_validation && action_service_delete_target_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_delete_target_request' when calling Api::ActionServiceApi.delete_target" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/DeleteTarget'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_delete_target_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceDeleteTargetResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.delete_target", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#delete_target\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Get Target
      # Returns the target identified by the requested ID.   Required permission:    - &#x60;action.target.read&#x60;
          # @param action_service_get_target_request [ActionServiceGetTargetRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceGetTargetResponse]
    def get_target(action_service_get_target_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.get_target ...' # MODIFIED
    end
          # verify the required parameter 'action_service_get_target_request' is set
          if @api_client.config.client_side_validation && action_service_get_target_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_get_target_request' when calling Api::ActionServiceApi.get_target" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/GetTarget'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_get_target_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceGetTargetResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.get_target", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#get_target\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Execution Functions
      # List all available functions which can be used as condition for executions.
          # @param body [Object] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceListExecutionFunctionsResponse]
    def list_execution_functions(body = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.list_execution_functions ...' # MODIFIED
    end
          # verify the required parameter 'body' is set
          if @api_client.config.client_side_validation && body.nil?
          fail ArgumentError, "Missing the required parameter 'body' when calling Api::ActionServiceApi.list_execution_functions" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/ListExecutionFunctions'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceListExecutionFunctionsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.list_execution_functions", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#list_execution_functions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Execution Methods
      # List all available methods which can be used as condition for executions.
          # @param body [Object] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceListExecutionMethodsResponse]
    def list_execution_methods(body = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.list_execution_methods ...' # MODIFIED
    end
          # verify the required parameter 'body' is set
          if @api_client.config.client_side_validation && body.nil?
          fail ArgumentError, "Missing the required parameter 'body' when calling Api::ActionServiceApi.list_execution_methods" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/ListExecutionMethods'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceListExecutionMethodsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.list_execution_methods", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#list_execution_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Execution Services
      # List all available services which can be used as condition for executions.
          # @param body [Object] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceListExecutionServicesResponse]
    def list_execution_services(body = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.list_execution_services ...' # MODIFIED
    end
          # verify the required parameter 'body' is set
          if @api_client.config.client_side_validation && body.nil?
          fail ArgumentError, "Missing the required parameter 'body' when calling Api::ActionServiceApi.list_execution_services" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/ListExecutionServices'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceListExecutionServicesResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.list_execution_services", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#list_execution_services\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Executions
      # List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - &#x60;action.execution.read&#x60;
          # @param action_service_list_executions_request [ActionServiceListExecutionsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceListExecutionsResponse]
    def list_executions(action_service_list_executions_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.list_executions ...' # MODIFIED
    end
          # verify the required parameter 'action_service_list_executions_request' is set
          if @api_client.config.client_side_validation && action_service_list_executions_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_list_executions_request' when calling Api::ActionServiceApi.list_executions" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/ListExecutions'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_list_executions_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceListExecutionsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.list_executions", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#list_executions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Public Keys
      # Lists all public keys of a target.  The response includes which key is active and the key&#39;s expiration dates.  This allows you to manage key rotations and ensure that your target always has an active key for payload encryption.   Required permission:    - &#x60;action.target.read&#x60;
          # @param action_service_list_public_keys_request [ActionServiceListPublicKeysRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceListPublicKeysResponse]
    def list_public_keys(action_service_list_public_keys_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.list_public_keys ...' # MODIFIED
    end
          # verify the required parameter 'action_service_list_public_keys_request' is set
          if @api_client.config.client_side_validation && action_service_list_public_keys_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_list_public_keys_request' when calling Api::ActionServiceApi.list_public_keys" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/ListPublicKeys'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_list_public_keys_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceListPublicKeysResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.list_public_keys", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#list_public_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List targets
      # List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - &#x60;action.target.read&#x60;
          # @param action_service_list_targets_request [ActionServiceListTargetsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceListTargetsResponse]
    def list_targets(action_service_list_targets_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.list_targets ...' # MODIFIED
    end
          # verify the required parameter 'action_service_list_targets_request' is set
          if @api_client.config.client_side_validation && action_service_list_targets_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_list_targets_request' when calling Api::ActionServiceApi.list_targets" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/ListTargets'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_list_targets_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceListTargetsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.list_targets", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#list_targets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Remove Public Key
      # Removes the public key from the target. This is a permanent action and can not be undone.  Note that you can only remove inactive keys. Attempting to remove an active key will result in an error.  For break glass scenarios, deactivate the key first and then remove it.  Removing a non-existing key is a no-op.   Required permission:    - &#x60;action.target.write&#x60;
          # @param action_service_remove_public_key_request [ActionServiceRemovePublicKeyRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceRemovePublicKeyResponse]
    def remove_public_key(action_service_remove_public_key_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.remove_public_key ...' # MODIFIED
    end
          # verify the required parameter 'action_service_remove_public_key_request' is set
          if @api_client.config.client_side_validation && action_service_remove_public_key_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_remove_public_key_request' when calling Api::ActionServiceApi.remove_public_key" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/RemovePublicKey'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_remove_public_key_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceRemovePublicKeyResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.remove_public_key", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#remove_public_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Set Execution
      # Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - &#x60;action.execution.write&#x60;
          # @param action_service_set_execution_request [ActionServiceSetExecutionRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceSetExecutionResponse]
    def set_execution(action_service_set_execution_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.set_execution ...' # MODIFIED
    end
          # verify the required parameter 'action_service_set_execution_request' is set
          if @api_client.config.client_side_validation && action_service_set_execution_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_set_execution_request' when calling Api::ActionServiceApi.set_execution" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/SetExecution'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_set_execution_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceSetExecutionResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.set_execution", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#set_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Update Target
      # Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - &#x60;action.target.write&#x60;
          # @param action_service_update_target_request [ActionServiceUpdateTargetRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ActionServiceUpdateTargetResponse]
    def update_target(action_service_update_target_request = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ActionServiceApi.update_target ...' # MODIFIED
    end
          # verify the required parameter 'action_service_update_target_request' is set
          if @api_client.config.client_side_validation && action_service_update_target_request.nil?
          fail ArgumentError, "Missing the required parameter 'action_service_update_target_request' when calling Api::ActionServiceApi.update_target" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.action.v2.ActionService/UpdateTarget'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(action_service_update_target_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ActionServiceUpdateTargetResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ActionServiceApi.update_target", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ActionServiceApi#update_target\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end
  end
end
