# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # ApplicationServiceApi provides methods for the ApplicationService API group.
    class ApplicationServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create Application
      # Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write
      # @param application_service_create_application_request [ApplicationServiceCreateApplicationRequest]

      # @return [ApplicationServiceCreateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def create_application(application_service_create_application_request)
        if application_service_create_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_create_application_request' when calling ApplicationServiceApi.create_application"
        end

        result = create_application_with_http_info(application_service_create_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_application_with_http_info(application_service_create_application_request)
        if application_service_create_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_create_application_request' when calling ApplicationServiceApi.create_application"
        end

        path = '/zitadel.application.v2.ApplicationService/CreateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_create_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceCreateApplicationResponse',
          nil
        )
      end

      # Create Application Key
      # Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`
      # @param application_service_create_application_key_request [ApplicationServiceCreateApplicationKeyRequest]

      # @return [ApplicationServiceCreateApplicationKeyResponse]
      # @raise [ApiError] if fails to make API call
      def create_application_key(application_service_create_application_key_request)
        if application_service_create_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_create_application_key_request' when calling ApplicationServiceApi.create_application_key"
        end

        result = create_application_key_with_http_info(application_service_create_application_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_application_key_with_http_info(application_service_create_application_key_request)
        if application_service_create_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_create_application_key_request' when calling ApplicationServiceApi.create_application_key"
        end

        path = '/zitadel.application.v2.ApplicationService/CreateApplicationKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_create_application_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceCreateApplicationKeyResponse',
          nil
        )
      end

      # Deactivate Application
      # Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
      # @param application_service_deactivate_application_request [ApplicationServiceDeactivateApplicationRequest]

      # @return [ApplicationServiceDeactivateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_application(application_service_deactivate_application_request)
        if application_service_deactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_deactivate_application_request' when calling ApplicationServiceApi.deactivate_application"
        end

        result = deactivate_application_with_http_info(application_service_deactivate_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_application_with_http_info(application_service_deactivate_application_request)
        if application_service_deactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_deactivate_application_request' when calling ApplicationServiceApi.deactivate_application"
        end

        path = '/zitadel.application.v2.ApplicationService/DeactivateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_deactivate_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceDeactivateApplicationResponse',
          nil
        )
      end

      # Delete Application
      # Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete
      # @param application_service_delete_application_request [ApplicationServiceDeleteApplicationRequest]

      # @return [ApplicationServiceDeleteApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def delete_application(application_service_delete_application_request)
        if application_service_delete_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_delete_application_request' when calling ApplicationServiceApi.delete_application"
        end

        result = delete_application_with_http_info(application_service_delete_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_application_with_http_info(application_service_delete_application_request)
        if application_service_delete_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_delete_application_request' when calling ApplicationServiceApi.delete_application"
        end

        path = '/zitadel.application.v2.ApplicationService/DeleteApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_delete_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceDeleteApplicationResponse',
          nil
        )
      end

      # Delete Application Key
      # Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`
      # @param application_service_delete_application_key_request [ApplicationServiceDeleteApplicationKeyRequest]

      # @return [ApplicationServiceDeleteApplicationKeyResponse]
      # @raise [ApiError] if fails to make API call
      def delete_application_key(application_service_delete_application_key_request)
        if application_service_delete_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_delete_application_key_request' when calling ApplicationServiceApi.delete_application_key"
        end

        result = delete_application_key_with_http_info(application_service_delete_application_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_application_key_with_http_info(application_service_delete_application_key_request)
        if application_service_delete_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_delete_application_key_request' when calling ApplicationServiceApi.delete_application_key"
        end

        path = '/zitadel.application.v2.ApplicationService/DeleteApplicationKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_delete_application_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceDeleteApplicationKeyResponse',
          nil
        )
      end

      # Generate Client Secret
      # Generates the client secret of an API or OIDC application that belongs to the input project.   Required permissions:    - project.app.write
      # @param application_service_generate_client_secret_request [ApplicationServiceGenerateClientSecretRequest]

      # @return [ApplicationServiceGenerateClientSecretResponse]
      # @raise [ApiError] if fails to make API call
      def generate_client_secret(application_service_generate_client_secret_request)
        if application_service_generate_client_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_generate_client_secret_request' when calling ApplicationServiceApi.generate_client_secret"
        end

        result = generate_client_secret_with_http_info(application_service_generate_client_secret_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def generate_client_secret_with_http_info(application_service_generate_client_secret_request)
        if application_service_generate_client_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_generate_client_secret_request' when calling ApplicationServiceApi.generate_client_secret"
        end

        path = '/zitadel.application.v2.ApplicationService/GenerateClientSecret'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_generate_client_secret_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceGenerateClientSecretResponse',
          nil
        )
      end

      # Get Application
      # Retrieves the application matching the provided ID.   Required permissions:    - project.app.read
      # @param application_service_get_application_request [ApplicationServiceGetApplicationRequest]

      # @return [ApplicationServiceGetApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def get_application(application_service_get_application_request)
        if application_service_get_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_get_application_request' when calling ApplicationServiceApi.get_application"
        end

        result = get_application_with_http_info(application_service_get_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_application_with_http_info(application_service_get_application_request)
        if application_service_get_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_get_application_request' when calling ApplicationServiceApi.get_application"
        end

        path = '/zitadel.application.v2.ApplicationService/GetApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_get_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceGetApplicationResponse',
          nil
        )
      end

      # Get Application Key
      # Retrieves the application key matching the provided ID.   Specifying a project, organization and application ID is optional but help with filtering/performance.   Required permissions:    - project.app.read
      # @param application_service_get_application_key_request [ApplicationServiceGetApplicationKeyRequest]

      # @return [ApplicationServiceGetApplicationKeyResponse]
      # @raise [ApiError] if fails to make API call
      def get_application_key(application_service_get_application_key_request)
        if application_service_get_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_get_application_key_request' when calling ApplicationServiceApi.get_application_key"
        end

        result = get_application_key_with_http_info(application_service_get_application_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_application_key_with_http_info(application_service_get_application_key_request)
        if application_service_get_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_get_application_key_request' when calling ApplicationServiceApi.get_application_key"
        end

        path = '/zitadel.application.v2.ApplicationService/GetApplicationKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_get_application_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceGetApplicationKeyResponse',
          nil
        )
      end

      # List Application Keys
      # Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by application, project or organization ID.   Required permissions:    - project.app.read
      # @param application_service_list_application_keys_request [ApplicationServiceListApplicationKeysRequest]

      # @return [ApplicationServiceListApplicationKeysResponse]
      # @raise [ApiError] if fails to make API call
      def list_application_keys(application_service_list_application_keys_request)
        if application_service_list_application_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_list_application_keys_request' when calling ApplicationServiceApi.list_application_keys"
        end

        result = list_application_keys_with_http_info(application_service_list_application_keys_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_application_keys_with_http_info(application_service_list_application_keys_request)
        if application_service_list_application_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_list_application_keys_request' when calling ApplicationServiceApi.list_application_keys"
        end

        path = '/zitadel.application.v2.ApplicationService/ListApplicationKeys'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_list_application_keys_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceListApplicationKeysResponse',
          nil
        )
      end

      # List Applications
      # Returns a list of applications matching the input parameters. The results can be filtered  by project, state, type and name. It can be sorted by id, name, creation date, change date or state.   Required permissions:    - project.app.read
      # @param application_service_list_applications_request [ApplicationServiceListApplicationsRequest]

      # @return [ApplicationServiceListApplicationsResponse]
      # @raise [ApiError] if fails to make API call
      def list_applications(application_service_list_applications_request)
        if application_service_list_applications_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_list_applications_request' when calling ApplicationServiceApi.list_applications"
        end

        result = list_applications_with_http_info(application_service_list_applications_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_applications_with_http_info(application_service_list_applications_request)
        if application_service_list_applications_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_list_applications_request' when calling ApplicationServiceApi.list_applications"
        end

        path = '/zitadel.application.v2.ApplicationService/ListApplications'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_list_applications_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceListApplicationsResponse',
          nil
        )
      end

      # Reactivate Application
      # Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
      # @param application_service_reactivate_application_request [ApplicationServiceReactivateApplicationRequest]

      # @return [ApplicationServiceReactivateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def reactivate_application(application_service_reactivate_application_request)
        if application_service_reactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_reactivate_application_request' when calling ApplicationServiceApi.reactivate_application"
        end

        result = reactivate_application_with_http_info(application_service_reactivate_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reactivate_application_with_http_info(application_service_reactivate_application_request)
        if application_service_reactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_reactivate_application_request' when calling ApplicationServiceApi.reactivate_application"
        end

        path = '/zitadel.application.v2.ApplicationService/ReactivateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_reactivate_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceReactivateApplicationResponse',
          nil
        )
      end

      # Update Application
      # Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write
      # @param application_service_update_application_request [ApplicationServiceUpdateApplicationRequest]

      # @return [ApplicationServiceUpdateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def update_application(application_service_update_application_request)
        if application_service_update_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_update_application_request' when calling ApplicationServiceApi.update_application"
        end

        result = update_application_with_http_info(application_service_update_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_application_with_http_info(application_service_update_application_request)
        if application_service_update_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'application_service_update_application_request' when calling ApplicationServiceApi.update_application"
        end

        path = '/zitadel.application.v2.ApplicationService/UpdateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = application_service_update_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ApplicationServiceUpdateApplicationResponse',
          nil
        )
      end
    end
  end
end
