=begin
#Zitadel SDK

#The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module Zitadel::Client::Api
  class ApplicationServiceApi
  attr_accessor :api_client

  def initialize(api_client = ApiClient.default)
  @api_client = api_client
  end
      # Create Application
      # Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write
          # @param application_service_create_application_request [ApplicationServiceCreateApplicationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceCreateApplicationResponse]
    def create_application(application_service_create_application_request = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.create_application ...' # MODIFIED
    end
          # verify the required parameter 'application_service_create_application_request' is set
          if @api_client.config.client_side_validation && application_service_create_application_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_create_application_request' when calling Api::ApplicationServiceApi.create_application" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/CreateApplication'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_create_application_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceCreateApplicationResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.create_application", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#create_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Create Application Key
      # Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - &#x60;project.app.write&#x60;
          # @param application_service_create_application_key_request [ApplicationServiceCreateApplicationKeyRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceCreateApplicationKeyResponse]
    def create_application_key(application_service_create_application_key_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.create_application_key ...' # MODIFIED
    end
          # verify the required parameter 'application_service_create_application_key_request' is set
          if @api_client.config.client_side_validation && application_service_create_application_key_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_create_application_key_request' when calling Api::ApplicationServiceApi.create_application_key" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/CreateApplicationKey'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_create_application_key_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceCreateApplicationKeyResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.create_application_key", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#create_application_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Deactivate Application
      # Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
          # @param application_service_deactivate_application_request [ApplicationServiceDeactivateApplicationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceDeactivateApplicationResponse]
    def deactivate_application(application_service_deactivate_application_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.deactivate_application ...' # MODIFIED
    end
          # verify the required parameter 'application_service_deactivate_application_request' is set
          if @api_client.config.client_side_validation && application_service_deactivate_application_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_deactivate_application_request' when calling Api::ApplicationServiceApi.deactivate_application" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/DeactivateApplication'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_deactivate_application_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceDeactivateApplicationResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.deactivate_application", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#deactivate_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Delete Application
      # Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete
          # @param application_service_delete_application_request [ApplicationServiceDeleteApplicationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceDeleteApplicationResponse]
    def delete_application(application_service_delete_application_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.delete_application ...' # MODIFIED
    end
          # verify the required parameter 'application_service_delete_application_request' is set
          if @api_client.config.client_side_validation && application_service_delete_application_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_delete_application_request' when calling Api::ApplicationServiceApi.delete_application" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/DeleteApplication'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_delete_application_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceDeleteApplicationResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.delete_application", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#delete_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Delete Application Key
      # Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - &#x60;project.app.write&#x60;
          # @param application_service_delete_application_key_request [ApplicationServiceDeleteApplicationKeyRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceDeleteApplicationKeyResponse]
    def delete_application_key(application_service_delete_application_key_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.delete_application_key ...' # MODIFIED
    end
          # verify the required parameter 'application_service_delete_application_key_request' is set
          if @api_client.config.client_side_validation && application_service_delete_application_key_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_delete_application_key_request' when calling Api::ApplicationServiceApi.delete_application_key" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/DeleteApplicationKey'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_delete_application_key_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceDeleteApplicationKeyResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.delete_application_key", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#delete_application_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Generate Client Secret
      # Generates the client secret of an API or OIDC application that belongs to the input project.   Required permissions:    - project.app.write
          # @param application_service_generate_client_secret_request [ApplicationServiceGenerateClientSecretRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceGenerateClientSecretResponse]
    def generate_client_secret(application_service_generate_client_secret_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.generate_client_secret ...' # MODIFIED
    end
          # verify the required parameter 'application_service_generate_client_secret_request' is set
          if @api_client.config.client_side_validation && application_service_generate_client_secret_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_generate_client_secret_request' when calling Api::ApplicationServiceApi.generate_client_secret" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/GenerateClientSecret'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_generate_client_secret_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceGenerateClientSecretResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.generate_client_secret", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#generate_client_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Get Application
      # Retrieves the application matching the provided ID.   Required permissions:    - project.app.read
          # @param application_service_get_application_request [ApplicationServiceGetApplicationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceGetApplicationResponse]
    def get_application(application_service_get_application_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.get_application ...' # MODIFIED
    end
          # verify the required parameter 'application_service_get_application_request' is set
          if @api_client.config.client_side_validation && application_service_get_application_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_get_application_request' when calling Api::ApplicationServiceApi.get_application" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/GetApplication'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_get_application_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceGetApplicationResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.get_application", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#get_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Get Application Key
      # Retrieves the application key matching the provided ID.   Specifying a project, organization and application ID is optional but help with filtering/performance.   Required permissions:    - project.app.read
          # @param application_service_get_application_key_request [ApplicationServiceGetApplicationKeyRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceGetApplicationKeyResponse]
    def get_application_key(application_service_get_application_key_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.get_application_key ...' # MODIFIED
    end
          # verify the required parameter 'application_service_get_application_key_request' is set
          if @api_client.config.client_side_validation && application_service_get_application_key_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_get_application_key_request' when calling Api::ApplicationServiceApi.get_application_key" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/GetApplicationKey'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_get_application_key_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceGetApplicationKeyResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.get_application_key", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#get_application_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Application Keys
      # Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by application, project or organization ID.   Required permissions:    - project.app.read
          # @param application_service_list_application_keys_request [ApplicationServiceListApplicationKeysRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceListApplicationKeysResponse]
    def list_application_keys(application_service_list_application_keys_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.list_application_keys ...' # MODIFIED
    end
          # verify the required parameter 'application_service_list_application_keys_request' is set
          if @api_client.config.client_side_validation && application_service_list_application_keys_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_list_application_keys_request' when calling Api::ApplicationServiceApi.list_application_keys" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/ListApplicationKeys'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_list_application_keys_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceListApplicationKeysResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.list_application_keys", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#list_application_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Applications
      # Returns a list of applications matching the input parameters. The results can be filtered  by project, state, type and name. It can be sorted by id, name, creation date, change date or state.   Required permissions:    - project.app.read
          # @param application_service_list_applications_request [ApplicationServiceListApplicationsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceListApplicationsResponse]
    def list_applications(application_service_list_applications_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.list_applications ...' # MODIFIED
    end
          # verify the required parameter 'application_service_list_applications_request' is set
          if @api_client.config.client_side_validation && application_service_list_applications_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_list_applications_request' when calling Api::ApplicationServiceApi.list_applications" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/ListApplications'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_list_applications_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceListApplicationsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.list_applications", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#list_applications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Reactivate Application
      # Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
          # @param application_service_reactivate_application_request [ApplicationServiceReactivateApplicationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceReactivateApplicationResponse]
    def reactivate_application(application_service_reactivate_application_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.reactivate_application ...' # MODIFIED
    end
          # verify the required parameter 'application_service_reactivate_application_request' is set
          if @api_client.config.client_side_validation && application_service_reactivate_application_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_reactivate_application_request' when calling Api::ApplicationServiceApi.reactivate_application" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/ReactivateApplication'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_reactivate_application_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceReactivateApplicationResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.reactivate_application", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#reactivate_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Update Application
      # Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write
          # @param application_service_update_application_request [ApplicationServiceUpdateApplicationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ApplicationServiceUpdateApplicationResponse]
    def update_application(application_service_update_application_request = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ApplicationServiceApi.update_application ...' # MODIFIED
    end
          # verify the required parameter 'application_service_update_application_request' is set
          if @api_client.config.client_side_validation && application_service_update_application_request.nil?
          fail ArgumentError, "Missing the required parameter 'application_service_update_application_request' when calling Api::ApplicationServiceApi.update_application" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.application.v2.ApplicationService/UpdateApplication'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(application_service_update_application_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ApplicationServiceUpdateApplicationResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ApplicationServiceApi.update_application", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ApplicationServiceApi#update_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end
  end
end
