# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # AuthorizationServiceApi provides methods for the AuthorizationService API group.
    class AuthorizationServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Authorization
      # ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"
      # @param authorization_service_activate_authorization_request [AuthorizationServiceActivateAuthorizationRequest]

      # @return [AuthorizationServiceActivateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def activate_authorization(authorization_service_activate_authorization_request)
        if authorization_service_activate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_activate_authorization_request' when calling AuthorizationServiceApi.activate_authorization"
        end

        result = activate_authorization_with_http_info(authorization_service_activate_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_authorization_with_http_info(authorization_service_activate_authorization_request)
        if authorization_service_activate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_activate_authorization_request' when calling AuthorizationServiceApi.activate_authorization"
        end

        path = '/zitadel.authorization.v2.AuthorizationService/ActivateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = authorization_service_activate_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'AuthorizationServiceActivateAuthorizationResponse',
          nil
        )
      end

      # Create Authorization
      # CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"
      # @param authorization_service_create_authorization_request [AuthorizationServiceCreateAuthorizationRequest]

      # @return [AuthorizationServiceCreateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def create_authorization(authorization_service_create_authorization_request)
        if authorization_service_create_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_create_authorization_request' when calling AuthorizationServiceApi.create_authorization"
        end

        result = create_authorization_with_http_info(authorization_service_create_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_authorization_with_http_info(authorization_service_create_authorization_request)
        if authorization_service_create_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_create_authorization_request' when calling AuthorizationServiceApi.create_authorization"
        end

        path = '/zitadel.authorization.v2.AuthorizationService/CreateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = authorization_service_create_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'AuthorizationServiceCreateAuthorizationResponse',
          nil
        )
      end

      # Deactivate Authorization
      # DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"
      # @param authorization_service_deactivate_authorization_request [AuthorizationServiceDeactivateAuthorizationRequest]

      # @return [AuthorizationServiceDeactivateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_authorization(authorization_service_deactivate_authorization_request)
        if authorization_service_deactivate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_deactivate_authorization_request' when calling AuthorizationServiceApi.deactivate_authorization"
        end

        result = deactivate_authorization_with_http_info(authorization_service_deactivate_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_authorization_with_http_info(authorization_service_deactivate_authorization_request)
        if authorization_service_deactivate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_deactivate_authorization_request' when calling AuthorizationServiceApi.deactivate_authorization"
        end

        path = '/zitadel.authorization.v2.AuthorizationService/DeactivateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = authorization_service_deactivate_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'AuthorizationServiceDeactivateAuthorizationResponse',
          nil
        )
      end

      # Delete Authorization
      # DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"
      # @param authorization_service_delete_authorization_request [AuthorizationServiceDeleteAuthorizationRequest]

      # @return [AuthorizationServiceDeleteAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def delete_authorization(authorization_service_delete_authorization_request)
        if authorization_service_delete_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_delete_authorization_request' when calling AuthorizationServiceApi.delete_authorization"
        end

        result = delete_authorization_with_http_info(authorization_service_delete_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_authorization_with_http_info(authorization_service_delete_authorization_request)
        if authorization_service_delete_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_delete_authorization_request' when calling AuthorizationServiceApi.delete_authorization"
        end

        path = '/zitadel.authorization.v2.AuthorizationService/DeleteAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = authorization_service_delete_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'AuthorizationServiceDeleteAuthorizationResponse',
          nil
        )
      end

      # List Authorizations
      # ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations
      # @param authorization_service_list_authorizations_request [AuthorizationServiceListAuthorizationsRequest]

      # @return [AuthorizationServiceListAuthorizationsResponse]
      # @raise [ApiError] if fails to make API call
      def list_authorizations(authorization_service_list_authorizations_request)
        if authorization_service_list_authorizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_list_authorizations_request' when calling AuthorizationServiceApi.list_authorizations"
        end

        result = list_authorizations_with_http_info(authorization_service_list_authorizations_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_authorizations_with_http_info(authorization_service_list_authorizations_request)
        if authorization_service_list_authorizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_list_authorizations_request' when calling AuthorizationServiceApi.list_authorizations"
        end

        path = '/zitadel.authorization.v2.AuthorizationService/ListAuthorizations'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = authorization_service_list_authorizations_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'AuthorizationServiceListAuthorizationsResponse',
          nil
        )
      end

      # Update Authorization
      # UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"
      # @param authorization_service_update_authorization_request [AuthorizationServiceUpdateAuthorizationRequest]

      # @return [AuthorizationServiceUpdateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def update_authorization(authorization_service_update_authorization_request)
        if authorization_service_update_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_update_authorization_request' when calling AuthorizationServiceApi.update_authorization"
        end

        result = update_authorization_with_http_info(authorization_service_update_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_authorization_with_http_info(authorization_service_update_authorization_request)
        if authorization_service_update_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'authorization_service_update_authorization_request' when calling AuthorizationServiceApi.update_authorization"
        end

        path = '/zitadel.authorization.v2.AuthorizationService/UpdateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = authorization_service_update_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'AuthorizationServiceUpdateAuthorizationResponse',
          nil
        )
      end
    end
  end
end
