# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaSettingsServiceApi provides methods for the BetaSettingsService API group.
    class BetaSettingsServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Get the current active identity providers
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_active_identity_providers_request [BetaSettingsServiceGetActiveIdentityProvidersRequest]

      # @return [BetaSettingsServiceGetActiveIdentityProvidersResponse]
      # @raise [ApiError] if fails to make API call
      def get_active_identity_providers(beta_settings_service_get_active_identity_providers_request)
        if beta_settings_service_get_active_identity_providers_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_active_identity_providers_request' when calling BetaSettingsServiceApi.get_active_identity_providers"
        end

        result = get_active_identity_providers_with_http_info(beta_settings_service_get_active_identity_providers_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_active_identity_providers_with_http_info(beta_settings_service_get_active_identity_providers_request)
        if beta_settings_service_get_active_identity_providers_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_active_identity_providers_request' when calling BetaSettingsServiceApi.get_active_identity_providers"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetActiveIdentityProviders'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_active_identity_providers_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetActiveIdentityProvidersResponse',
          nil
        )
      end

      # Get the current active branding settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_branding_settings_request [BetaSettingsServiceGetBrandingSettingsRequest]

      # @return [BetaSettingsServiceGetBrandingSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_branding_settings(beta_settings_service_get_branding_settings_request)
        if beta_settings_service_get_branding_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_branding_settings_request' when calling BetaSettingsServiceApi.get_branding_settings"
        end

        result = get_branding_settings_with_http_info(beta_settings_service_get_branding_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_branding_settings_with_http_info(beta_settings_service_get_branding_settings_request)
        if beta_settings_service_get_branding_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_branding_settings_request' when calling BetaSettingsServiceApi.get_branding_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetBrandingSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_branding_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetBrandingSettingsResponse',
          nil
        )
      end

      # Get the domain settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_domain_settings_request [BetaSettingsServiceGetDomainSettingsRequest]

      # @return [BetaSettingsServiceGetDomainSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_domain_settings(beta_settings_service_get_domain_settings_request)
        if beta_settings_service_get_domain_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_domain_settings_request' when calling BetaSettingsServiceApi.get_domain_settings"
        end

        result = get_domain_settings_with_http_info(beta_settings_service_get_domain_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_domain_settings_with_http_info(beta_settings_service_get_domain_settings_request)
        if beta_settings_service_get_domain_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_domain_settings_request' when calling BetaSettingsServiceApi.get_domain_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetDomainSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_domain_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetDomainSettingsResponse',
          nil
        )
      end

      # Get basic information over the instance
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param body [Object]

      # @return [BetaSettingsServiceGetGeneralSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_general_settings(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaSettingsServiceApi.get_general_settings"
        end

        result = get_general_settings_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_general_settings_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaSettingsServiceApi.get_general_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetGeneralSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetGeneralSettingsResponse',
          nil
        )
      end

      # Get the legal and support settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_legal_and_support_settings_request [BetaSettingsServiceGetLegalAndSupportSettingsRequest]

      # @return [BetaSettingsServiceGetLegalAndSupportSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_legal_and_support_settings(beta_settings_service_get_legal_and_support_settings_request)
        if beta_settings_service_get_legal_and_support_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_legal_and_support_settings_request' when calling BetaSettingsServiceApi.get_legal_and_support_settings"
        end

        result = get_legal_and_support_settings_with_http_info(beta_settings_service_get_legal_and_support_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_legal_and_support_settings_with_http_info(beta_settings_service_get_legal_and_support_settings_request)
        if beta_settings_service_get_legal_and_support_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_legal_and_support_settings_request' when calling BetaSettingsServiceApi.get_legal_and_support_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetLegalAndSupportSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_legal_and_support_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetLegalAndSupportSettingsResponse',
          nil
        )
      end

      # Get the lockout settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_lockout_settings_request [BetaSettingsServiceGetLockoutSettingsRequest]

      # @return [BetaSettingsServiceGetLockoutSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_lockout_settings(beta_settings_service_get_lockout_settings_request)
        if beta_settings_service_get_lockout_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_lockout_settings_request' when calling BetaSettingsServiceApi.get_lockout_settings"
        end

        result = get_lockout_settings_with_http_info(beta_settings_service_get_lockout_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_lockout_settings_with_http_info(beta_settings_service_get_lockout_settings_request)
        if beta_settings_service_get_lockout_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_lockout_settings_request' when calling BetaSettingsServiceApi.get_lockout_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetLockoutSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_lockout_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetLockoutSettingsResponse',
          nil
        )
      end

      # Get the login settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_login_settings_request [BetaSettingsServiceGetLoginSettingsRequest]

      # @return [BetaSettingsServiceGetLoginSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_login_settings(beta_settings_service_get_login_settings_request)
        if beta_settings_service_get_login_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_login_settings_request' when calling BetaSettingsServiceApi.get_login_settings"
        end

        result = get_login_settings_with_http_info(beta_settings_service_get_login_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_login_settings_with_http_info(beta_settings_service_get_login_settings_request)
        if beta_settings_service_get_login_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_login_settings_request' when calling BetaSettingsServiceApi.get_login_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetLoginSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_login_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetLoginSettingsResponse',
          nil
        )
      end

      # Get the password complexity settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_password_complexity_settings_request [BetaSettingsServiceGetPasswordComplexitySettingsRequest]

      # @return [BetaSettingsServiceGetPasswordComplexitySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_password_complexity_settings(beta_settings_service_get_password_complexity_settings_request)
        if beta_settings_service_get_password_complexity_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_password_complexity_settings_request' when calling BetaSettingsServiceApi.get_password_complexity_settings"
        end

        result = get_password_complexity_settings_with_http_info(beta_settings_service_get_password_complexity_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_password_complexity_settings_with_http_info(beta_settings_service_get_password_complexity_settings_request)
        if beta_settings_service_get_password_complexity_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_password_complexity_settings_request' when calling BetaSettingsServiceApi.get_password_complexity_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetPasswordComplexitySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_password_complexity_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetPasswordComplexitySettingsResponse',
          nil
        )
      end

      # Get the password expiry settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_get_password_expiry_settings_request [BetaSettingsServiceGetPasswordExpirySettingsRequest]

      # @return [BetaSettingsServiceGetPasswordExpirySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_password_expiry_settings(beta_settings_service_get_password_expiry_settings_request)
        if beta_settings_service_get_password_expiry_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_password_expiry_settings_request' when calling BetaSettingsServiceApi.get_password_expiry_settings"
        end

        result = get_password_expiry_settings_with_http_info(beta_settings_service_get_password_expiry_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_password_expiry_settings_with_http_info(beta_settings_service_get_password_expiry_settings_request)
        if beta_settings_service_get_password_expiry_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_get_password_expiry_settings_request' when calling BetaSettingsServiceApi.get_password_expiry_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetPasswordExpirySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_get_password_expiry_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetPasswordExpirySettingsResponse',
          nil
        )
      end

      # Get the security settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param body [Object]

      # @return [BetaSettingsServiceGetSecuritySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_security_settings(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaSettingsServiceApi.get_security_settings"
        end

        result = get_security_settings_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_security_settings_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaSettingsServiceApi.get_security_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/GetSecuritySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceGetSecuritySettingsResponse',
          nil
        )
      end

      # Set the security settings
      # Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_settings_service_set_security_settings_request [BetaSettingsServiceSetSecuritySettingsRequest]

      # @return [BetaSettingsServiceSetSecuritySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def set_security_settings(beta_settings_service_set_security_settings_request)
        if beta_settings_service_set_security_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_set_security_settings_request' when calling BetaSettingsServiceApi.set_security_settings"
        end

        result = set_security_settings_with_http_info(beta_settings_service_set_security_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_security_settings_with_http_info(beta_settings_service_set_security_settings_request)
        if beta_settings_service_set_security_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_settings_service_set_security_settings_request' when calling BetaSettingsServiceApi.set_security_settings"
        end

        path = '/zitadel.settings.v2beta.SettingsService/SetSecuritySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_settings_service_set_security_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSettingsServiceSetSecuritySettingsResponse',
          nil
        )
      end
    end
  end
end
