# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaOIDCServiceApi provides methods for the BetaOIDCService API group.
    class BetaOIDCServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create Callback
      # Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.
      # @param beta_oidc_service_create_callback_request [BetaOIDCServiceCreateCallbackRequest]

      # @return [BetaOIDCServiceCreateCallbackResponse]
      # @raise [ApiError] if fails to make API call
      def create_callback(beta_oidc_service_create_callback_request)
        if beta_oidc_service_create_callback_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_oidc_service_create_callback_request' when calling BetaOIDCServiceApi.create_callback"
        end

        result = create_callback_with_http_info(beta_oidc_service_create_callback_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_callback_with_http_info(beta_oidc_service_create_callback_request)
        if beta_oidc_service_create_callback_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_oidc_service_create_callback_request' when calling BetaOIDCServiceApi.create_callback"
        end

        path = '/zitadel.oidc.v2beta.OIDCService/CreateCallback'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_oidc_service_create_callback_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOIDCServiceCreateCallbackResponse',
          nil
        )
      end

      # Get AuthRequest
      # Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns details that are parsed from the application's Auth Request.
      # @param beta_oidc_service_get_auth_request_request [BetaOIDCServiceGetAuthRequestRequest]

      # @return [BetaOIDCServiceGetAuthRequestResponse]
      # @raise [ApiError] if fails to make API call
      def get_auth_request(beta_oidc_service_get_auth_request_request)
        if beta_oidc_service_get_auth_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_oidc_service_get_auth_request_request' when calling BetaOIDCServiceApi.get_auth_request"
        end

        result = get_auth_request_with_http_info(beta_oidc_service_get_auth_request_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_auth_request_with_http_info(beta_oidc_service_get_auth_request_request)
        if beta_oidc_service_get_auth_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_oidc_service_get_auth_request_request' when calling BetaOIDCServiceApi.get_auth_request"
        end

        path = '/zitadel.oidc.v2beta.OIDCService/GetAuthRequest'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_oidc_service_get_auth_request_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOIDCServiceGetAuthRequestResponse',
          nil
        )
      end
    end
  end
end
