# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaUserServiceApi provides methods for the BetaUserService API group.
    class BetaUserServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create a new human user
      # Create/import a new user with the type human. The newly created user will get a verification email if either the email address is not marked as verified and you did not request the verification to be returned.   Deprecated: please move to the corresponding endpoint under user service v2 (GA)
      # @param beta_user_service_add_human_user_request [BetaUserServiceAddHumanUserRequest]

      # @return [BetaUserServiceAddHumanUserResponse]
      # @raise [ApiError] if fails to make API call
      def add_human_user(beta_user_service_add_human_user_request)
        if beta_user_service_add_human_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_human_user_request' when calling BetaUserServiceApi.add_human_user"
        end

        result = add_human_user_with_http_info(beta_user_service_add_human_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_human_user_with_http_info(beta_user_service_add_human_user_request)
        if beta_user_service_add_human_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_human_user_request' when calling BetaUserServiceApi.add_human_user"
        end

        path = '/zitadel.user.v2beta.UserService/AddHumanUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_add_human_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceAddHumanUserResponse',
          nil
        )
      end

      # Add link to an identity provider to an user
      # Add link to an identity provider to an user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_add_idp_link_request [BetaUserServiceAddIDPLinkRequest]

      # @return [BetaUserServiceAddIDPLinkResponse]
      # @raise [ApiError] if fails to make API call
      def add_idp_link(beta_user_service_add_idp_link_request)
        if beta_user_service_add_idp_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_idp_link_request' when calling BetaUserServiceApi.add_idp_link"
        end

        result = add_idp_link_with_http_info(beta_user_service_add_idp_link_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_idp_link_with_http_info(beta_user_service_add_idp_link_request)
        if beta_user_service_add_idp_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_idp_link_request' when calling BetaUserServiceApi.add_idp_link"
        end

        path = '/zitadel.user.v2beta.UserService/AddIDPLink'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_add_idp_link_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceAddIDPLinkResponse',
          nil
        )
      end

      # Add OTP Email for a user
      # Add a new One-Time Password (OTP) Email factor to the authenticated user. OTP Email will enable the user to verify a OTP with the latest verified email. The email has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_add_otp_email_request [BetaUserServiceAddOTPEmailRequest]

      # @return [BetaUserServiceAddOTPEmailResponse]
      # @raise [ApiError] if fails to make API call
      def add_otp_email(beta_user_service_add_otp_email_request)
        if beta_user_service_add_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_otp_email_request' when calling BetaUserServiceApi.add_otp_email"
        end

        result = add_otp_email_with_http_info(beta_user_service_add_otp_email_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_otp_email_with_http_info(beta_user_service_add_otp_email_request)
        if beta_user_service_add_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_otp_email_request' when calling BetaUserServiceApi.add_otp_email"
        end

        path = '/zitadel.user.v2beta.UserService/AddOTPEmail'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_add_otp_email_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceAddOTPEmailResponse',
          nil
        )
      end

      # Add OTP SMS for a user
      # Add a new One-Time Password (OTP) SMS factor to the authenticated user. OTP SMS will enable the user to verify a OTP with the latest verified phone number. The phone number has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_add_otpsms_request [BetaUserServiceAddOTPSMSRequest]

      # @return [BetaUserServiceAddOTPSMSResponse]
      # @raise [ApiError] if fails to make API call
      def add_otpsms(beta_user_service_add_otpsms_request)
        if beta_user_service_add_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_otpsms_request' when calling BetaUserServiceApi.add_otpsms"
        end

        result = add_otpsms_with_http_info(beta_user_service_add_otpsms_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_otpsms_with_http_info(beta_user_service_add_otpsms_request)
        if beta_user_service_add_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_add_otpsms_request' when calling BetaUserServiceApi.add_otpsms"
        end

        path = '/zitadel.user.v2beta.UserService/AddOTPSMS'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_add_otpsms_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceAddOTPSMSResponse',
          nil
        )
      end

      # Create a passkey registration link for a user
      # Create a passkey registration link which includes a code and either return it or send it to the user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_create_passkey_registration_link_request [BetaUserServiceCreatePasskeyRegistrationLinkRequest]

      # @return [BetaUserServiceCreatePasskeyRegistrationLinkResponse]
      # @raise [ApiError] if fails to make API call
      def create_passkey_registration_link(beta_user_service_create_passkey_registration_link_request)
        if beta_user_service_create_passkey_registration_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_create_passkey_registration_link_request' when calling BetaUserServiceApi.create_passkey_registration_link"
        end

        result = create_passkey_registration_link_with_http_info(beta_user_service_create_passkey_registration_link_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_passkey_registration_link_with_http_info(beta_user_service_create_passkey_registration_link_request)
        if beta_user_service_create_passkey_registration_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_create_passkey_registration_link_request' when calling BetaUserServiceApi.create_passkey_registration_link"
        end

        path = '/zitadel.user.v2beta.UserService/CreatePasskeyRegistrationLink'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_create_passkey_registration_link_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceCreatePasskeyRegistrationLinkResponse',
          nil
        )
      end

      # Deactivate user
      # The state of the user will be changed to 'deactivated'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'deactivated'. Use deactivate user when the user should not be able to use the account anymore, but you still need access to the user data.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_deactivate_user_request [BetaUserServiceDeactivateUserRequest]

      # @return [BetaUserServiceDeactivateUserResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_user(beta_user_service_deactivate_user_request)
        if beta_user_service_deactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_deactivate_user_request' when calling BetaUserServiceApi.deactivate_user"
        end

        result = deactivate_user_with_http_info(beta_user_service_deactivate_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_user_with_http_info(beta_user_service_deactivate_user_request)
        if beta_user_service_deactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_deactivate_user_request' when calling BetaUserServiceApi.deactivate_user"
        end

        path = '/zitadel.user.v2beta.UserService/DeactivateUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_deactivate_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceDeactivateUserResponse',
          nil
        )
      end

      # Delete user
      # The state of the user will be changed to 'deleted'. The user will not be able to log in anymore. Endpoints requesting this user will return an error 'User not found.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_delete_user_request [BetaUserServiceDeleteUserRequest]

      # @return [BetaUserServiceDeleteUserResponse]
      # @raise [ApiError] if fails to make API call
      def delete_user(beta_user_service_delete_user_request)
        if beta_user_service_delete_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_delete_user_request' when calling BetaUserServiceApi.delete_user"
        end

        result = delete_user_with_http_info(beta_user_service_delete_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_user_with_http_info(beta_user_service_delete_user_request)
        if beta_user_service_delete_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_delete_user_request' when calling BetaUserServiceApi.delete_user"
        end

        path = '/zitadel.user.v2beta.UserService/DeleteUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_delete_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceDeleteUserResponse',
          nil
        )
      end

      # User by ID
      # Returns the full user object (human or machine) including the profile, email, etc.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_get_user_by_id_request [BetaUserServiceGetUserByIDRequest]

      # @return [BetaUserServiceGetUserByIDResponse]
      # @raise [ApiError] if fails to make API call
      def get_user_by_id(beta_user_service_get_user_by_id_request)
        if beta_user_service_get_user_by_id_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_get_user_by_id_request' when calling BetaUserServiceApi.get_user_by_id"
        end

        result = get_user_by_id_with_http_info(beta_user_service_get_user_by_id_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_user_by_id_with_http_info(beta_user_service_get_user_by_id_request)
        if beta_user_service_get_user_by_id_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_get_user_by_id_request' when calling BetaUserServiceApi.get_user_by_id"
        end

        path = '/zitadel.user.v2beta.UserService/GetUserByID'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_get_user_by_id_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceGetUserByIDResponse',
          nil
        )
      end

      # List all possible authentication methods of a user
      # List all possible authentication methods of a user like password, passwordless, (T)OTP and more.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_list_authentication_method_types_request [BetaUserServiceListAuthenticationMethodTypesRequest]

      # @return [BetaUserServiceListAuthenticationMethodTypesResponse]
      # @raise [ApiError] if fails to make API call
      def list_authentication_method_types(beta_user_service_list_authentication_method_types_request)
        if beta_user_service_list_authentication_method_types_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_list_authentication_method_types_request' when calling BetaUserServiceApi.list_authentication_method_types"
        end

        result = list_authentication_method_types_with_http_info(beta_user_service_list_authentication_method_types_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_authentication_method_types_with_http_info(beta_user_service_list_authentication_method_types_request)
        if beta_user_service_list_authentication_method_types_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_list_authentication_method_types_request' when calling BetaUserServiceApi.list_authentication_method_types"
        end

        path = '/zitadel.user.v2beta.UserService/ListAuthenticationMethodTypes'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_list_authentication_method_types_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceListAuthenticationMethodTypesResponse',
          nil
        )
      end

      # Search Users
      # Search for users. By default, we will return all users of your instance that you have permission to read. Make sure to include a limit and sorting for pagination.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_list_users_request [BetaUserServiceListUsersRequest]

      # @return [BetaUserServiceListUsersResponse]
      # @raise [ApiError] if fails to make API call
      def list_users(beta_user_service_list_users_request)
        if beta_user_service_list_users_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_list_users_request' when calling BetaUserServiceApi.list_users"
        end

        result = list_users_with_http_info(beta_user_service_list_users_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_users_with_http_info(beta_user_service_list_users_request)
        if beta_user_service_list_users_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_list_users_request' when calling BetaUserServiceApi.list_users"
        end

        path = '/zitadel.user.v2beta.UserService/ListUsers'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_list_users_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceListUsersResponse',
          nil
        )
      end

      # Lock user
      # The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_lock_user_request [BetaUserServiceLockUserRequest]

      # @return [BetaUserServiceLockUserResponse]
      # @raise [ApiError] if fails to make API call
      def lock_user(beta_user_service_lock_user_request)
        if beta_user_service_lock_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_lock_user_request' when calling BetaUserServiceApi.lock_user"
        end

        result = lock_user_with_http_info(beta_user_service_lock_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def lock_user_with_http_info(beta_user_service_lock_user_request)
        if beta_user_service_lock_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_lock_user_request' when calling BetaUserServiceApi.lock_user"
        end

        path = '/zitadel.user.v2beta.UserService/LockUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_lock_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceLockUserResponse',
          nil
        )
      end

      # Request a code to reset a password
      # Request a code to reset a password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_password_reset_request [BetaUserServicePasswordResetRequest]

      # @return [BetaUserServicePasswordResetResponse]
      # @raise [ApiError] if fails to make API call
      def password_reset(beta_user_service_password_reset_request)
        if beta_user_service_password_reset_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_password_reset_request' when calling BetaUserServiceApi.password_reset"
        end

        result = password_reset_with_http_info(beta_user_service_password_reset_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def password_reset_with_http_info(beta_user_service_password_reset_request)
        if beta_user_service_password_reset_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_password_reset_request' when calling BetaUserServiceApi.password_reset"
        end

        path = '/zitadel.user.v2beta.UserService/PasswordReset'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_password_reset_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServicePasswordResetResponse',
          nil
        )
      end

      # Reactivate user
      # Reactivate a user with the state 'deactivated'. The user will be able to log in again afterward. The endpoint returns an error if the user is not in the state 'deactivated'.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_reactivate_user_request [BetaUserServiceReactivateUserRequest]

      # @return [BetaUserServiceReactivateUserResponse]
      # @raise [ApiError] if fails to make API call
      def reactivate_user(beta_user_service_reactivate_user_request)
        if beta_user_service_reactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_reactivate_user_request' when calling BetaUserServiceApi.reactivate_user"
        end

        result = reactivate_user_with_http_info(beta_user_service_reactivate_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reactivate_user_with_http_info(beta_user_service_reactivate_user_request)
        if beta_user_service_reactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_reactivate_user_request' when calling BetaUserServiceApi.reactivate_user"
        end

        path = '/zitadel.user.v2beta.UserService/ReactivateUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_reactivate_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceReactivateUserResponse',
          nil
        )
      end

      # Start the registration of passkey for a user
      # Start the registration of a passkey for a user, as a response the public key credential creation options are returned, which are used to verify the passkey.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_register_passkey_request [BetaUserServiceRegisterPasskeyRequest]

      # @return [BetaUserServiceRegisterPasskeyResponse]
      # @raise [ApiError] if fails to make API call
      def register_passkey(beta_user_service_register_passkey_request)
        if beta_user_service_register_passkey_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_register_passkey_request' when calling BetaUserServiceApi.register_passkey"
        end

        result = register_passkey_with_http_info(beta_user_service_register_passkey_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def register_passkey_with_http_info(beta_user_service_register_passkey_request)
        if beta_user_service_register_passkey_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_register_passkey_request' when calling BetaUserServiceApi.register_passkey"
        end

        path = '/zitadel.user.v2beta.UserService/RegisterPasskey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_register_passkey_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRegisterPasskeyResponse',
          nil
        )
      end

      # Start the registration of a TOTP generator for a user
      # Start the registration of a TOTP generator for a user, as a response a secret returned, which is used to initialize a TOTP app or device.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_register_totp_request [BetaUserServiceRegisterTOTPRequest]

      # @return [BetaUserServiceRegisterTOTPResponse]
      # @raise [ApiError] if fails to make API call
      def register_totp(beta_user_service_register_totp_request)
        if beta_user_service_register_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_register_totp_request' when calling BetaUserServiceApi.register_totp"
        end

        result = register_totp_with_http_info(beta_user_service_register_totp_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def register_totp_with_http_info(beta_user_service_register_totp_request)
        if beta_user_service_register_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_register_totp_request' when calling BetaUserServiceApi.register_totp"
        end

        path = '/zitadel.user.v2beta.UserService/RegisterTOTP'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_register_totp_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRegisterTOTPResponse',
          nil
        )
      end

      # Start the registration of a u2f token for a user
      # Start the registration of a u2f token for a user, as a response the public key credential creation options are returned, which are used to verify the u2f token.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_register_u2_f_request [BetaUserServiceRegisterU2FRequest]

      # @return [BetaUserServiceRegisterU2FResponse]
      # @raise [ApiError] if fails to make API call
      def register_u2_f(beta_user_service_register_u2_f_request)
        if beta_user_service_register_u2_f_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_register_u2_f_request' when calling BetaUserServiceApi.register_u2_f"
        end

        result = register_u2_f_with_http_info(beta_user_service_register_u2_f_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def register_u2_f_with_http_info(beta_user_service_register_u2_f_request)
        if beta_user_service_register_u2_f_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_register_u2_f_request' when calling BetaUserServiceApi.register_u2_f"
        end

        path = '/zitadel.user.v2beta.UserService/RegisterU2F'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_register_u2_f_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRegisterU2FResponse',
          nil
        )
      end

      # Remove One-Time Password (OTP) Email from a user
      # Remove the configured One-Time Password (OTP) Email factor of a user. As only one OTP Email per user is allowed, the user will not have OTP Email as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_remove_otp_email_request [BetaUserServiceRemoveOTPEmailRequest]

      # @return [BetaUserServiceRemoveOTPEmailResponse]
      # @raise [ApiError] if fails to make API call
      def remove_otp_email(beta_user_service_remove_otp_email_request)
        if beta_user_service_remove_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_otp_email_request' when calling BetaUserServiceApi.remove_otp_email"
        end

        result = remove_otp_email_with_http_info(beta_user_service_remove_otp_email_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_otp_email_with_http_info(beta_user_service_remove_otp_email_request)
        if beta_user_service_remove_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_otp_email_request' when calling BetaUserServiceApi.remove_otp_email"
        end

        path = '/zitadel.user.v2beta.UserService/RemoveOTPEmail'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_remove_otp_email_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRemoveOTPEmailResponse',
          nil
        )
      end

      # Remove One-Time Password (OTP) SMS from a user
      # Remove the configured One-Time Password (OTP) SMS factor of a user. As only one OTP SMS per user is allowed, the user will not have OTP SMS as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_remove_otpsms_request [BetaUserServiceRemoveOTPSMSRequest]

      # @return [BetaUserServiceRemoveOTPSMSResponse]
      # @raise [ApiError] if fails to make API call
      def remove_otpsms(beta_user_service_remove_otpsms_request)
        if beta_user_service_remove_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_otpsms_request' when calling BetaUserServiceApi.remove_otpsms"
        end

        result = remove_otpsms_with_http_info(beta_user_service_remove_otpsms_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_otpsms_with_http_info(beta_user_service_remove_otpsms_request)
        if beta_user_service_remove_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_otpsms_request' when calling BetaUserServiceApi.remove_otpsms"
        end

        path = '/zitadel.user.v2beta.UserService/RemoveOTPSMS'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_remove_otpsms_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRemoveOTPSMSResponse',
          nil
        )
      end

      # Remove the user phone
      # Remove the user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_remove_phone_request [BetaUserServiceRemovePhoneRequest]

      # @return [BetaUserServiceRemovePhoneResponse]
      # @raise [ApiError] if fails to make API call
      def remove_phone(beta_user_service_remove_phone_request)
        if beta_user_service_remove_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_phone_request' when calling BetaUserServiceApi.remove_phone"
        end

        result = remove_phone_with_http_info(beta_user_service_remove_phone_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_phone_with_http_info(beta_user_service_remove_phone_request)
        if beta_user_service_remove_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_phone_request' when calling BetaUserServiceApi.remove_phone"
        end

        path = '/zitadel.user.v2beta.UserService/RemovePhone'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_remove_phone_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRemovePhoneResponse',
          nil
        )
      end

      # Remove TOTP generator from a user
      # Remove the configured TOTP generator of a user. As only one TOTP generator per user is allowed, the user will not have TOTP as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_remove_totp_request [BetaUserServiceRemoveTOTPRequest]

      # @return [BetaUserServiceRemoveTOTPResponse]
      # @raise [ApiError] if fails to make API call
      def remove_totp(beta_user_service_remove_totp_request)
        if beta_user_service_remove_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_totp_request' when calling BetaUserServiceApi.remove_totp"
        end

        result = remove_totp_with_http_info(beta_user_service_remove_totp_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_totp_with_http_info(beta_user_service_remove_totp_request)
        if beta_user_service_remove_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_remove_totp_request' when calling BetaUserServiceApi.remove_totp"
        end

        path = '/zitadel.user.v2beta.UserService/RemoveTOTP'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_remove_totp_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRemoveTOTPResponse',
          nil
        )
      end

      # Resend code to verify user email
      # Resend code to verify user email   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_resend_email_code_request [BetaUserServiceResendEmailCodeRequest]

      # @return [BetaUserServiceResendEmailCodeResponse]
      # @raise [ApiError] if fails to make API call
      def resend_email_code(beta_user_service_resend_email_code_request)
        if beta_user_service_resend_email_code_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_resend_email_code_request' when calling BetaUserServiceApi.resend_email_code"
        end

        result = resend_email_code_with_http_info(beta_user_service_resend_email_code_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def resend_email_code_with_http_info(beta_user_service_resend_email_code_request)
        if beta_user_service_resend_email_code_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_resend_email_code_request' when calling BetaUserServiceApi.resend_email_code"
        end

        path = '/zitadel.user.v2beta.UserService/ResendEmailCode'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_resend_email_code_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceResendEmailCodeResponse',
          nil
        )
      end

      # Resend code to verify user phone
      # Resend code to verify user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_resend_phone_code_request [BetaUserServiceResendPhoneCodeRequest]

      # @return [BetaUserServiceResendPhoneCodeResponse]
      # @raise [ApiError] if fails to make API call
      def resend_phone_code(beta_user_service_resend_phone_code_request)
        if beta_user_service_resend_phone_code_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_resend_phone_code_request' when calling BetaUserServiceApi.resend_phone_code"
        end

        result = resend_phone_code_with_http_info(beta_user_service_resend_phone_code_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def resend_phone_code_with_http_info(beta_user_service_resend_phone_code_request)
        if beta_user_service_resend_phone_code_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_resend_phone_code_request' when calling BetaUserServiceApi.resend_phone_code"
        end

        path = '/zitadel.user.v2beta.UserService/ResendPhoneCode'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_resend_phone_code_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceResendPhoneCodeResponse',
          nil
        )
      end

      # Retrieve the information returned by the identity provider
      # Retrieve the information returned by the identity provider for registration or updating an existing user with new information.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_retrieve_identity_provider_intent_request [BetaUserServiceRetrieveIdentityProviderIntentRequest]

      # @return [BetaUserServiceRetrieveIdentityProviderIntentResponse]
      # @raise [ApiError] if fails to make API call
      def retrieve_identity_provider_intent(beta_user_service_retrieve_identity_provider_intent_request)
        if beta_user_service_retrieve_identity_provider_intent_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_retrieve_identity_provider_intent_request' when calling BetaUserServiceApi.retrieve_identity_provider_intent"
        end

        result = retrieve_identity_provider_intent_with_http_info(beta_user_service_retrieve_identity_provider_intent_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def retrieve_identity_provider_intent_with_http_info(beta_user_service_retrieve_identity_provider_intent_request)
        if beta_user_service_retrieve_identity_provider_intent_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_retrieve_identity_provider_intent_request' when calling BetaUserServiceApi.retrieve_identity_provider_intent"
        end

        path = '/zitadel.user.v2beta.UserService/RetrieveIdentityProviderIntent'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_retrieve_identity_provider_intent_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceRetrieveIdentityProviderIntentResponse',
          nil
        )
      end

      # Change the user email
      # Change the email address of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by email.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_set_email_request [BetaUserServiceSetEmailRequest]

      # @return [BetaUserServiceSetEmailResponse]
      # @raise [ApiError] if fails to make API call
      def set_email(beta_user_service_set_email_request)
        if beta_user_service_set_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_set_email_request' when calling BetaUserServiceApi.set_email"
        end

        result = set_email_with_http_info(beta_user_service_set_email_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_email_with_http_info(beta_user_service_set_email_request)
        if beta_user_service_set_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_set_email_request' when calling BetaUserServiceApi.set_email"
        end

        path = '/zitadel.user.v2beta.UserService/SetEmail'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_set_email_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceSetEmailResponse',
          nil
        )
      end

      # Change password
      # Change the password of a user with either a verification code or the current password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_set_password_request [BetaUserServiceSetPasswordRequest]

      # @return [BetaUserServiceSetPasswordResponse]
      # @raise [ApiError] if fails to make API call
      def set_password(beta_user_service_set_password_request)
        if beta_user_service_set_password_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_set_password_request' when calling BetaUserServiceApi.set_password"
        end

        result = set_password_with_http_info(beta_user_service_set_password_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_password_with_http_info(beta_user_service_set_password_request)
        if beta_user_service_set_password_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_set_password_request' when calling BetaUserServiceApi.set_password"
        end

        path = '/zitadel.user.v2beta.UserService/SetPassword'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_set_password_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceSetPasswordResponse',
          nil
        )
      end

      # Set the user phone
      # Set the phone number of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by sms.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_set_phone_request [BetaUserServiceSetPhoneRequest]

      # @return [BetaUserServiceSetPhoneResponse]
      # @raise [ApiError] if fails to make API call
      def set_phone(beta_user_service_set_phone_request)
        if beta_user_service_set_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_set_phone_request' when calling BetaUserServiceApi.set_phone"
        end

        result = set_phone_with_http_info(beta_user_service_set_phone_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_phone_with_http_info(beta_user_service_set_phone_request)
        if beta_user_service_set_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_set_phone_request' when calling BetaUserServiceApi.set_phone"
        end

        path = '/zitadel.user.v2beta.UserService/SetPhone'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_set_phone_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceSetPhoneResponse',
          nil
        )
      end

      # Start flow with an identity provider
      # Start a flow with an identity provider, for external login, registration or linking.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_start_identity_provider_intent_request [BetaUserServiceStartIdentityProviderIntentRequest]

      # @return [BetaUserServiceStartIdentityProviderIntentResponse]
      # @raise [ApiError] if fails to make API call
      def start_identity_provider_intent(beta_user_service_start_identity_provider_intent_request)
        if beta_user_service_start_identity_provider_intent_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_start_identity_provider_intent_request' when calling BetaUserServiceApi.start_identity_provider_intent"
        end

        result = start_identity_provider_intent_with_http_info(beta_user_service_start_identity_provider_intent_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def start_identity_provider_intent_with_http_info(beta_user_service_start_identity_provider_intent_request)
        if beta_user_service_start_identity_provider_intent_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_start_identity_provider_intent_request' when calling BetaUserServiceApi.start_identity_provider_intent"
        end

        path = '/zitadel.user.v2beta.UserService/StartIdentityProviderIntent'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_start_identity_provider_intent_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceStartIdentityProviderIntentResponse',
          nil
        )
      end

      # Unlock user
      # The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_unlock_user_request [BetaUserServiceUnlockUserRequest]

      # @return [BetaUserServiceUnlockUserResponse]
      # @raise [ApiError] if fails to make API call
      def unlock_user(beta_user_service_unlock_user_request)
        if beta_user_service_unlock_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_unlock_user_request' when calling BetaUserServiceApi.unlock_user"
        end

        result = unlock_user_with_http_info(beta_user_service_unlock_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def unlock_user_with_http_info(beta_user_service_unlock_user_request)
        if beta_user_service_unlock_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_unlock_user_request' when calling BetaUserServiceApi.unlock_user"
        end

        path = '/zitadel.user.v2beta.UserService/UnlockUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_unlock_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceUnlockUserResponse',
          nil
        )
      end

      # Update User
      # Update all information from a user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_update_human_user_request [BetaUserServiceUpdateHumanUserRequest]

      # @return [BetaUserServiceUpdateHumanUserResponse]
      # @raise [ApiError] if fails to make API call
      def update_human_user(beta_user_service_update_human_user_request)
        if beta_user_service_update_human_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_update_human_user_request' when calling BetaUserServiceApi.update_human_user"
        end

        result = update_human_user_with_http_info(beta_user_service_update_human_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_human_user_with_http_info(beta_user_service_update_human_user_request)
        if beta_user_service_update_human_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_update_human_user_request' when calling BetaUserServiceApi.update_human_user"
        end

        path = '/zitadel.user.v2beta.UserService/UpdateHumanUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_update_human_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceUpdateHumanUserResponse',
          nil
        )
      end

      # Verify the email
      # Verify the email with the generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_verify_email_request [BetaUserServiceVerifyEmailRequest]

      # @return [BetaUserServiceVerifyEmailResponse]
      # @raise [ApiError] if fails to make API call
      def verify_email(beta_user_service_verify_email_request)
        if beta_user_service_verify_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_email_request' when calling BetaUserServiceApi.verify_email"
        end

        result = verify_email_with_http_info(beta_user_service_verify_email_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def verify_email_with_http_info(beta_user_service_verify_email_request)
        if beta_user_service_verify_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_email_request' when calling BetaUserServiceApi.verify_email"
        end

        path = '/zitadel.user.v2beta.UserService/VerifyEmail'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_verify_email_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceVerifyEmailResponse',
          nil
        )
      end

      # Verify a passkey for a user
      # Verify the passkey registration with the public key credential.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_verify_passkey_registration_request [BetaUserServiceVerifyPasskeyRegistrationRequest]

      # @return [BetaUserServiceVerifyPasskeyRegistrationResponse]
      # @raise [ApiError] if fails to make API call
      def verify_passkey_registration(beta_user_service_verify_passkey_registration_request)
        if beta_user_service_verify_passkey_registration_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_passkey_registration_request' when calling BetaUserServiceApi.verify_passkey_registration"
        end

        result = verify_passkey_registration_with_http_info(beta_user_service_verify_passkey_registration_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def verify_passkey_registration_with_http_info(beta_user_service_verify_passkey_registration_request)
        if beta_user_service_verify_passkey_registration_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_passkey_registration_request' when calling BetaUserServiceApi.verify_passkey_registration"
        end

        path = '/zitadel.user.v2beta.UserService/VerifyPasskeyRegistration'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_verify_passkey_registration_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceVerifyPasskeyRegistrationResponse',
          nil
        )
      end

      # Verify the phone
      # Verify the phone with the generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_verify_phone_request [BetaUserServiceVerifyPhoneRequest]

      # @return [BetaUserServiceVerifyPhoneResponse]
      # @raise [ApiError] if fails to make API call
      def verify_phone(beta_user_service_verify_phone_request)
        if beta_user_service_verify_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_phone_request' when calling BetaUserServiceApi.verify_phone"
        end

        result = verify_phone_with_http_info(beta_user_service_verify_phone_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def verify_phone_with_http_info(beta_user_service_verify_phone_request)
        if beta_user_service_verify_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_phone_request' when calling BetaUserServiceApi.verify_phone"
        end

        path = '/zitadel.user.v2beta.UserService/VerifyPhone'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_verify_phone_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceVerifyPhoneResponse',
          nil
        )
      end

      # Verify a TOTP generator for a user
      # Verify the TOTP registration with a generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_verify_totp_registration_request [BetaUserServiceVerifyTOTPRegistrationRequest]

      # @return [BetaUserServiceVerifyTOTPRegistrationResponse]
      # @raise [ApiError] if fails to make API call
      def verify_totp_registration(beta_user_service_verify_totp_registration_request)
        if beta_user_service_verify_totp_registration_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_totp_registration_request' when calling BetaUserServiceApi.verify_totp_registration"
        end

        result = verify_totp_registration_with_http_info(beta_user_service_verify_totp_registration_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def verify_totp_registration_with_http_info(beta_user_service_verify_totp_registration_request)
        if beta_user_service_verify_totp_registration_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_totp_registration_request' when calling BetaUserServiceApi.verify_totp_registration"
        end

        path = '/zitadel.user.v2beta.UserService/VerifyTOTPRegistration'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_verify_totp_registration_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceVerifyTOTPRegistrationResponse',
          nil
        )
      end

      # Verify a u2f token for a user
      # Verify the u2f token registration with the public key credential.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).
      # @param beta_user_service_verify_u2_f_registration_request [BetaUserServiceVerifyU2FRegistrationRequest]

      # @return [BetaUserServiceVerifyU2FRegistrationResponse]
      # @raise [ApiError] if fails to make API call
      def verify_u2_f_registration(beta_user_service_verify_u2_f_registration_request)
        if beta_user_service_verify_u2_f_registration_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_u2_f_registration_request' when calling BetaUserServiceApi.verify_u2_f_registration"
        end

        result = verify_u2_f_registration_with_http_info(beta_user_service_verify_u2_f_registration_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def verify_u2_f_registration_with_http_info(beta_user_service_verify_u2_f_registration_request)
        if beta_user_service_verify_u2_f_registration_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_user_service_verify_u2_f_registration_request' when calling BetaUserServiceApi.verify_u2_f_registration"
        end

        path = '/zitadel.user.v2beta.UserService/VerifyU2FRegistration'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_user_service_verify_u2_f_registration_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaUserServiceVerifyU2FRegistrationResponse',
          nil
        )
      end
    end
  end
end
