# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaInstanceServiceApi provides methods for the BetaInstanceService API group.
    class BetaInstanceServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Add Custom Domain
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a custom domain to the instance in context.   The instance_id in the input message will be used in the future   Required permissions:    - `system.domain.write`
      # @param beta_instance_service_add_custom_domain_request [BetaInstanceServiceAddCustomDomainRequest]

      # @return [BetaInstanceServiceAddCustomDomainResponse]
      # @raise [ApiError] if fails to make API call
      def add_custom_domain(beta_instance_service_add_custom_domain_request)
        if beta_instance_service_add_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_add_custom_domain_request' when calling BetaInstanceServiceApi.add_custom_domain"
        end

        result = add_custom_domain_with_http_info(beta_instance_service_add_custom_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_custom_domain_with_http_info(beta_instance_service_add_custom_domain_request)
        if beta_instance_service_add_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_add_custom_domain_request' when calling BetaInstanceServiceApi.add_custom_domain"
        end

        path = '/zitadel.instance.v2beta.InstanceService/AddCustomDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_add_custom_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceAddCustomDomainResponse',
          nil
        )
      end

      # Add Trusted Domain
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a trusted domain to the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`
      # @param beta_instance_service_add_trusted_domain_request [BetaInstanceServiceAddTrustedDomainRequest]

      # @return [BetaInstanceServiceAddTrustedDomainResponse]
      # @raise [ApiError] if fails to make API call
      def add_trusted_domain(beta_instance_service_add_trusted_domain_request)
        if beta_instance_service_add_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_add_trusted_domain_request' when calling BetaInstanceServiceApi.add_trusted_domain"
        end

        result = add_trusted_domain_with_http_info(beta_instance_service_add_trusted_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_trusted_domain_with_http_info(beta_instance_service_add_trusted_domain_request)
        if beta_instance_service_add_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_add_trusted_domain_request' when calling BetaInstanceServiceApi.add_trusted_domain"
        end

        path = '/zitadel.instance.v2beta.InstanceService/AddTrustedDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_add_trusted_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceAddTrustedDomainResponse',
          nil
        )
      end

      # Delete Instance
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes an instance with the given ID.   Required permissions:    - `system.instance.delete`
      # @param beta_instance_service_delete_instance_request [BetaInstanceServiceDeleteInstanceRequest]

      # @return [BetaInstanceServiceDeleteInstanceResponse]
      # @raise [ApiError] if fails to make API call
      def delete_instance(beta_instance_service_delete_instance_request)
        if beta_instance_service_delete_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_delete_instance_request' when calling BetaInstanceServiceApi.delete_instance"
        end

        result = delete_instance_with_http_info(beta_instance_service_delete_instance_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_instance_with_http_info(beta_instance_service_delete_instance_request)
        if beta_instance_service_delete_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_delete_instance_request' when calling BetaInstanceServiceApi.delete_instance"
        end

        path = '/zitadel.instance.v2beta.InstanceService/DeleteInstance'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_delete_instance_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceDeleteInstanceResponse',
          nil
        )
      end

      # Get Instance
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the instance in the current context.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`
      # @param beta_instance_service_get_instance_request [BetaInstanceServiceGetInstanceRequest]

      # @return [BetaInstanceServiceGetInstanceResponse]
      # @raise [ApiError] if fails to make API call
      def get_instance(beta_instance_service_get_instance_request)
        if beta_instance_service_get_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_get_instance_request' when calling BetaInstanceServiceApi.get_instance"
        end

        result = get_instance_with_http_info(beta_instance_service_get_instance_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_instance_with_http_info(beta_instance_service_get_instance_request)
        if beta_instance_service_get_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_get_instance_request' when calling BetaInstanceServiceApi.get_instance"
        end

        path = '/zitadel.instance.v2beta.InstanceService/GetInstance'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_get_instance_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceGetInstanceResponse',
          nil
        )
      end

      # List Custom Domains
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists custom domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.read`
      # @param beta_instance_service_list_custom_domains_request [BetaInstanceServiceListCustomDomainsRequest]

      # @return [BetaInstanceServiceListCustomDomainsResponse]
      # @raise [ApiError] if fails to make API call
      def list_custom_domains(beta_instance_service_list_custom_domains_request)
        if beta_instance_service_list_custom_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_list_custom_domains_request' when calling BetaInstanceServiceApi.list_custom_domains"
        end

        result = list_custom_domains_with_http_info(beta_instance_service_list_custom_domains_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_custom_domains_with_http_info(beta_instance_service_list_custom_domains_request)
        if beta_instance_service_list_custom_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_list_custom_domains_request' when calling BetaInstanceServiceApi.list_custom_domains"
        end

        path = '/zitadel.instance.v2beta.InstanceService/ListCustomDomains'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_list_custom_domains_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceListCustomDomainsResponse',
          nil
        )
      end

      # List Instances
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.   Required permissions:   - `system.instance.read`
      # @param beta_instance_service_list_instances_request [BetaInstanceServiceListInstancesRequest]

      # @return [BetaInstanceServiceListInstancesResponse]
      # @raise [ApiError] if fails to make API call
      def list_instances(beta_instance_service_list_instances_request)
        if beta_instance_service_list_instances_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_list_instances_request' when calling BetaInstanceServiceApi.list_instances"
        end

        result = list_instances_with_http_info(beta_instance_service_list_instances_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_instances_with_http_info(beta_instance_service_list_instances_request)
        if beta_instance_service_list_instances_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_list_instances_request' when calling BetaInstanceServiceApi.list_instances"
        end

        path = '/zitadel.instance.v2beta.InstanceService/ListInstances'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_list_instances_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceListInstancesResponse',
          nil
        )
      end

      # List Trusted Domains
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists trusted domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`
      # @param beta_instance_service_list_trusted_domains_request [BetaInstanceServiceListTrustedDomainsRequest]

      # @return [BetaInstanceServiceListTrustedDomainsResponse]
      # @raise [ApiError] if fails to make API call
      def list_trusted_domains(beta_instance_service_list_trusted_domains_request)
        if beta_instance_service_list_trusted_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_list_trusted_domains_request' when calling BetaInstanceServiceApi.list_trusted_domains"
        end

        result = list_trusted_domains_with_http_info(beta_instance_service_list_trusted_domains_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_trusted_domains_with_http_info(beta_instance_service_list_trusted_domains_request)
        if beta_instance_service_list_trusted_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_list_trusted_domains_request' when calling BetaInstanceServiceApi.list_trusted_domains"
        end

        path = '/zitadel.instance.v2beta.InstanceService/ListTrustedDomains'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_list_trusted_domains_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceListTrustedDomainsResponse',
          nil
        )
      end

      # Remove Custom Domain
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a custom domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `system.domain.write`
      # @param beta_instance_service_remove_custom_domain_request [BetaInstanceServiceRemoveCustomDomainRequest]

      # @return [BetaInstanceServiceRemoveCustomDomainResponse]
      # @raise [ApiError] if fails to make API call
      def remove_custom_domain(beta_instance_service_remove_custom_domain_request)
        if beta_instance_service_remove_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_remove_custom_domain_request' when calling BetaInstanceServiceApi.remove_custom_domain"
        end

        result = remove_custom_domain_with_http_info(beta_instance_service_remove_custom_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_custom_domain_with_http_info(beta_instance_service_remove_custom_domain_request)
        if beta_instance_service_remove_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_remove_custom_domain_request' when calling BetaInstanceServiceApi.remove_custom_domain"
        end

        path = '/zitadel.instance.v2beta.InstanceService/RemoveCustomDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_remove_custom_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceRemoveCustomDomainResponse',
          nil
        )
      end

      # Remove Trusted Domain
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a trusted domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`
      # @param beta_instance_service_remove_trusted_domain_request [BetaInstanceServiceRemoveTrustedDomainRequest]

      # @return [BetaInstanceServiceRemoveTrustedDomainResponse]
      # @raise [ApiError] if fails to make API call
      def remove_trusted_domain(beta_instance_service_remove_trusted_domain_request)
        if beta_instance_service_remove_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_remove_trusted_domain_request' when calling BetaInstanceServiceApi.remove_trusted_domain"
        end

        result = remove_trusted_domain_with_http_info(beta_instance_service_remove_trusted_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_trusted_domain_with_http_info(beta_instance_service_remove_trusted_domain_request)
        if beta_instance_service_remove_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_remove_trusted_domain_request' when calling BetaInstanceServiceApi.remove_trusted_domain"
        end

        path = '/zitadel.instance.v2beta.InstanceService/RemoveTrustedDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_remove_trusted_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceRemoveTrustedDomainResponse',
          nil
        )
      end

      # Update Instance
      # Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Updates instance in context with the given name.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.write`
      # @param beta_instance_service_update_instance_request [BetaInstanceServiceUpdateInstanceRequest]

      # @return [BetaInstanceServiceUpdateInstanceResponse]
      # @raise [ApiError] if fails to make API call
      def update_instance(beta_instance_service_update_instance_request)
        if beta_instance_service_update_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_update_instance_request' when calling BetaInstanceServiceApi.update_instance"
        end

        result = update_instance_with_http_info(beta_instance_service_update_instance_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_instance_with_http_info(beta_instance_service_update_instance_request)
        if beta_instance_service_update_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_instance_service_update_instance_request' when calling BetaInstanceServiceApi.update_instance"
        end

        path = '/zitadel.instance.v2beta.InstanceService/UpdateInstance'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_instance_service_update_instance_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaInstanceServiceUpdateInstanceResponse',
          nil
        )
      end
    end
  end
end
