# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaSessionServiceApi provides methods for the BetaSessionService API group.
    class BetaSessionServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create a new session
      # Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_session_service_create_session_request [BetaSessionServiceCreateSessionRequest]

      # @return [BetaSessionServiceCreateSessionResponse]
      # @raise [ApiError] if fails to make API call
      def create_session(beta_session_service_create_session_request)
        if beta_session_service_create_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_create_session_request' when calling BetaSessionServiceApi.create_session"
        end

        result = create_session_with_http_info(beta_session_service_create_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_session_with_http_info(beta_session_service_create_session_request)
        if beta_session_service_create_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_create_session_request' when calling BetaSessionServiceApi.create_session"
        end

        path = '/zitadel.session.v2beta.SessionService/CreateSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_session_service_create_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSessionServiceCreateSessionResponse',
          nil
        )
      end

      # Terminate a session
      # Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_session_service_delete_session_request [BetaSessionServiceDeleteSessionRequest]

      # @return [BetaSessionServiceDeleteSessionResponse]
      # @raise [ApiError] if fails to make API call
      def delete_session(beta_session_service_delete_session_request)
        if beta_session_service_delete_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_delete_session_request' when calling BetaSessionServiceApi.delete_session"
        end

        result = delete_session_with_http_info(beta_session_service_delete_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_session_with_http_info(beta_session_service_delete_session_request)
        if beta_session_service_delete_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_delete_session_request' when calling BetaSessionServiceApi.delete_session"
        end

        path = '/zitadel.session.v2beta.SessionService/DeleteSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_session_service_delete_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSessionServiceDeleteSessionResponse',
          nil
        )
      end

      # GetSession a session
      # Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_session_service_get_session_request [BetaSessionServiceGetSessionRequest]

      # @return [BetaSessionServiceGetSessionResponse]
      # @raise [ApiError] if fails to make API call
      def get_session(beta_session_service_get_session_request)
        if beta_session_service_get_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_get_session_request' when calling BetaSessionServiceApi.get_session"
        end

        result = get_session_with_http_info(beta_session_service_get_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_session_with_http_info(beta_session_service_get_session_request)
        if beta_session_service_get_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_get_session_request' when calling BetaSessionServiceApi.get_session"
        end

        path = '/zitadel.session.v2beta.SessionService/GetSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_session_service_get_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSessionServiceGetSessionResponse',
          nil
        )
      end

      # Search sessions
      # Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_session_service_list_sessions_request [BetaSessionServiceListSessionsRequest]

      # @return [BetaSessionServiceListSessionsResponse]
      # @raise [ApiError] if fails to make API call
      def list_sessions(beta_session_service_list_sessions_request)
        if beta_session_service_list_sessions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_list_sessions_request' when calling BetaSessionServiceApi.list_sessions"
        end

        result = list_sessions_with_http_info(beta_session_service_list_sessions_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_sessions_with_http_info(beta_session_service_list_sessions_request)
        if beta_session_service_list_sessions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_list_sessions_request' when calling BetaSessionServiceApi.list_sessions"
        end

        path = '/zitadel.session.v2beta.SessionService/ListSessions'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_session_service_list_sessions_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSessionServiceListSessionsResponse',
          nil
        )
      end

      # Update a session
      # Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.
      # @param beta_session_service_set_session_request [BetaSessionServiceSetSessionRequest]

      # @return [BetaSessionServiceSetSessionResponse]
      # @raise [ApiError] if fails to make API call
      def set_session(beta_session_service_set_session_request)
        if beta_session_service_set_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_set_session_request' when calling BetaSessionServiceApi.set_session"
        end

        result = set_session_with_http_info(beta_session_service_set_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_session_with_http_info(beta_session_service_set_session_request)
        if beta_session_service_set_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_session_service_set_session_request' when calling BetaSessionServiceApi.set_session"
        end

        path = '/zitadel.session.v2beta.SessionService/SetSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_session_service_set_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaSessionServiceSetSessionResponse',
          nil
        )
      end
    end
  end
end
