# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaProjectServiceApi provides methods for the BetaProjectService API group.
    class BetaProjectServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Project
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`
      # @param beta_project_service_activate_project_request [BetaProjectServiceActivateProjectRequest]

      # @return [BetaProjectServiceActivateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def activate_project(beta_project_service_activate_project_request)
        if beta_project_service_activate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_activate_project_request' when calling BetaProjectServiceApi.activate_project"
        end

        result = activate_project_with_http_info(beta_project_service_activate_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_project_with_http_info(beta_project_service_activate_project_request)
        if beta_project_service_activate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_activate_project_request' when calling BetaProjectServiceApi.activate_project"
        end

        path = '/zitadel.project.v2beta.ProjectService/ActivateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_activate_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceActivateProjectResponse',
          nil
        )
      end

      # Activate Project Grant
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to activated.   Required permission:    - `project.grant.write`
      # @param beta_project_service_activate_project_grant_request [BetaProjectServiceActivateProjectGrantRequest]

      # @return [BetaProjectServiceActivateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def activate_project_grant(beta_project_service_activate_project_grant_request)
        if beta_project_service_activate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_activate_project_grant_request' when calling BetaProjectServiceApi.activate_project_grant"
        end

        result = activate_project_grant_with_http_info(beta_project_service_activate_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_project_grant_with_http_info(beta_project_service_activate_project_grant_request)
        if beta_project_service_activate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_activate_project_grant_request' when calling BetaProjectServiceApi.activate_project_grant"
        end

        path = '/zitadel.project.v2beta.ProjectService/ActivateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_activate_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceActivateProjectGrantResponse',
          nil
        )
      end

      # Add Project Role
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`
      # @param beta_project_service_add_project_role_request [BetaProjectServiceAddProjectRoleRequest]

      # @return [BetaProjectServiceAddProjectRoleResponse]
      # @raise [ApiError] if fails to make API call
      def add_project_role(beta_project_service_add_project_role_request)
        if beta_project_service_add_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_add_project_role_request' when calling BetaProjectServiceApi.add_project_role"
        end

        result = add_project_role_with_http_info(beta_project_service_add_project_role_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_project_role_with_http_info(beta_project_service_add_project_role_request)
        if beta_project_service_add_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_add_project_role_request' when calling BetaProjectServiceApi.add_project_role"
        end

        path = '/zitadel.project.v2beta.ProjectService/AddProjectRole'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_add_project_role_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceAddProjectRoleResponse',
          nil
        )
      end

      # Create Project
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new Project.   Required permission:    - `project.create`
      # @param beta_project_service_create_project_request [BetaProjectServiceCreateProjectRequest]

      # @return [BetaProjectServiceCreateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def create_project(beta_project_service_create_project_request)
        if beta_project_service_create_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_create_project_request' when calling BetaProjectServiceApi.create_project"
        end

        result = create_project_with_http_info(beta_project_service_create_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_project_with_http_info(beta_project_service_create_project_request)
        if beta_project_service_create_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_create_project_request' when calling BetaProjectServiceApi.create_project"
        end

        path = '/zitadel.project.v2beta.ProjectService/CreateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_create_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceCreateProjectResponse',
          nil
        )
      end

      # Create Project Grant
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.create`
      # @param beta_project_service_create_project_grant_request [BetaProjectServiceCreateProjectGrantRequest]

      # @return [BetaProjectServiceCreateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def create_project_grant(beta_project_service_create_project_grant_request)
        if beta_project_service_create_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_create_project_grant_request' when calling BetaProjectServiceApi.create_project_grant"
        end

        result = create_project_grant_with_http_info(beta_project_service_create_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_project_grant_with_http_info(beta_project_service_create_project_grant_request)
        if beta_project_service_create_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_create_project_grant_request' when calling BetaProjectServiceApi.create_project_grant"
        end

        path = '/zitadel.project.v2beta.ProjectService/CreateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_create_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceCreateProjectGrantResponse',
          nil
        )
      end

      # Deactivate Project
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`
      # @param beta_project_service_deactivate_project_request [BetaProjectServiceDeactivateProjectRequest]

      # @return [BetaProjectServiceDeactivateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_project(beta_project_service_deactivate_project_request)
        if beta_project_service_deactivate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_deactivate_project_request' when calling BetaProjectServiceApi.deactivate_project"
        end

        result = deactivate_project_with_http_info(beta_project_service_deactivate_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_project_with_http_info(beta_project_service_deactivate_project_request)
        if beta_project_service_deactivate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_deactivate_project_request' when calling BetaProjectServiceApi.deactivate_project"
        end

        path = '/zitadel.project.v2beta.ProjectService/DeactivateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_deactivate_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceDeactivateProjectResponse',
          nil
        )
      end

      # Deactivate Project Grant
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`
      # @param beta_project_service_deactivate_project_grant_request [BetaProjectServiceDeactivateProjectGrantRequest]

      # @return [BetaProjectServiceDeactivateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_project_grant(beta_project_service_deactivate_project_grant_request)
        if beta_project_service_deactivate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_deactivate_project_grant_request' when calling BetaProjectServiceApi.deactivate_project_grant"
        end

        result = deactivate_project_grant_with_http_info(beta_project_service_deactivate_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_project_grant_with_http_info(beta_project_service_deactivate_project_grant_request)
        if beta_project_service_deactivate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_deactivate_project_grant_request' when calling BetaProjectServiceApi.deactivate_project_grant"
        end

        path = '/zitadel.project.v2beta.ProjectService/DeactivateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_deactivate_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceDeactivateProjectGrantResponse',
          nil
        )
      end

      # Delete Project
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`
      # @param beta_project_service_delete_project_request [BetaProjectServiceDeleteProjectRequest]

      # @return [BetaProjectServiceDeleteProjectResponse]
      # @raise [ApiError] if fails to make API call
      def delete_project(beta_project_service_delete_project_request)
        if beta_project_service_delete_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_delete_project_request' when calling BetaProjectServiceApi.delete_project"
        end

        result = delete_project_with_http_info(beta_project_service_delete_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_project_with_http_info(beta_project_service_delete_project_request)
        if beta_project_service_delete_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_delete_project_request' when calling BetaProjectServiceApi.delete_project"
        end

        path = '/zitadel.project.v2beta.ProjectService/DeleteProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_delete_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceDeleteProjectResponse',
          nil
        )
      end

      # Delete Project Grant
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`
      # @param beta_project_service_delete_project_grant_request [BetaProjectServiceDeleteProjectGrantRequest]

      # @return [BetaProjectServiceDeleteProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def delete_project_grant(beta_project_service_delete_project_grant_request)
        if beta_project_service_delete_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_delete_project_grant_request' when calling BetaProjectServiceApi.delete_project_grant"
        end

        result = delete_project_grant_with_http_info(beta_project_service_delete_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_project_grant_with_http_info(beta_project_service_delete_project_grant_request)
        if beta_project_service_delete_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_delete_project_grant_request' when calling BetaProjectServiceApi.delete_project_grant"
        end

        path = '/zitadel.project.v2beta.ProjectService/DeleteProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_delete_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceDeleteProjectGrantResponse',
          nil
        )
      end

      # Get Project
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the project identified by the requested ID.   Required permission:    - `project.read`
      # @param beta_project_service_get_project_request [BetaProjectServiceGetProjectRequest]

      # @return [BetaProjectServiceGetProjectResponse]
      # @raise [ApiError] if fails to make API call
      def get_project(beta_project_service_get_project_request)
        if beta_project_service_get_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_get_project_request' when calling BetaProjectServiceApi.get_project"
        end

        result = get_project_with_http_info(beta_project_service_get_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_project_with_http_info(beta_project_service_get_project_request)
        if beta_project_service_get_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_get_project_request' when calling BetaProjectServiceApi.get_project"
        end

        path = '/zitadel.project.v2beta.ProjectService/GetProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_get_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceGetProjectResponse',
          nil
        )
      end

      # List Project Grants
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of project grants. A project grant is when the organization grants its project to another organization.   Required permission:    - `project.grant.write`
      # @param beta_project_service_list_project_grants_request [BetaProjectServiceListProjectGrantsRequest]

      # @return [BetaProjectServiceListProjectGrantsResponse]
      # @raise [ApiError] if fails to make API call
      def list_project_grants(beta_project_service_list_project_grants_request)
        if beta_project_service_list_project_grants_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_list_project_grants_request' when calling BetaProjectServiceApi.list_project_grants"
        end

        result = list_project_grants_with_http_info(beta_project_service_list_project_grants_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_project_grants_with_http_info(beta_project_service_list_project_grants_request)
        if beta_project_service_list_project_grants_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_list_project_grants_request' when calling BetaProjectServiceApi.list_project_grants"
        end

        path = '/zitadel.project.v2beta.ProjectService/ListProjectGrants'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_list_project_grants_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceListProjectGrantsResponse',
          nil
        )
      end

      # List Project Roles
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`
      # @param beta_project_service_list_project_roles_request [BetaProjectServiceListProjectRolesRequest]

      # @return [BetaProjectServiceListProjectRolesResponse]
      # @raise [ApiError] if fails to make API call
      def list_project_roles(beta_project_service_list_project_roles_request)
        if beta_project_service_list_project_roles_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_list_project_roles_request' when calling BetaProjectServiceApi.list_project_roles"
        end

        result = list_project_roles_with_http_info(beta_project_service_list_project_roles_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_project_roles_with_http_info(beta_project_service_list_project_roles_request)
        if beta_project_service_list_project_roles_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_list_project_roles_request' when calling BetaProjectServiceApi.list_project_roles"
        end

        path = '/zitadel.project.v2beta.ProjectService/ListProjectRoles'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_list_project_roles_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceListProjectRolesResponse',
          nil
        )
      end

      # List Projects
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching projects. By default all projects of the instance that the caller has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`
      # @param beta_project_service_list_projects_request [BetaProjectServiceListProjectsRequest]

      # @return [BetaProjectServiceListProjectsResponse]
      # @raise [ApiError] if fails to make API call
      def list_projects(beta_project_service_list_projects_request)
        if beta_project_service_list_projects_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_list_projects_request' when calling BetaProjectServiceApi.list_projects"
        end

        result = list_projects_with_http_info(beta_project_service_list_projects_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_projects_with_http_info(beta_project_service_list_projects_request)
        if beta_project_service_list_projects_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_list_projects_request' when calling BetaProjectServiceApi.list_projects"
        end

        path = '/zitadel.project.v2beta.ProjectService/ListProjects'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_list_projects_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceListProjectsResponse',
          nil
        )
      end

      # Remove Project Role
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes the role from the project and on every resource it has a dependency. This includes project grants and user grants.   Required permission:    - `project.role.write`
      # @param beta_project_service_remove_project_role_request [BetaProjectServiceRemoveProjectRoleRequest]

      # @return [BetaProjectServiceRemoveProjectRoleResponse]
      # @raise [ApiError] if fails to make API call
      def remove_project_role(beta_project_service_remove_project_role_request)
        if beta_project_service_remove_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_remove_project_role_request' when calling BetaProjectServiceApi.remove_project_role"
        end

        result = remove_project_role_with_http_info(beta_project_service_remove_project_role_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_project_role_with_http_info(beta_project_service_remove_project_role_request)
        if beta_project_service_remove_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_remove_project_role_request' when calling BetaProjectServiceApi.remove_project_role"
        end

        path = '/zitadel.project.v2beta.ProjectService/RemoveProjectRole'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_remove_project_role_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceRemoveProjectRoleResponse',
          nil
        )
      end

      # Update Project
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing project.   Required permission:    - `project.write`
      # @param beta_project_service_update_project_request [BetaProjectServiceUpdateProjectRequest]

      # @return [BetaProjectServiceUpdateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def update_project(beta_project_service_update_project_request)
        if beta_project_service_update_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_update_project_request' when calling BetaProjectServiceApi.update_project"
        end

        result = update_project_with_http_info(beta_project_service_update_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_project_with_http_info(beta_project_service_update_project_request)
        if beta_project_service_update_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_update_project_request' when calling BetaProjectServiceApi.update_project"
        end

        path = '/zitadel.project.v2beta.ProjectService/UpdateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_update_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceUpdateProjectResponse',
          nil
        )
      end

      # Update Project Grant
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.write`
      # @param beta_project_service_update_project_grant_request [BetaProjectServiceUpdateProjectGrantRequest]

      # @return [BetaProjectServiceUpdateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def update_project_grant(beta_project_service_update_project_grant_request)
        if beta_project_service_update_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_update_project_grant_request' when calling BetaProjectServiceApi.update_project_grant"
        end

        result = update_project_grant_with_http_info(beta_project_service_update_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_project_grant_with_http_info(beta_project_service_update_project_grant_request)
        if beta_project_service_update_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_update_project_grant_request' when calling BetaProjectServiceApi.update_project_grant"
        end

        path = '/zitadel.project.v2beta.ProjectService/UpdateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_update_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceUpdateProjectGrantResponse',
          nil
        )
      end

      # Update Project Role
      # Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`
      # @param beta_project_service_update_project_role_request [BetaProjectServiceUpdateProjectRoleRequest]

      # @return [BetaProjectServiceUpdateProjectRoleResponse]
      # @raise [ApiError] if fails to make API call
      def update_project_role(beta_project_service_update_project_role_request)
        if beta_project_service_update_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_update_project_role_request' when calling BetaProjectServiceApi.update_project_role"
        end

        result = update_project_role_with_http_info(beta_project_service_update_project_role_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_project_role_with_http_info(beta_project_service_update_project_role_request)
        if beta_project_service_update_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_project_service_update_project_role_request' when calling BetaProjectServiceApi.update_project_role"
        end

        path = '/zitadel.project.v2beta.ProjectService/UpdateProjectRole'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_project_service_update_project_role_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaProjectServiceUpdateProjectRoleResponse',
          nil
        )
      end
    end
  end
end
