# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaFeatureServiceApi provides methods for the BetaFeatureService API group.
    class BetaFeatureServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # GetInstanceFeatures
      # @param beta_feature_service_get_instance_features_request [BetaFeatureServiceGetInstanceFeaturesRequest]

      # @return [BetaFeatureServiceGetInstanceFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_instance_features(beta_feature_service_get_instance_features_request)
        if beta_feature_service_get_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_get_instance_features_request' when calling BetaFeatureServiceApi.get_instance_features"
        end

        result = get_instance_features_with_http_info(beta_feature_service_get_instance_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_instance_features_with_http_info(beta_feature_service_get_instance_features_request)
        if beta_feature_service_get_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_get_instance_features_request' when calling BetaFeatureServiceApi.get_instance_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/GetInstanceFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_get_instance_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceGetInstanceFeaturesResponse',
          nil
        )
      end

      # GetOrganizationFeatures
      # @param beta_feature_service_get_organization_features_request [BetaFeatureServiceGetOrganizationFeaturesRequest]

      # @return [BetaFeatureServiceGetOrganizationFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_organization_features(beta_feature_service_get_organization_features_request)
        if beta_feature_service_get_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_get_organization_features_request' when calling BetaFeatureServiceApi.get_organization_features"
        end

        result = get_organization_features_with_http_info(beta_feature_service_get_organization_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_organization_features_with_http_info(beta_feature_service_get_organization_features_request)
        if beta_feature_service_get_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_get_organization_features_request' when calling BetaFeatureServiceApi.get_organization_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/GetOrganizationFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_get_organization_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceGetOrganizationFeaturesResponse',
          nil
        )
      end

      # GetSystemFeatures
      # @param body [Object]

      # @return [BetaFeatureServiceGetSystemFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_system_features(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaFeatureServiceApi.get_system_features"
        end

        result = get_system_features_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_system_features_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaFeatureServiceApi.get_system_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/GetSystemFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceGetSystemFeaturesResponse',
          nil
        )
      end

      # GetUserFeatures
      # @param beta_feature_service_get_user_features_request [BetaFeatureServiceGetUserFeaturesRequest]

      # @return [BetaFeatureServiceGetUserFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_user_features(beta_feature_service_get_user_features_request)
        if beta_feature_service_get_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_get_user_features_request' when calling BetaFeatureServiceApi.get_user_features"
        end

        result = get_user_features_with_http_info(beta_feature_service_get_user_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_user_features_with_http_info(beta_feature_service_get_user_features_request)
        if beta_feature_service_get_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_get_user_features_request' when calling BetaFeatureServiceApi.get_user_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/GetUserFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_get_user_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceGetUserFeaturesResponse',
          nil
        )
      end

      # ResetInstanceFeatures
      # @param body [Object]

      # @return [BetaFeatureServiceResetInstanceFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_instance_features(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaFeatureServiceApi.reset_instance_features"
        end

        result = reset_instance_features_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_instance_features_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaFeatureServiceApi.reset_instance_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/ResetInstanceFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceResetInstanceFeaturesResponse',
          nil
        )
      end

      # ResetOrganizationFeatures
      # @param beta_feature_service_reset_organization_features_request [BetaFeatureServiceResetOrganizationFeaturesRequest]

      # @return [BetaFeatureServiceResetOrganizationFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_organization_features(beta_feature_service_reset_organization_features_request)
        if beta_feature_service_reset_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_reset_organization_features_request' when calling BetaFeatureServiceApi.reset_organization_features"
        end

        result = reset_organization_features_with_http_info(beta_feature_service_reset_organization_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_organization_features_with_http_info(beta_feature_service_reset_organization_features_request)
        if beta_feature_service_reset_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_reset_organization_features_request' when calling BetaFeatureServiceApi.reset_organization_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/ResetOrganizationFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_reset_organization_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceResetOrganizationFeaturesResponse',
          nil
        )
      end

      # ResetSystemFeatures
      # @param body [Object]

      # @return [BetaFeatureServiceResetSystemFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_system_features(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaFeatureServiceApi.reset_system_features"
        end

        result = reset_system_features_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_system_features_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaFeatureServiceApi.reset_system_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/ResetSystemFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceResetSystemFeaturesResponse',
          nil
        )
      end

      # ResetUserFeatures
      # @param beta_feature_service_reset_user_features_request [BetaFeatureServiceResetUserFeaturesRequest]

      # @return [BetaFeatureServiceResetUserFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_user_features(beta_feature_service_reset_user_features_request)
        if beta_feature_service_reset_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_reset_user_features_request' when calling BetaFeatureServiceApi.reset_user_features"
        end

        result = reset_user_features_with_http_info(beta_feature_service_reset_user_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_user_features_with_http_info(beta_feature_service_reset_user_features_request)
        if beta_feature_service_reset_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_reset_user_features_request' when calling BetaFeatureServiceApi.reset_user_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/ResetUserFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_reset_user_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceResetUserFeaturesResponse',
          nil
        )
      end

      # SetInstanceFeatures
      # @param beta_feature_service_set_instance_features_request [BetaFeatureServiceSetInstanceFeaturesRequest]

      # @return [BetaFeatureServiceSetInstanceFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_instance_features(beta_feature_service_set_instance_features_request)
        if beta_feature_service_set_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_instance_features_request' when calling BetaFeatureServiceApi.set_instance_features"
        end

        result = set_instance_features_with_http_info(beta_feature_service_set_instance_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_instance_features_with_http_info(beta_feature_service_set_instance_features_request)
        if beta_feature_service_set_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_instance_features_request' when calling BetaFeatureServiceApi.set_instance_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/SetInstanceFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_set_instance_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceSetInstanceFeaturesResponse',
          nil
        )
      end

      # SetOrganizationFeatures
      # @param beta_feature_service_set_organization_features_request [BetaFeatureServiceSetOrganizationFeaturesRequest]

      # @return [BetaFeatureServiceSetOrganizationFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_organization_features(beta_feature_service_set_organization_features_request)
        if beta_feature_service_set_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_organization_features_request' when calling BetaFeatureServiceApi.set_organization_features"
        end

        result = set_organization_features_with_http_info(beta_feature_service_set_organization_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_organization_features_with_http_info(beta_feature_service_set_organization_features_request)
        if beta_feature_service_set_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_organization_features_request' when calling BetaFeatureServiceApi.set_organization_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/SetOrganizationFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_set_organization_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceSetOrganizationFeaturesResponse',
          nil
        )
      end

      # SetSystemFeatures
      # @param beta_feature_service_set_system_features_request [BetaFeatureServiceSetSystemFeaturesRequest]

      # @return [BetaFeatureServiceSetSystemFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_system_features(beta_feature_service_set_system_features_request)
        if beta_feature_service_set_system_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_system_features_request' when calling BetaFeatureServiceApi.set_system_features"
        end

        result = set_system_features_with_http_info(beta_feature_service_set_system_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_system_features_with_http_info(beta_feature_service_set_system_features_request)
        if beta_feature_service_set_system_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_system_features_request' when calling BetaFeatureServiceApi.set_system_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/SetSystemFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_set_system_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceSetSystemFeaturesResponse',
          nil
        )
      end

      # SetUserFeatures
      # @param beta_feature_service_set_user_feature_request [BetaFeatureServiceSetUserFeatureRequest]

      # @return [BetaFeatureServiceSetUserFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_user_features(beta_feature_service_set_user_feature_request)
        if beta_feature_service_set_user_feature_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_user_feature_request' when calling BetaFeatureServiceApi.set_user_features"
        end

        result = set_user_features_with_http_info(beta_feature_service_set_user_feature_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_user_features_with_http_info(beta_feature_service_set_user_feature_request)
        if beta_feature_service_set_user_feature_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_feature_service_set_user_feature_request' when calling BetaFeatureServiceApi.set_user_features"
        end

        path = '/zitadel.feature.v2beta.FeatureService/SetUserFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_feature_service_set_user_feature_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaFeatureServiceSetUserFeaturesResponse',
          nil
        )
      end
    end
  end
end
