# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaActionServiceApi provides methods for the BetaActionService API group.
    class BetaActionServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create Target
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`
      # @param beta_action_service_create_target_request [BetaActionServiceCreateTargetRequest]

      # @return [BetaActionServiceCreateTargetResponse]
      # @raise [ApiError] if fails to make API call
      def create_target(beta_action_service_create_target_request)
        if beta_action_service_create_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_create_target_request' when calling BetaActionServiceApi.create_target"
        end

        result = create_target_with_http_info(beta_action_service_create_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_target_with_http_info(beta_action_service_create_target_request)
        if beta_action_service_create_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_create_target_request' when calling BetaActionServiceApi.create_target"
        end

        path = '/zitadel.action.v2beta.ActionService/CreateTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_action_service_create_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceCreateTargetResponse',
          nil
        )
      end

      # Delete Target
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`
      # @param beta_action_service_delete_target_request [BetaActionServiceDeleteTargetRequest]

      # @return [BetaActionServiceDeleteTargetResponse]
      # @raise [ApiError] if fails to make API call
      def delete_target(beta_action_service_delete_target_request)
        if beta_action_service_delete_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_delete_target_request' when calling BetaActionServiceApi.delete_target"
        end

        result = delete_target_with_http_info(beta_action_service_delete_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_target_with_http_info(beta_action_service_delete_target_request)
        if beta_action_service_delete_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_delete_target_request' when calling BetaActionServiceApi.delete_target"
        end

        path = '/zitadel.action.v2beta.ActionService/DeleteTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_action_service_delete_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceDeleteTargetResponse',
          nil
        )
      end

      # Get Target
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the target identified by the requested ID.   Required permission:    - `action.target.read`
      # @param beta_action_service_get_target_request [BetaActionServiceGetTargetRequest]

      # @return [BetaActionServiceGetTargetResponse]
      # @raise [ApiError] if fails to make API call
      def get_target(beta_action_service_get_target_request)
        if beta_action_service_get_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_get_target_request' when calling BetaActionServiceApi.get_target"
        end

        result = get_target_with_http_info(beta_action_service_get_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_target_with_http_info(beta_action_service_get_target_request)
        if beta_action_service_get_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_get_target_request' when calling BetaActionServiceApi.get_target"
        end

        path = '/zitadel.action.v2beta.ActionService/GetTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_action_service_get_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceGetTargetResponse',
          nil
        )
      end

      # List Execution Functions
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available functions which can be used as condition for executions.
      # @param body [Object]

      # @return [BetaActionServiceListExecutionFunctionsResponse]
      # @raise [ApiError] if fails to make API call
      def list_execution_functions(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaActionServiceApi.list_execution_functions"
        end

        result = list_execution_functions_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_execution_functions_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaActionServiceApi.list_execution_functions"
        end

        path = '/zitadel.action.v2beta.ActionService/ListExecutionFunctions'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceListExecutionFunctionsResponse',
          nil
        )
      end

      # List Execution Methods
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available methods which can be used as condition for executions.
      # @param body [Object]

      # @return [BetaActionServiceListExecutionMethodsResponse]
      # @raise [ApiError] if fails to make API call
      def list_execution_methods(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaActionServiceApi.list_execution_methods"
        end

        result = list_execution_methods_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_execution_methods_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaActionServiceApi.list_execution_methods"
        end

        path = '/zitadel.action.v2beta.ActionService/ListExecutionMethods'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceListExecutionMethodsResponse',
          nil
        )
      end

      # List Execution Services
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available services which can be used as condition for executions.
      # @param body [Object]

      # @return [BetaActionServiceListExecutionServicesResponse]
      # @raise [ApiError] if fails to make API call
      def list_execution_services(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaActionServiceApi.list_execution_services"
        end

        result = list_execution_services_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_execution_services_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling BetaActionServiceApi.list_execution_services"
        end

        path = '/zitadel.action.v2beta.ActionService/ListExecutionServices'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceListExecutionServicesResponse',
          nil
        )
      end

      # List Executions
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`
      # @param beta_action_service_list_executions_request [BetaActionServiceListExecutionsRequest]

      # @return [BetaActionServiceListExecutionsResponse]
      # @raise [ApiError] if fails to make API call
      def list_executions(beta_action_service_list_executions_request)
        if beta_action_service_list_executions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_list_executions_request' when calling BetaActionServiceApi.list_executions"
        end

        result = list_executions_with_http_info(beta_action_service_list_executions_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_executions_with_http_info(beta_action_service_list_executions_request)
        if beta_action_service_list_executions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_list_executions_request' when calling BetaActionServiceApi.list_executions"
        end

        path = '/zitadel.action.v2beta.ActionService/ListExecutions'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_action_service_list_executions_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceListExecutionsResponse',
          nil
        )
      end

      # List targets
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`
      # @param beta_action_service_list_targets_request [BetaActionServiceListTargetsRequest]

      # @return [BetaActionServiceListTargetsResponse]
      # @raise [ApiError] if fails to make API call
      def list_targets(beta_action_service_list_targets_request)
        if beta_action_service_list_targets_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_list_targets_request' when calling BetaActionServiceApi.list_targets"
        end

        result = list_targets_with_http_info(beta_action_service_list_targets_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_targets_with_http_info(beta_action_service_list_targets_request)
        if beta_action_service_list_targets_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_list_targets_request' when calling BetaActionServiceApi.list_targets"
        end

        path = '/zitadel.action.v2beta.ActionService/ListTargets'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_action_service_list_targets_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceListTargetsResponse',
          nil
        )
      end

      # Set Execution
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`
      # @param beta_action_service_set_execution_request [BetaActionServiceSetExecutionRequest]

      # @return [BetaActionServiceSetExecutionResponse]
      # @raise [ApiError] if fails to make API call
      def set_execution(beta_action_service_set_execution_request)
        if beta_action_service_set_execution_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_set_execution_request' when calling BetaActionServiceApi.set_execution"
        end

        result = set_execution_with_http_info(beta_action_service_set_execution_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_execution_with_http_info(beta_action_service_set_execution_request)
        if beta_action_service_set_execution_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_set_execution_request' when calling BetaActionServiceApi.set_execution"
        end

        path = '/zitadel.action.v2beta.ActionService/SetExecution'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_action_service_set_execution_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceSetExecutionResponse',
          nil
        )
      end

      # Update Target
      # Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`
      # @param beta_action_service_update_target_request [BetaActionServiceUpdateTargetRequest]

      # @return [BetaActionServiceUpdateTargetResponse]
      # @raise [ApiError] if fails to make API call
      def update_target(beta_action_service_update_target_request)
        if beta_action_service_update_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_update_target_request' when calling BetaActionServiceApi.update_target"
        end

        result = update_target_with_http_info(beta_action_service_update_target_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_target_with_http_info(beta_action_service_update_target_request)
        if beta_action_service_update_target_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_action_service_update_target_request' when calling BetaActionServiceApi.update_target"
        end

        path = '/zitadel.action.v2beta.ActionService/UpdateTarget'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_action_service_update_target_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaActionServiceUpdateTargetResponse',
          nil
        )
      end
    end
  end
end
