# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaOrganizationServiceApi provides methods for the BetaOrganizationService API group.
    class BetaOrganizationServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Organization
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`
      # @param beta_organization_service_activate_organization_request [BetaOrganizationServiceActivateOrganizationRequest]

      # @return [BetaOrganizationServiceActivateOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def activate_organization(beta_organization_service_activate_organization_request)
        if beta_organization_service_activate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_activate_organization_request' when calling BetaOrganizationServiceApi.activate_organization"
        end

        result = activate_organization_with_http_info(beta_organization_service_activate_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_organization_with_http_info(beta_organization_service_activate_organization_request)
        if beta_organization_service_activate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_activate_organization_request' when calling BetaOrganizationServiceApi.activate_organization"
        end

        path = '/zitadel.org.v2beta.OrganizationService/ActivateOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_activate_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceActivateOrganizationResponse',
          nil
        )
      end

      # Add Organization Domain
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`
      # @param beta_organization_service_add_organization_domain_request [BetaOrganizationServiceAddOrganizationDomainRequest]

      # @return [BetaOrganizationServiceAddOrganizationDomainResponse]
      # @raise [ApiError] if fails to make API call
      def add_organization_domain(beta_organization_service_add_organization_domain_request)
        if beta_organization_service_add_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_add_organization_domain_request' when calling BetaOrganizationServiceApi.add_organization_domain"
        end

        result = add_organization_domain_with_http_info(beta_organization_service_add_organization_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_organization_domain_with_http_info(beta_organization_service_add_organization_domain_request)
        if beta_organization_service_add_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_add_organization_domain_request' when calling BetaOrganizationServiceApi.add_organization_domain"
        end

        path = '/zitadel.org.v2beta.OrganizationService/AddOrganizationDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_add_organization_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceAddOrganizationDomainResponse',
          nil
        )
      end

      # Create Organization
      # Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`   Deprecated: Use [AddOrganization](/apis/resources/org_service_v2/organization-service-add-organization.api.mdx) instead to create an organization.
      # @param beta_organization_service_create_organization_request [BetaOrganizationServiceCreateOrganizationRequest]

      # @return [BetaOrganizationServiceCreateOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def create_organization(beta_organization_service_create_organization_request)
        if beta_organization_service_create_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_create_organization_request' when calling BetaOrganizationServiceApi.create_organization"
        end

        result = create_organization_with_http_info(beta_organization_service_create_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_organization_with_http_info(beta_organization_service_create_organization_request)
        if beta_organization_service_create_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_create_organization_request' when calling BetaOrganizationServiceApi.create_organization"
        end

        path = '/zitadel.org.v2beta.OrganizationService/CreateOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_create_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceCreateOrganizationResponse',
          nil
        )
      end

      # Deactivate Organization
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`
      # @param beta_organization_service_deactivate_organization_request [BetaOrganizationServiceDeactivateOrganizationRequest]

      # @return [BetaOrganizationServiceDeactivateOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_organization(beta_organization_service_deactivate_organization_request)
        if beta_organization_service_deactivate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_deactivate_organization_request' when calling BetaOrganizationServiceApi.deactivate_organization"
        end

        result = deactivate_organization_with_http_info(beta_organization_service_deactivate_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_organization_with_http_info(beta_organization_service_deactivate_organization_request)
        if beta_organization_service_deactivate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_deactivate_organization_request' when calling BetaOrganizationServiceApi.deactivate_organization"
        end

        path = '/zitadel.org.v2beta.OrganizationService/DeactivateOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_deactivate_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceDeactivateOrganizationResponse',
          nil
        )
      end

      # Delete Organization
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`
      # @param beta_organization_service_delete_organization_request [BetaOrganizationServiceDeleteOrganizationRequest]

      # @return [BetaOrganizationServiceDeleteOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def delete_organization(beta_organization_service_delete_organization_request)
        if beta_organization_service_delete_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_delete_organization_request' when calling BetaOrganizationServiceApi.delete_organization"
        end

        result = delete_organization_with_http_info(beta_organization_service_delete_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_organization_with_http_info(beta_organization_service_delete_organization_request)
        if beta_organization_service_delete_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_delete_organization_request' when calling BetaOrganizationServiceApi.delete_organization"
        end

        path = '/zitadel.org.v2beta.OrganizationService/DeleteOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_delete_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceDeleteOrganizationResponse',
          nil
        )
      end

      # Delete Organization Domain
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`
      # @param beta_organization_service_delete_organization_domain_request [BetaOrganizationServiceDeleteOrganizationDomainRequest]

      # @return [BetaOrganizationServiceDeleteOrganizationDomainResponse]
      # @raise [ApiError] if fails to make API call
      def delete_organization_domain(beta_organization_service_delete_organization_domain_request)
        if beta_organization_service_delete_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_delete_organization_domain_request' when calling BetaOrganizationServiceApi.delete_organization_domain"
        end

        result = delete_organization_domain_with_http_info(beta_organization_service_delete_organization_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_organization_domain_with_http_info(beta_organization_service_delete_organization_domain_request)
        if beta_organization_service_delete_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_delete_organization_domain_request' when calling BetaOrganizationServiceApi.delete_organization_domain"
        end

        path = '/zitadel.org.v2beta.OrganizationService/DeleteOrganizationDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_delete_organization_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceDeleteOrganizationDomainResponse',
          nil
        )
      end

      # Delete Organization Metadata
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`
      # @param beta_organization_service_delete_organization_metadata_request [BetaOrganizationServiceDeleteOrganizationMetadataRequest]

      # @return [BetaOrganizationServiceDeleteOrganizationMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def delete_organization_metadata(beta_organization_service_delete_organization_metadata_request)
        if beta_organization_service_delete_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_delete_organization_metadata_request' when calling BetaOrganizationServiceApi.delete_organization_metadata"
        end

        result = delete_organization_metadata_with_http_info(beta_organization_service_delete_organization_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_organization_metadata_with_http_info(beta_organization_service_delete_organization_metadata_request)
        if beta_organization_service_delete_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_delete_organization_metadata_request' when calling BetaOrganizationServiceApi.delete_organization_metadata"
        end

        path = '/zitadel.org.v2beta.OrganizationService/DeleteOrganizationMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_delete_organization_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceDeleteOrganizationMetadataResponse',
          nil
        )
      end

      # Generate Organization Domain Validation
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`
      # @param beta_organization_service_generate_organization_domain_validation_request [BetaOrganizationServiceGenerateOrganizationDomainValidationRequest]

      # @return [BetaOrganizationServiceGenerateOrganizationDomainValidationResponse]
      # @raise [ApiError] if fails to make API call
      def generate_organization_domain_validation(beta_organization_service_generate_organization_domain_validation_request)
        if beta_organization_service_generate_organization_domain_validation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_generate_organization_domain_validation_request' when calling BetaOrganizationServiceApi.generate_organization_domain_validation"
        end

        result = generate_organization_domain_validation_with_http_info(beta_organization_service_generate_organization_domain_validation_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def generate_organization_domain_validation_with_http_info(beta_organization_service_generate_organization_domain_validation_request)
        if beta_organization_service_generate_organization_domain_validation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_generate_organization_domain_validation_request' when calling BetaOrganizationServiceApi.generate_organization_domain_validation"
        end

        path = '/zitadel.org.v2beta.OrganizationService/GenerateOrganizationDomainValidation'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_generate_organization_domain_validation_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceGenerateOrganizationDomainValidationResponse',
          nil
        )
      end

      # List Organization Domains
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.    Required permission:   - `org.read`
      # @param beta_organization_service_list_organization_domains_request [BetaOrganizationServiceListOrganizationDomainsRequest]

      # @return [BetaOrganizationServiceListOrganizationDomainsResponse]
      # @raise [ApiError] if fails to make API call
      def list_organization_domains(beta_organization_service_list_organization_domains_request)
        if beta_organization_service_list_organization_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_list_organization_domains_request' when calling BetaOrganizationServiceApi.list_organization_domains"
        end

        result = list_organization_domains_with_http_info(beta_organization_service_list_organization_domains_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_organization_domains_with_http_info(beta_organization_service_list_organization_domains_request)
        if beta_organization_service_list_organization_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_list_organization_domains_request' when calling BetaOrganizationServiceApi.list_organization_domains"
        end

        path = '/zitadel.org.v2beta.OrganizationService/ListOrganizationDomains'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_list_organization_domains_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceListOrganizationDomainsResponse',
          nil
        )
      end

      # List Organization Metadata
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   List metadata of an organization filtered by query.   Required permission:   - `org.read`
      # @param beta_organization_service_list_organization_metadata_request [BetaOrganizationServiceListOrganizationMetadataRequest]

      # @return [BetaOrganizationServiceListOrganizationMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def list_organization_metadata(beta_organization_service_list_organization_metadata_request)
        if beta_organization_service_list_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_list_organization_metadata_request' when calling BetaOrganizationServiceApi.list_organization_metadata"
        end

        result = list_organization_metadata_with_http_info(beta_organization_service_list_organization_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_organization_metadata_with_http_info(beta_organization_service_list_organization_metadata_request)
        if beta_organization_service_list_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_list_organization_metadata_request' when calling BetaOrganizationServiceApi.list_organization_metadata"
        end

        path = '/zitadel.org.v2beta.OrganizationService/ListOrganizationMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_list_organization_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceListOrganizationMetadataResponse',
          nil
        )
      end

      # List Organizations
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of organizations that match the requesting filters. All filters are applied with an AND condition.   Required permission:   - `org.read`   Deprecated: Use [ListOrganizations](/apis/resources/org_service_v2/organization-service-list-organizations.api.mdx) instead to list organizations.
      # @param beta_organization_service_list_organizations_request [BetaOrganizationServiceListOrganizationsRequest]

      # @return [BetaOrganizationServiceListOrganizationsResponse]
      # @raise [ApiError] if fails to make API call
      def list_organizations(beta_organization_service_list_organizations_request)
        if beta_organization_service_list_organizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_list_organizations_request' when calling BetaOrganizationServiceApi.list_organizations"
        end

        result = list_organizations_with_http_info(beta_organization_service_list_organizations_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_organizations_with_http_info(beta_organization_service_list_organizations_request)
        if beta_organization_service_list_organizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_list_organizations_request' when calling BetaOrganizationServiceApi.list_organizations"
        end

        path = '/zitadel.org.v2beta.OrganizationService/ListOrganizations'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_list_organizations_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceListOrganizationsResponse',
          nil
        )
      end

      # Set Organization Metadata
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`
      # @param beta_organization_service_set_organization_metadata_request [BetaOrganizationServiceSetOrganizationMetadataRequest]

      # @return [BetaOrganizationServiceSetOrganizationMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def set_organization_metadata(beta_organization_service_set_organization_metadata_request)
        if beta_organization_service_set_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_set_organization_metadata_request' when calling BetaOrganizationServiceApi.set_organization_metadata"
        end

        result = set_organization_metadata_with_http_info(beta_organization_service_set_organization_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_organization_metadata_with_http_info(beta_organization_service_set_organization_metadata_request)
        if beta_organization_service_set_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_set_organization_metadata_request' when calling BetaOrganizationServiceApi.set_organization_metadata"
        end

        path = '/zitadel.org.v2beta.OrganizationService/SetOrganizationMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_set_organization_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceSetOrganizationMetadataResponse',
          nil
        )
      end

      # Update Organization
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the name of the organization.   Required permission:   - `org.write`
      # @param beta_organization_service_update_organization_request [BetaOrganizationServiceUpdateOrganizationRequest]

      # @return [BetaOrganizationServiceUpdateOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def update_organization(beta_organization_service_update_organization_request)
        if beta_organization_service_update_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_update_organization_request' when calling BetaOrganizationServiceApi.update_organization"
        end

        result = update_organization_with_http_info(beta_organization_service_update_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_organization_with_http_info(beta_organization_service_update_organization_request)
        if beta_organization_service_update_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_update_organization_request' when calling BetaOrganizationServiceApi.update_organization"
        end

        path = '/zitadel.org.v2beta.OrganizationService/UpdateOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_update_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceUpdateOrganizationResponse',
          nil
        )
      end

      # Verify Organization Domain
      # Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`
      # @param beta_organization_service_verify_organization_domain_request [BetaOrganizationServiceVerifyOrganizationDomainRequest]

      # @return [BetaOrganizationServiceVerifyOrganizationDomainResponse]
      # @raise [ApiError] if fails to make API call
      def verify_organization_domain(beta_organization_service_verify_organization_domain_request)
        if beta_organization_service_verify_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_verify_organization_domain_request' when calling BetaOrganizationServiceApi.verify_organization_domain"
        end

        result = verify_organization_domain_with_http_info(beta_organization_service_verify_organization_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def verify_organization_domain_with_http_info(beta_organization_service_verify_organization_domain_request)
        if beta_organization_service_verify_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_organization_service_verify_organization_domain_request' when calling BetaOrganizationServiceApi.verify_organization_domain"
        end

        path = '/zitadel.org.v2beta.OrganizationService/VerifyOrganizationDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_organization_service_verify_organization_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaOrganizationServiceVerifyOrganizationDomainResponse',
          nil
        )
      end
    end
  end
end
