# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaAuthorizationServiceApi provides methods for the BetaAuthorizationService API group.
    class BetaAuthorizationServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Authorization
      # Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"
      # @param beta_authorization_service_activate_authorization_request [BetaAuthorizationServiceActivateAuthorizationRequest]

      # @return [BetaAuthorizationServiceActivateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def activate_authorization(beta_authorization_service_activate_authorization_request)
        if beta_authorization_service_activate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_activate_authorization_request' when calling BetaAuthorizationServiceApi.activate_authorization"
        end

        result = activate_authorization_with_http_info(beta_authorization_service_activate_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_authorization_with_http_info(beta_authorization_service_activate_authorization_request)
        if beta_authorization_service_activate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_activate_authorization_request' when calling BetaAuthorizationServiceApi.activate_authorization"
        end

        path = '/zitadel.authorization.v2beta.AuthorizationService/ActivateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_authorization_service_activate_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAuthorizationServiceActivateAuthorizationResponse',
          nil
        )
      end

      # Create Authorization
      # Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"
      # @param beta_authorization_service_create_authorization_request [BetaAuthorizationServiceCreateAuthorizationRequest]

      # @return [BetaAuthorizationServiceCreateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def create_authorization(beta_authorization_service_create_authorization_request)
        if beta_authorization_service_create_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_create_authorization_request' when calling BetaAuthorizationServiceApi.create_authorization"
        end

        result = create_authorization_with_http_info(beta_authorization_service_create_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_authorization_with_http_info(beta_authorization_service_create_authorization_request)
        if beta_authorization_service_create_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_create_authorization_request' when calling BetaAuthorizationServiceApi.create_authorization"
        end

        path = '/zitadel.authorization.v2beta.AuthorizationService/CreateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_authorization_service_create_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAuthorizationServiceCreateAuthorizationResponse',
          nil
        )
      end

      # Deactivate Authorization
      # Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"
      # @param beta_authorization_service_deactivate_authorization_request [BetaAuthorizationServiceDeactivateAuthorizationRequest]

      # @return [BetaAuthorizationServiceDeactivateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_authorization(beta_authorization_service_deactivate_authorization_request)
        if beta_authorization_service_deactivate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_deactivate_authorization_request' when calling BetaAuthorizationServiceApi.deactivate_authorization"
        end

        result = deactivate_authorization_with_http_info(beta_authorization_service_deactivate_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_authorization_with_http_info(beta_authorization_service_deactivate_authorization_request)
        if beta_authorization_service_deactivate_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_deactivate_authorization_request' when calling BetaAuthorizationServiceApi.deactivate_authorization"
        end

        path = '/zitadel.authorization.v2beta.AuthorizationService/DeactivateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_authorization_service_deactivate_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAuthorizationServiceDeactivateAuthorizationResponse',
          nil
        )
      end

      # Delete Authorization
      # Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"
      # @param beta_authorization_service_delete_authorization_request [BetaAuthorizationServiceDeleteAuthorizationRequest]

      # @return [BetaAuthorizationServiceDeleteAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def delete_authorization(beta_authorization_service_delete_authorization_request)
        if beta_authorization_service_delete_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_delete_authorization_request' when calling BetaAuthorizationServiceApi.delete_authorization"
        end

        result = delete_authorization_with_http_info(beta_authorization_service_delete_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_authorization_with_http_info(beta_authorization_service_delete_authorization_request)
        if beta_authorization_service_delete_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_delete_authorization_request' when calling BetaAuthorizationServiceApi.delete_authorization"
        end

        path = '/zitadel.authorization.v2beta.AuthorizationService/DeleteAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_authorization_service_delete_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAuthorizationServiceDeleteAuthorizationResponse',
          nil
        )
      end

      # List Authorizations
      # Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations
      # @param beta_authorization_service_list_authorizations_request [BetaAuthorizationServiceListAuthorizationsRequest]

      # @return [BetaAuthorizationServiceListAuthorizationsResponse]
      # @raise [ApiError] if fails to make API call
      def list_authorizations(beta_authorization_service_list_authorizations_request)
        if beta_authorization_service_list_authorizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_list_authorizations_request' when calling BetaAuthorizationServiceApi.list_authorizations"
        end

        result = list_authorizations_with_http_info(beta_authorization_service_list_authorizations_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_authorizations_with_http_info(beta_authorization_service_list_authorizations_request)
        if beta_authorization_service_list_authorizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_list_authorizations_request' when calling BetaAuthorizationServiceApi.list_authorizations"
        end

        path = '/zitadel.authorization.v2beta.AuthorizationService/ListAuthorizations'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_authorization_service_list_authorizations_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAuthorizationServiceListAuthorizationsResponse',
          nil
        )
      end

      # Update Authorization
      # Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"
      # @param beta_authorization_service_update_authorization_request [BetaAuthorizationServiceUpdateAuthorizationRequest]

      # @return [BetaAuthorizationServiceUpdateAuthorizationResponse]
      # @raise [ApiError] if fails to make API call
      def update_authorization(beta_authorization_service_update_authorization_request)
        if beta_authorization_service_update_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_update_authorization_request' when calling BetaAuthorizationServiceApi.update_authorization"
        end

        result = update_authorization_with_http_info(beta_authorization_service_update_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_authorization_with_http_info(beta_authorization_service_update_authorization_request)
        if beta_authorization_service_update_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_authorization_service_update_authorization_request' when calling BetaAuthorizationServiceApi.update_authorization"
        end

        path = '/zitadel.authorization.v2beta.AuthorizationService/UpdateAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_authorization_service_update_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAuthorizationServiceUpdateAuthorizationResponse',
          nil
        )
      end
    end
  end
end
