# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaAppServiceApi provides methods for the BetaAppService API group.
    class BetaAppServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create Application
      # Deprecated: use [application service v2 CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx) instead.   Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write
      # @param beta_app_service_create_application_request [BetaAppServiceCreateApplicationRequest]

      # @return [BetaAppServiceCreateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def create_application(beta_app_service_create_application_request)
        if beta_app_service_create_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_create_application_request' when calling BetaAppServiceApi.create_application"
        end

        result = create_application_with_http_info(beta_app_service_create_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_application_with_http_info(beta_app_service_create_application_request)
        if beta_app_service_create_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_create_application_request' when calling BetaAppServiceApi.create_application"
        end

        path = '/zitadel.app.v2beta.AppService/CreateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_create_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceCreateApplicationResponse',
          nil
        )
      end

      # Create Application Key
      # Deprecated: use [application service v2 CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx) instead.   Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`
      # @param beta_app_service_create_application_key_request [BetaAppServiceCreateApplicationKeyRequest]

      # @return [BetaAppServiceCreateApplicationKeyResponse]
      # @raise [ApiError] if fails to make API call
      def create_application_key(beta_app_service_create_application_key_request)
        if beta_app_service_create_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_create_application_key_request' when calling BetaAppServiceApi.create_application_key"
        end

        result = create_application_key_with_http_info(beta_app_service_create_application_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_application_key_with_http_info(beta_app_service_create_application_key_request)
        if beta_app_service_create_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_create_application_key_request' when calling BetaAppServiceApi.create_application_key"
        end

        path = '/zitadel.app.v2beta.AppService/CreateApplicationKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_create_application_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceCreateApplicationKeyResponse',
          nil
        )
      end

      # Deactivate Application
      # Deprecated: use [application service v2 DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx) instead.   Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
      # @param beta_app_service_deactivate_application_request [BetaAppServiceDeactivateApplicationRequest]

      # @return [BetaAppServiceDeactivateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_application(beta_app_service_deactivate_application_request)
        if beta_app_service_deactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_deactivate_application_request' when calling BetaAppServiceApi.deactivate_application"
        end

        result = deactivate_application_with_http_info(beta_app_service_deactivate_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_application_with_http_info(beta_app_service_deactivate_application_request)
        if beta_app_service_deactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_deactivate_application_request' when calling BetaAppServiceApi.deactivate_application"
        end

        path = '/zitadel.app.v2beta.AppService/DeactivateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_deactivate_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceDeactivateApplicationResponse',
          nil
        )
      end

      # Delete Application
      # Deprecated: use [application service v2 DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx) instead.   Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete
      # @param beta_app_service_delete_application_request [BetaAppServiceDeleteApplicationRequest]

      # @return [BetaAppServiceDeleteApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def delete_application(beta_app_service_delete_application_request)
        if beta_app_service_delete_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_delete_application_request' when calling BetaAppServiceApi.delete_application"
        end

        result = delete_application_with_http_info(beta_app_service_delete_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_application_with_http_info(beta_app_service_delete_application_request)
        if beta_app_service_delete_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_delete_application_request' when calling BetaAppServiceApi.delete_application"
        end

        path = '/zitadel.app.v2beta.AppService/DeleteApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_delete_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceDeleteApplicationResponse',
          nil
        )
      end

      # Delete Application Key
      # Deprecated: use [application service v2 DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx) instead.   Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`
      # @param beta_app_service_delete_application_key_request [BetaAppServiceDeleteApplicationKeyRequest]

      # @return [BetaAppServiceDeleteApplicationKeyResponse]
      # @raise [ApiError] if fails to make API call
      def delete_application_key(beta_app_service_delete_application_key_request)
        if beta_app_service_delete_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_delete_application_key_request' when calling BetaAppServiceApi.delete_application_key"
        end

        result = delete_application_key_with_http_info(beta_app_service_delete_application_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_application_key_with_http_info(beta_app_service_delete_application_key_request)
        if beta_app_service_delete_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_delete_application_key_request' when calling BetaAppServiceApi.delete_application_key"
        end

        path = '/zitadel.app.v2beta.AppService/DeleteApplicationKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_delete_application_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceDeleteApplicationKeyResponse',
          nil
        )
      end

      # Get Application
      # Deprecated: use [application service v2 GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx) instead.   Retrieves the application matching the provided ID.   Required permissions:    - project.app.read
      # @param beta_app_service_get_application_request [BetaAppServiceGetApplicationRequest]

      # @return [BetaAppServiceGetApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def get_application(beta_app_service_get_application_request)
        if beta_app_service_get_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_get_application_request' when calling BetaAppServiceApi.get_application"
        end

        result = get_application_with_http_info(beta_app_service_get_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_application_with_http_info(beta_app_service_get_application_request)
        if beta_app_service_get_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_get_application_request' when calling BetaAppServiceApi.get_application"
        end

        path = '/zitadel.app.v2beta.AppService/GetApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_get_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceGetApplicationResponse',
          nil
        )
      end

      # Get Application Key
      # Deprecated: use [application service v2 GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx) instead.   Retrieves the application key matching the provided ID.   Specifying a project, organization and app ID is optional but help with filtering/performance.   Required permissions:    - project.app.read
      # @param beta_app_service_get_application_key_request [BetaAppServiceGetApplicationKeyRequest]

      # @return [BetaAppServiceGetApplicationKeyResponse]
      # @raise [ApiError] if fails to make API call
      def get_application_key(beta_app_service_get_application_key_request)
        if beta_app_service_get_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_get_application_key_request' when calling BetaAppServiceApi.get_application_key"
        end

        result = get_application_key_with_http_info(beta_app_service_get_application_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_application_key_with_http_info(beta_app_service_get_application_key_request)
        if beta_app_service_get_application_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_get_application_key_request' when calling BetaAppServiceApi.get_application_key"
        end

        path = '/zitadel.app.v2beta.AppService/GetApplicationKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_get_application_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceGetApplicationKeyResponse',
          nil
        )
      end

      # List Application Keys
      # Deprecated: use [application service v2 ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx) instead.   Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by app, project or organization ID.   Required permissions:    - project.app.read
      # @param beta_app_service_list_application_keys_request [BetaAppServiceListApplicationKeysRequest]

      # @return [BetaAppServiceListApplicationKeysResponse]
      # @raise [ApiError] if fails to make API call
      def list_application_keys(beta_app_service_list_application_keys_request)
        if beta_app_service_list_application_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_list_application_keys_request' when calling BetaAppServiceApi.list_application_keys"
        end

        result = list_application_keys_with_http_info(beta_app_service_list_application_keys_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_application_keys_with_http_info(beta_app_service_list_application_keys_request)
        if beta_app_service_list_application_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_list_application_keys_request' when calling BetaAppServiceApi.list_application_keys"
        end

        path = '/zitadel.app.v2beta.AppService/ListApplicationKeys'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_list_application_keys_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceListApplicationKeysResponse',
          nil
        )
      end

      # List Applications
      # Deprecated: use [application service v2 ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx) instead.   Returns a list of applications matching the input parameters that belong to the provided  project.   The result can be sorted by app id, name, creation date, change date or state. It can also  be filtered by app state, app type and app name.   Required permissions:    - project.app.read
      # @param beta_app_service_list_applications_request [BetaAppServiceListApplicationsRequest]

      # @return [BetaAppServiceListApplicationsResponse]
      # @raise [ApiError] if fails to make API call
      def list_applications(beta_app_service_list_applications_request)
        if beta_app_service_list_applications_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_list_applications_request' when calling BetaAppServiceApi.list_applications"
        end

        result = list_applications_with_http_info(beta_app_service_list_applications_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_applications_with_http_info(beta_app_service_list_applications_request)
        if beta_app_service_list_applications_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_list_applications_request' when calling BetaAppServiceApi.list_applications"
        end

        path = '/zitadel.app.v2beta.AppService/ListApplications'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_list_applications_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceListApplicationsResponse',
          nil
        )
      end

      # Reactivate Application
      # Deprecated: use [application service v2 ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx) instead.   Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
      # @param beta_app_service_reactivate_application_request [BetaAppServiceReactivateApplicationRequest]

      # @return [BetaAppServiceReactivateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def reactivate_application(beta_app_service_reactivate_application_request)
        if beta_app_service_reactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_reactivate_application_request' when calling BetaAppServiceApi.reactivate_application"
        end

        result = reactivate_application_with_http_info(beta_app_service_reactivate_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reactivate_application_with_http_info(beta_app_service_reactivate_application_request)
        if beta_app_service_reactivate_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_reactivate_application_request' when calling BetaAppServiceApi.reactivate_application"
        end

        path = '/zitadel.app.v2beta.AppService/ReactivateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_reactivate_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceReactivateApplicationResponse',
          nil
        )
      end

      # Regenerate Client Secret
      # Deprecated: use [application service v2 GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx) instead.   Regenerates the client secret of an API or OIDC application that belongs to the input project.    Required permissions:    - project.app.write
      # @param beta_app_service_regenerate_client_secret_request [BetaAppServiceRegenerateClientSecretRequest]

      # @return [BetaAppServiceRegenerateClientSecretResponse]
      # @raise [ApiError] if fails to make API call
      def regenerate_client_secret(beta_app_service_regenerate_client_secret_request)
        if beta_app_service_regenerate_client_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_regenerate_client_secret_request' when calling BetaAppServiceApi.regenerate_client_secret"
        end

        result = regenerate_client_secret_with_http_info(beta_app_service_regenerate_client_secret_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def regenerate_client_secret_with_http_info(beta_app_service_regenerate_client_secret_request)
        if beta_app_service_regenerate_client_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_regenerate_client_secret_request' when calling BetaAppServiceApi.regenerate_client_secret"
        end

        path = '/zitadel.app.v2beta.AppService/RegenerateClientSecret'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_regenerate_client_secret_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceRegenerateClientSecretResponse',
          nil
        )
      end

      # Update Application
      # Deprecated: use [application service v2 UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx) instead.   Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write
      # @param beta_app_service_update_application_request [BetaAppServiceUpdateApplicationRequest]

      # @return [BetaAppServiceUpdateApplicationResponse]
      # @raise [ApiError] if fails to make API call
      def update_application(beta_app_service_update_application_request)
        if beta_app_service_update_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_update_application_request' when calling BetaAppServiceApi.update_application"
        end

        result = update_application_with_http_info(beta_app_service_update_application_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_application_with_http_info(beta_app_service_update_application_request)
        if beta_app_service_update_application_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_app_service_update_application_request' when calling BetaAppServiceApi.update_application"
        end

        path = '/zitadel.app.v2beta.AppService/UpdateApplication'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_app_service_update_application_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaAppServiceUpdateApplicationResponse',
          nil
        )
      end
    end
  end
end
