# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # BetaTelemetryServiceApi provides methods for the BetaTelemetryService API group.
    class BetaTelemetryServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.
      # ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.
      # @param beta_telemetry_service_report_base_information_request [BetaTelemetryServiceReportBaseInformationRequest]

      # @return [BetaTelemetryServiceReportBaseInformationResponse]
      # @raise [ApiError] if fails to make API call
      def report_base_information(beta_telemetry_service_report_base_information_request)
        if beta_telemetry_service_report_base_information_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_telemetry_service_report_base_information_request' when calling BetaTelemetryServiceApi.report_base_information"
        end

        result = report_base_information_with_http_info(beta_telemetry_service_report_base_information_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def report_base_information_with_http_info(beta_telemetry_service_report_base_information_request)
        if beta_telemetry_service_report_base_information_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_telemetry_service_report_base_information_request' when calling BetaTelemetryServiceApi.report_base_information"
        end

        path = '/zitadel.analytics.v2beta.TelemetryService/ReportBaseInformation'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_telemetry_service_report_base_information_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaTelemetryServiceReportBaseInformationResponse',
          nil
        )
      end

      # ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.
      # ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.
      # @param beta_telemetry_service_report_resource_counts_request [BetaTelemetryServiceReportResourceCountsRequest]

      # @return [BetaTelemetryServiceReportResourceCountsResponse]
      # @raise [ApiError] if fails to make API call
      def report_resource_counts(beta_telemetry_service_report_resource_counts_request)
        if beta_telemetry_service_report_resource_counts_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_telemetry_service_report_resource_counts_request' when calling BetaTelemetryServiceApi.report_resource_counts"
        end

        result = report_resource_counts_with_http_info(beta_telemetry_service_report_resource_counts_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def report_resource_counts_with_http_info(beta_telemetry_service_report_resource_counts_request)
        if beta_telemetry_service_report_resource_counts_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'beta_telemetry_service_report_resource_counts_request' when calling BetaTelemetryServiceApi.report_resource_counts"
        end

        path = '/zitadel.analytics.v2beta.TelemetryService/ReportResourceCounts'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = beta_telemetry_service_report_resource_counts_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'BetaTelemetryServiceReportResourceCountsResponse',
          nil
        )
      end
    end
  end
end
