=begin
#Zitadel SDK

#The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module Zitadel::Client::Api
  class BetaSettingsServiceApi
  attr_accessor :api_client

  def initialize(api_client = ApiClient.default)
  @api_client = api_client
  end
      # GetActiveIdentityProviders
      # Get the current active identity providers
          # @param beta_settings_service_get_active_identity_providers_request [BetaSettingsServiceGetActiveIdentityProvidersRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetActiveIdentityProvidersResponse]
    def get_active_identity_providers(beta_settings_service_get_active_identity_providers_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_active_identity_providers ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_active_identity_providers_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_active_identity_providers_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_active_identity_providers_request' when calling Api::BetaSettingsServiceApi.get_active_identity_providers" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetActiveIdentityProviders'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_active_identity_providers_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetActiveIdentityProvidersResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_active_identity_providers", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_active_identity_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetBrandingSettings
      # Get the current active branding settings
          # @param beta_settings_service_get_branding_settings_request [BetaSettingsServiceGetBrandingSettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetBrandingSettingsResponse]
    def get_branding_settings(beta_settings_service_get_branding_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_branding_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_branding_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_branding_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_branding_settings_request' when calling Api::BetaSettingsServiceApi.get_branding_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetBrandingSettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_branding_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetBrandingSettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_branding_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_branding_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetDomainSettings
      # Get the domain settings
          # @param beta_settings_service_get_domain_settings_request [BetaSettingsServiceGetDomainSettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetDomainSettingsResponse]
    def get_domain_settings(beta_settings_service_get_domain_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_domain_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_domain_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_domain_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_domain_settings_request' when calling Api::BetaSettingsServiceApi.get_domain_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetDomainSettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_domain_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetDomainSettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_domain_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_domain_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetGeneralSettings
      # Get basic information over the instance
          # @param body [Object] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetGeneralSettingsResponse]
    def get_general_settings(body = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_general_settings ...' # MODIFIED
    end
          # verify the required parameter 'body' is set
          if @api_client.config.client_side_validation && body.nil?
          fail ArgumentError, "Missing the required parameter 'body' when calling Api::BetaSettingsServiceApi.get_general_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetGeneralSettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetGeneralSettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_general_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_general_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetLegalAndSupportSettings
      # Get the legal and support settings
          # @param beta_settings_service_get_legal_and_support_settings_request [BetaSettingsServiceGetLegalAndSupportSettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetLegalAndSupportSettingsResponse]
    def get_legal_and_support_settings(beta_settings_service_get_legal_and_support_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_legal_and_support_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_legal_and_support_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_legal_and_support_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_legal_and_support_settings_request' when calling Api::BetaSettingsServiceApi.get_legal_and_support_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetLegalAndSupportSettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_legal_and_support_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetLegalAndSupportSettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_legal_and_support_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_legal_and_support_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetLockoutSettings
      # Get the lockout settings
          # @param beta_settings_service_get_lockout_settings_request [BetaSettingsServiceGetLockoutSettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetLockoutSettingsResponse]
    def get_lockout_settings(beta_settings_service_get_lockout_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_lockout_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_lockout_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_lockout_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_lockout_settings_request' when calling Api::BetaSettingsServiceApi.get_lockout_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetLockoutSettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_lockout_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetLockoutSettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_lockout_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_lockout_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetLoginSettings
      # Get the login settings
          # @param beta_settings_service_get_login_settings_request [BetaSettingsServiceGetLoginSettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetLoginSettingsResponse]
    def get_login_settings(beta_settings_service_get_login_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_login_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_login_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_login_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_login_settings_request' when calling Api::BetaSettingsServiceApi.get_login_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetLoginSettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_login_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetLoginSettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_login_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_login_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetPasswordComplexitySettings
      # Get the password complexity settings
          # @param beta_settings_service_get_password_complexity_settings_request [BetaSettingsServiceGetPasswordComplexitySettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetPasswordComplexitySettingsResponse]
    def get_password_complexity_settings(beta_settings_service_get_password_complexity_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_password_complexity_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_password_complexity_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_password_complexity_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_password_complexity_settings_request' when calling Api::BetaSettingsServiceApi.get_password_complexity_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetPasswordComplexitySettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_password_complexity_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetPasswordComplexitySettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_password_complexity_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_password_complexity_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetPasswordExpirySettings
      # Get the password expiry settings
          # @param beta_settings_service_get_password_expiry_settings_request [BetaSettingsServiceGetPasswordExpirySettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetPasswordExpirySettingsResponse]
    def get_password_expiry_settings(beta_settings_service_get_password_expiry_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_password_expiry_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_get_password_expiry_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_get_password_expiry_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_get_password_expiry_settings_request' when calling Api::BetaSettingsServiceApi.get_password_expiry_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetPasswordExpirySettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_get_password_expiry_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetPasswordExpirySettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_password_expiry_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_password_expiry_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # GetSecuritySettings
      # Get the security settings
          # @param body [Object] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceGetSecuritySettingsResponse]
    def get_security_settings(body = {}, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.get_security_settings ...' # MODIFIED
    end
          # verify the required parameter 'body' is set
          if @api_client.config.client_side_validation && body.nil?
          fail ArgumentError, "Missing the required parameter 'body' when calling Api::BetaSettingsServiceApi.get_security_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/GetSecuritySettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceGetSecuritySettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.get_security_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#get_security_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # SetSecuritySettings
      # Set the security settings
          # @param beta_settings_service_set_security_settings_request [BetaSettingsServiceSetSecuritySettingsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [BetaSettingsServiceSetSecuritySettingsResponse]
    def set_security_settings(beta_settings_service_set_security_settings_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::BetaSettingsServiceApi.set_security_settings ...' # MODIFIED
    end
          # verify the required parameter 'beta_settings_service_set_security_settings_request' is set
          if @api_client.config.client_side_validation && beta_settings_service_set_security_settings_request.nil?
          fail ArgumentError, "Missing the required parameter 'beta_settings_service_set_security_settings_request' when calling Api::BetaSettingsServiceApi.set_security_settings" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.settings.v2beta.SettingsService/SetSecuritySettings'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(beta_settings_service_set_security_settings_request)

    # return_type
    return_type = opts[:debug_return_type] || 'BetaSettingsServiceSetSecuritySettingsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::BetaSettingsServiceApi.set_security_settings", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::BetaSettingsServiceApi#set_security_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end
  end
end
