# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # FeatureServiceApi provides methods for the FeatureService API group.
    class FeatureServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Get Instance Features
      # Returns all configured features for an instance. Unset fields mean the feature is the current system default.   Required permissions:   - none
      # @param feature_service_get_instance_features_request [FeatureServiceGetInstanceFeaturesRequest]

      # @return [FeatureServiceGetInstanceFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_instance_features(feature_service_get_instance_features_request)
        if feature_service_get_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_get_instance_features_request' when calling FeatureServiceApi.get_instance_features"
        end

        result = get_instance_features_with_http_info(feature_service_get_instance_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_instance_features_with_http_info(feature_service_get_instance_features_request)
        if feature_service_get_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_get_instance_features_request' when calling FeatureServiceApi.get_instance_features"
        end

        path = '/zitadel.feature.v2.FeatureService/GetInstanceFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_get_instance_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceGetInstanceFeaturesResponse',
          nil
        )
      end

      # Get Organization Features
      # Returns all configured features for an organization. Unset fields mean the feature is the current instance default.   Required permissions:   - org.feature.read   - no permission required for the organization the user belongs to
      # @param feature_service_get_organization_features_request [FeatureServiceGetOrganizationFeaturesRequest]

      # @return [FeatureServiceGetOrganizationFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_organization_features(feature_service_get_organization_features_request)
        if feature_service_get_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_get_organization_features_request' when calling FeatureServiceApi.get_organization_features"
        end

        result = get_organization_features_with_http_info(feature_service_get_organization_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_organization_features_with_http_info(feature_service_get_organization_features_request)
        if feature_service_get_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_get_organization_features_request' when calling FeatureServiceApi.get_organization_features"
        end

        path = '/zitadel.feature.v2.FeatureService/GetOrganizationFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_get_organization_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceGetOrganizationFeaturesResponse',
          nil
        )
      end

      # Get System Features
      # Returns all configured features for the system. Unset fields mean the feature is the current system default.   Required permissions:   - none
      # @param body [Object]

      # @return [FeatureServiceGetSystemFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_system_features(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling FeatureServiceApi.get_system_features"
        end

        result = get_system_features_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_system_features_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling FeatureServiceApi.get_system_features"
        end

        path = '/zitadel.feature.v2.FeatureService/GetSystemFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceGetSystemFeaturesResponse',
          nil
        )
      end

      # Get User Features
      # Returns all configured features for a user. Unset fields mean the feature is the current organization default.   Required permissions:   - user.feature.read   - no permission required for the own user
      # @param feature_service_get_user_features_request [FeatureServiceGetUserFeaturesRequest]

      # @return [FeatureServiceGetUserFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def get_user_features(feature_service_get_user_features_request)
        if feature_service_get_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_get_user_features_request' when calling FeatureServiceApi.get_user_features"
        end

        result = get_user_features_with_http_info(feature_service_get_user_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_user_features_with_http_info(feature_service_get_user_features_request)
        if feature_service_get_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_get_user_features_request' when calling FeatureServiceApi.get_user_features"
        end

        path = '/zitadel.feature.v2.FeatureService/GetUserFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_get_user_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceGetUserFeaturesResponse',
          nil
        )
      end

      # Reset Instance Features
      # Deletes ALL configured features for an instance, reverting the behaviors to system defaults.   Required permissions:   - iam.feature.delete
      # @param body [Object]

      # @return [FeatureServiceResetInstanceFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_instance_features(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling FeatureServiceApi.reset_instance_features"
        end

        result = reset_instance_features_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_instance_features_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling FeatureServiceApi.reset_instance_features"
        end

        path = '/zitadel.feature.v2.FeatureService/ResetInstanceFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceResetInstanceFeaturesResponse',
          nil
        )
      end

      # Reset Organization Features
      # Deletes ALL configured features for an organization, reverting the behaviors to instance defaults.   Required permissions:   - org.feature.delete
      # @param feature_service_reset_organization_features_request [FeatureServiceResetOrganizationFeaturesRequest]

      # @return [FeatureServiceResetOrganizationFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_organization_features(feature_service_reset_organization_features_request)
        if feature_service_reset_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_reset_organization_features_request' when calling FeatureServiceApi.reset_organization_features"
        end

        result = reset_organization_features_with_http_info(feature_service_reset_organization_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_organization_features_with_http_info(feature_service_reset_organization_features_request)
        if feature_service_reset_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_reset_organization_features_request' when calling FeatureServiceApi.reset_organization_features"
        end

        path = '/zitadel.feature.v2.FeatureService/ResetOrganizationFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_reset_organization_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceResetOrganizationFeaturesResponse',
          nil
        )
      end

      # Reset System Features
      # Deletes ALL configured features for the system, reverting the behaviors to system defaults.   Required permissions:   - system.feature.delete
      # @param body [Object]

      # @return [FeatureServiceResetSystemFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_system_features(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling FeatureServiceApi.reset_system_features"
        end

        result = reset_system_features_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_system_features_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling FeatureServiceApi.reset_system_features"
        end

        path = '/zitadel.feature.v2.FeatureService/ResetSystemFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceResetSystemFeaturesResponse',
          nil
        )
      end

      # Reset User Features
      # Deletes ALL configured features for a user, reverting the behaviors to organization defaults.   Required permissions:   - user.feature.delete
      # @param feature_service_reset_user_features_request [FeatureServiceResetUserFeaturesRequest]

      # @return [FeatureServiceResetUserFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def reset_user_features(feature_service_reset_user_features_request)
        if feature_service_reset_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_reset_user_features_request' when calling FeatureServiceApi.reset_user_features"
        end

        result = reset_user_features_with_http_info(feature_service_reset_user_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reset_user_features_with_http_info(feature_service_reset_user_features_request)
        if feature_service_reset_user_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_reset_user_features_request' when calling FeatureServiceApi.reset_user_features"
        end

        path = '/zitadel.feature.v2.FeatureService/ResetUserFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_reset_user_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceResetUserFeaturesResponse',
          nil
        )
      end

      # Set Instance Features
      # Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - iam.feature.write
      # @param feature_service_set_instance_features_request [FeatureServiceSetInstanceFeaturesRequest]

      # @return [FeatureServiceSetInstanceFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_instance_features(feature_service_set_instance_features_request)
        if feature_service_set_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_instance_features_request' when calling FeatureServiceApi.set_instance_features"
        end

        result = set_instance_features_with_http_info(feature_service_set_instance_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_instance_features_with_http_info(feature_service_set_instance_features_request)
        if feature_service_set_instance_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_instance_features_request' when calling FeatureServiceApi.set_instance_features"
        end

        path = '/zitadel.feature.v2.FeatureService/SetInstanceFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_set_instance_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceSetInstanceFeaturesResponse',
          nil
        )
      end

      # Set Organization Features
      # Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - org.feature.write
      # @param feature_service_set_organization_features_request [FeatureServiceSetOrganizationFeaturesRequest]

      # @return [FeatureServiceSetOrganizationFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_organization_features(feature_service_set_organization_features_request)
        if feature_service_set_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_organization_features_request' when calling FeatureServiceApi.set_organization_features"
        end

        result = set_organization_features_with_http_info(feature_service_set_organization_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_organization_features_with_http_info(feature_service_set_organization_features_request)
        if feature_service_set_organization_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_organization_features_request' when calling FeatureServiceApi.set_organization_features"
        end

        path = '/zitadel.feature.v2.FeatureService/SetOrganizationFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_set_organization_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceSetOrganizationFeaturesResponse',
          nil
        )
      end

      # Set System Features
      # Configure and set features that apply to the complete system. Only fields present in the request are set or unset.   Required permissions:   - system.feature.write
      # @param feature_service_set_system_features_request [FeatureServiceSetSystemFeaturesRequest]

      # @return [FeatureServiceSetSystemFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_system_features(feature_service_set_system_features_request)
        if feature_service_set_system_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_system_features_request' when calling FeatureServiceApi.set_system_features"
        end

        result = set_system_features_with_http_info(feature_service_set_system_features_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_system_features_with_http_info(feature_service_set_system_features_request)
        if feature_service_set_system_features_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_system_features_request' when calling FeatureServiceApi.set_system_features"
        end

        path = '/zitadel.feature.v2.FeatureService/SetSystemFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_set_system_features_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceSetSystemFeaturesResponse',
          nil
        )
      end

      # Set User Features
      # Configure and set features that apply to an user. Only fields present in the request are set or unset.   Required permissions:   - user.feature.write
      # @param feature_service_set_user_feature_request [FeatureServiceSetUserFeatureRequest]

      # @return [FeatureServiceSetUserFeaturesResponse]
      # @raise [ApiError] if fails to make API call
      def set_user_features(feature_service_set_user_feature_request)
        if feature_service_set_user_feature_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_user_feature_request' when calling FeatureServiceApi.set_user_features"
        end

        result = set_user_features_with_http_info(feature_service_set_user_feature_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_user_features_with_http_info(feature_service_set_user_feature_request)
        if feature_service_set_user_feature_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'feature_service_set_user_feature_request' when calling FeatureServiceApi.set_user_features"
        end

        path = '/zitadel.feature.v2.FeatureService/SetUserFeatures'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = feature_service_set_user_feature_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'FeatureServiceSetUserFeaturesResponse',
          nil
        )
      end
    end
  end
end
