# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # IdentityProviderServiceApi provides methods for the IdentityProviderService API group.
    class IdentityProviderServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Get identity provider (IdP) by ID
      # Returns an identity provider (social/enterprise login) by its ID, which can be of the type Google, AzureAD, etc.
      # @param identity_provider_service_get_idpby_id_request [IdentityProviderServiceGetIDPByIDRequest]

      # @return [IdentityProviderServiceGetIDPByIDResponse]
      # @raise [ApiError] if fails to make API call
      def get_idpby_id(identity_provider_service_get_idpby_id_request)
        if identity_provider_service_get_idpby_id_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'identity_provider_service_get_idpby_id_request' when calling IdentityProviderServiceApi.get_idpby_id"
        end

        result = get_idpby_id_with_http_info(identity_provider_service_get_idpby_id_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_idpby_id_with_http_info(identity_provider_service_get_idpby_id_request)
        if identity_provider_service_get_idpby_id_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'identity_provider_service_get_idpby_id_request' when calling IdentityProviderServiceApi.get_idpby_id"
        end

        path = '/zitadel.idp.v2.IdentityProviderService/GetIDPByID'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = identity_provider_service_get_idpby_id_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'IdentityProviderServiceGetIDPByIDResponse',
          nil
        )
      end
    end
  end
end
