# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # InstanceServiceApi provides methods for the InstanceService API group.
    class InstanceServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Add Custom Domain
      # Adds a custom domain to the instance.  The custom domain must be unique across all instances.  Once the domain is added, it will be used to route requests to this instance.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.domain.write`
      # @param instance_service_add_custom_domain_request [InstanceServiceAddCustomDomainRequest]

      # @return [InstanceServiceAddCustomDomainResponse]
      # @raise [ApiError] if fails to make API call
      def add_custom_domain(instance_service_add_custom_domain_request)
        if instance_service_add_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_add_custom_domain_request' when calling InstanceServiceApi.add_custom_domain"
        end

        result = add_custom_domain_with_http_info(instance_service_add_custom_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_custom_domain_with_http_info(instance_service_add_custom_domain_request)
        if instance_service_add_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_add_custom_domain_request' when calling InstanceServiceApi.add_custom_domain"
        end

        path = '/zitadel.instance.v2.InstanceService/AddCustomDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_add_custom_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceAddCustomDomainResponse',
          nil
        )
      end

      # Add Trusted Domain
      # Adds a trusted domain to the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   It must be a valid domain name.  Once the domain is added, it can be used in API responses like OIDC discovery,  email templates, and more.  This can be used in cases where the API is accessed through a different domain  than the instance domain, e.g. proxy setups and custom login UIs.  Unlike custom domain, trusted domains are not used to route requests to this instance  and therefore do not need to be uniquely assigned to an instance.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)
      # @param instance_service_add_trusted_domain_request [InstanceServiceAddTrustedDomainRequest]

      # @return [InstanceServiceAddTrustedDomainResponse]
      # @raise [ApiError] if fails to make API call
      def add_trusted_domain(instance_service_add_trusted_domain_request)
        if instance_service_add_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_add_trusted_domain_request' when calling InstanceServiceApi.add_trusted_domain"
        end

        result = add_trusted_domain_with_http_info(instance_service_add_trusted_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_trusted_domain_with_http_info(instance_service_add_trusted_domain_request)
        if instance_service_add_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_add_trusted_domain_request' when calling InstanceServiceApi.add_trusted_domain"
        end

        path = '/zitadel.instance.v2.InstanceService/AddTrustedDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_add_trusted_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceAddTrustedDomainResponse',
          nil
        )
      end

      # Delete Instance
      # Deletes an instance with the given ID.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.instance.delete`
      # @param instance_service_delete_instance_request [InstanceServiceDeleteInstanceRequest]

      # @return [InstanceServiceDeleteInstanceResponse]
      # @raise [ApiError] if fails to make API call
      def delete_instance(instance_service_delete_instance_request)
        if instance_service_delete_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_delete_instance_request' when calling InstanceServiceApi.delete_instance"
        end

        result = delete_instance_with_http_info(instance_service_delete_instance_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_instance_with_http_info(instance_service_delete_instance_request)
        if instance_service_delete_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_delete_instance_request' when calling InstanceServiceApi.delete_instance"
        end

        path = '/zitadel.instance.v2.InstanceService/DeleteInstance'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_delete_instance_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceDeleteInstanceResponse',
          nil
        )
      end

      # Get Instance
      # Returns the instance in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to retrieve a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)
      # @param instance_service_get_instance_request [InstanceServiceGetInstanceRequest]

      # @return [InstanceServiceGetInstanceResponse]
      # @raise [ApiError] if fails to make API call
      def get_instance(instance_service_get_instance_request)
        if instance_service_get_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_get_instance_request' when calling InstanceServiceApi.get_instance"
        end

        result = get_instance_with_http_info(instance_service_get_instance_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_instance_with_http_info(instance_service_get_instance_request)
        if instance_service_get_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_get_instance_request' when calling InstanceServiceApi.get_instance"
        end

        path = '/zitadel.instance.v2.InstanceService/GetInstance'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_get_instance_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceGetInstanceResponse',
          nil
        )
      end

      # List Custom Domains
      # Lists custom domains of the instance.   By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.read`   - `system.instance.read` (if InstanceID is set)
      # @param instance_service_list_custom_domains_request [InstanceServiceListCustomDomainsRequest]

      # @return [InstanceServiceListCustomDomainsResponse]
      # @raise [ApiError] if fails to make API call
      def list_custom_domains(instance_service_list_custom_domains_request)
        if instance_service_list_custom_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_list_custom_domains_request' when calling InstanceServiceApi.list_custom_domains"
        end

        result = list_custom_domains_with_http_info(instance_service_list_custom_domains_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_custom_domains_with_http_info(instance_service_list_custom_domains_request)
        if instance_service_list_custom_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_list_custom_domains_request' when calling InstanceServiceApi.list_custom_domains"
        end

        path = '/zitadel.instance.v2.InstanceService/ListCustomDomains'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_list_custom_domains_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceListCustomDomainsResponse',
          nil
        )
      end

      # List Instances
      # Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.instance.read`
      # @param instance_service_list_instances_request [InstanceServiceListInstancesRequest]

      # @return [InstanceServiceListInstancesResponse]
      # @raise [ApiError] if fails to make API call
      def list_instances(instance_service_list_instances_request)
        if instance_service_list_instances_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_list_instances_request' when calling InstanceServiceApi.list_instances"
        end

        result = list_instances_with_http_info(instance_service_list_instances_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_instances_with_http_info(instance_service_list_instances_request)
        if instance_service_list_instances_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_list_instances_request' when calling InstanceServiceApi.list_instances"
        end

        path = '/zitadel.instance.v2.InstanceService/ListInstances'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_list_instances_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceListInstancesResponse',
          nil
        )
      end

      # List Trusted Domains
      # Lists trusted domains of the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)
      # @param instance_service_list_trusted_domains_request [InstanceServiceListTrustedDomainsRequest]

      # @return [InstanceServiceListTrustedDomainsResponse]
      # @raise [ApiError] if fails to make API call
      def list_trusted_domains(instance_service_list_trusted_domains_request)
        if instance_service_list_trusted_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_list_trusted_domains_request' when calling InstanceServiceApi.list_trusted_domains"
        end

        result = list_trusted_domains_with_http_info(instance_service_list_trusted_domains_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_trusted_domains_with_http_info(instance_service_list_trusted_domains_request)
        if instance_service_list_trusted_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_list_trusted_domains_request' when calling InstanceServiceApi.list_trusted_domains"
        end

        path = '/zitadel.instance.v2.InstanceService/ListTrustedDomains'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_list_trusted_domains_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceListTrustedDomainsResponse',
          nil
        )
      end

      # Remove Custom Domain
      # Removes a custom domain from the instance.  Be aware that this will stop routing requests from this domain to the instance and  might break existing setups or integrations.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.domain.write`
      # @param instance_service_remove_custom_domain_request [InstanceServiceRemoveCustomDomainRequest]

      # @return [InstanceServiceRemoveCustomDomainResponse]
      # @raise [ApiError] if fails to make API call
      def remove_custom_domain(instance_service_remove_custom_domain_request)
        if instance_service_remove_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_remove_custom_domain_request' when calling InstanceServiceApi.remove_custom_domain"
        end

        result = remove_custom_domain_with_http_info(instance_service_remove_custom_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_custom_domain_with_http_info(instance_service_remove_custom_domain_request)
        if instance_service_remove_custom_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_remove_custom_domain_request' when calling InstanceServiceApi.remove_custom_domain"
        end

        path = '/zitadel.instance.v2.InstanceService/RemoveCustomDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_remove_custom_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceRemoveCustomDomainResponse',
          nil
        )
      end

      # Remove Trusted Domain
      # Removes a trusted domain from the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)
      # @param instance_service_remove_trusted_domain_request [InstanceServiceRemoveTrustedDomainRequest]

      # @return [InstanceServiceRemoveTrustedDomainResponse]
      # @raise [ApiError] if fails to make API call
      def remove_trusted_domain(instance_service_remove_trusted_domain_request)
        if instance_service_remove_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_remove_trusted_domain_request' when calling InstanceServiceApi.remove_trusted_domain"
        end

        result = remove_trusted_domain_with_http_info(instance_service_remove_trusted_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_trusted_domain_with_http_info(instance_service_remove_trusted_domain_request)
        if instance_service_remove_trusted_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_remove_trusted_domain_request' when calling InstanceServiceApi.remove_trusted_domain"
        end

        path = '/zitadel.instance.v2.InstanceService/RemoveTrustedDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_remove_trusted_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceRemoveTrustedDomainResponse',
          nil
        )
      end

      # Update Instance
      # Updates instance's name in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to update a specific instance.  This requires additional permissions.   Required permissions:    - `iam.write`    - `system.instance.write` (if InstanceID is set)
      # @param instance_service_update_instance_request [InstanceServiceUpdateInstanceRequest]

      # @return [InstanceServiceUpdateInstanceResponse]
      # @raise [ApiError] if fails to make API call
      def update_instance(instance_service_update_instance_request)
        if instance_service_update_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_update_instance_request' when calling InstanceServiceApi.update_instance"
        end

        result = update_instance_with_http_info(instance_service_update_instance_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_instance_with_http_info(instance_service_update_instance_request)
        if instance_service_update_instance_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'instance_service_update_instance_request' when calling InstanceServiceApi.update_instance"
        end

        path = '/zitadel.instance.v2.InstanceService/UpdateInstance'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = instance_service_update_instance_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InstanceServiceUpdateInstanceResponse',
          nil
        )
      end
    end
  end
end
