=begin
#Zitadel SDK

#The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module Zitadel::Client::Api
  class InstanceServiceApi
  attr_accessor :api_client

  def initialize(api_client = ApiClient.default)
  @api_client = api_client
  end
      # Add Custom Domain
      # Adds a custom domain to the instance.  The custom domain must be unique across all instances.  Once the domain is added, it will be used to route requests to this instance.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - &#x60;system.domain.write&#x60;
          # @param instance_service_add_custom_domain_request [InstanceServiceAddCustomDomainRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceAddCustomDomainResponse]
    def add_custom_domain(instance_service_add_custom_domain_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.add_custom_domain ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_add_custom_domain_request' is set
          if @api_client.config.client_side_validation && instance_service_add_custom_domain_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_add_custom_domain_request' when calling Api::InstanceServiceApi.add_custom_domain" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/AddCustomDomain'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_add_custom_domain_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceAddCustomDomainResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.add_custom_domain", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#add_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Add Trusted Domain
      # Adds a trusted domain to the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   It must be a valid domain name.  Once the domain is added, it can be used in API responses like OIDC discovery,  email templates, and more.  This can be used in cases where the API is accessed through a different domain  than the instance domain, e.g. proxy setups and custom login UIs.  Unlike custom domain, trusted domains are not used to route requests to this instance  and therefore do not need to be uniquely assigned to an instance.   Required permissions:   - &#x60;iam.write&#x60;   - &#x60;system.instance.write&#x60; (if InstanceID is set)
          # @param instance_service_add_trusted_domain_request [InstanceServiceAddTrustedDomainRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceAddTrustedDomainResponse]
    def add_trusted_domain(instance_service_add_trusted_domain_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.add_trusted_domain ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_add_trusted_domain_request' is set
          if @api_client.config.client_side_validation && instance_service_add_trusted_domain_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_add_trusted_domain_request' when calling Api::InstanceServiceApi.add_trusted_domain" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/AddTrustedDomain'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_add_trusted_domain_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceAddTrustedDomainResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.add_trusted_domain", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#add_trusted_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Delete Instance
      # Deletes an instance with the given ID.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - &#x60;system.instance.delete&#x60;
          # @param instance_service_delete_instance_request [InstanceServiceDeleteInstanceRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceDeleteInstanceResponse]
    def delete_instance(instance_service_delete_instance_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.delete_instance ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_delete_instance_request' is set
          if @api_client.config.client_side_validation && instance_service_delete_instance_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_delete_instance_request' when calling Api::InstanceServiceApi.delete_instance" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/DeleteInstance'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_delete_instance_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceDeleteInstanceResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.delete_instance", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#delete_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Get Instance
      # Returns the instance in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to retrieve a specific instance.  This requires additional permissions.   Required permissions:    - &#x60;iam.read&#x60;    - &#x60;system.instance.read&#x60; (if InstanceID is set)
          # @param instance_service_get_instance_request [InstanceServiceGetInstanceRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceGetInstanceResponse]
    def get_instance(instance_service_get_instance_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.get_instance ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_get_instance_request' is set
          if @api_client.config.client_side_validation && instance_service_get_instance_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_get_instance_request' when calling Api::InstanceServiceApi.get_instance" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/GetInstance'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_get_instance_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceGetInstanceResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.get_instance", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#get_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Custom Domains
      # Lists custom domains of the instance.   By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - &#x60;iam.read&#x60;   - &#x60;system.instance.read&#x60; (if InstanceID is set)
          # @param instance_service_list_custom_domains_request [InstanceServiceListCustomDomainsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceListCustomDomainsResponse]
    def list_custom_domains(instance_service_list_custom_domains_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.list_custom_domains ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_list_custom_domains_request' is set
          if @api_client.config.client_side_validation && instance_service_list_custom_domains_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_list_custom_domains_request' when calling Api::InstanceServiceApi.list_custom_domains" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/ListCustomDomains'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_list_custom_domains_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceListCustomDomainsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.list_custom_domains", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#list_custom_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Instances
      # Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - &#x60;system.instance.read&#x60;
          # @param instance_service_list_instances_request [InstanceServiceListInstancesRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceListInstancesResponse]
    def list_instances(instance_service_list_instances_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.list_instances ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_list_instances_request' is set
          if @api_client.config.client_side_validation && instance_service_list_instances_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_list_instances_request' when calling Api::InstanceServiceApi.list_instances" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/ListInstances'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_list_instances_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceListInstancesResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.list_instances", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#list_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Trusted Domains
      # Lists trusted domains of the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:    - &#x60;iam.read&#x60;    - &#x60;system.instance.read&#x60; (if InstanceID is set)
          # @param instance_service_list_trusted_domains_request [InstanceServiceListTrustedDomainsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceListTrustedDomainsResponse]
    def list_trusted_domains(instance_service_list_trusted_domains_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.list_trusted_domains ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_list_trusted_domains_request' is set
          if @api_client.config.client_side_validation && instance_service_list_trusted_domains_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_list_trusted_domains_request' when calling Api::InstanceServiceApi.list_trusted_domains" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/ListTrustedDomains'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_list_trusted_domains_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceListTrustedDomainsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.list_trusted_domains", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#list_trusted_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Remove Custom Domain
      # Removes a custom domain from the instance.  Be aware that this will stop routing requests from this domain to the instance and  might break existing setups or integrations.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - &#x60;system.domain.write&#x60;
          # @param instance_service_remove_custom_domain_request [InstanceServiceRemoveCustomDomainRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceRemoveCustomDomainResponse]
    def remove_custom_domain(instance_service_remove_custom_domain_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.remove_custom_domain ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_remove_custom_domain_request' is set
          if @api_client.config.client_side_validation && instance_service_remove_custom_domain_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_remove_custom_domain_request' when calling Api::InstanceServiceApi.remove_custom_domain" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/RemoveCustomDomain'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_remove_custom_domain_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceRemoveCustomDomainResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.remove_custom_domain", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#remove_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Remove Trusted Domain
      # Removes a trusted domain from the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - &#x60;iam.write&#x60;   - &#x60;system.instance.write&#x60; (if InstanceID is set)
          # @param instance_service_remove_trusted_domain_request [InstanceServiceRemoveTrustedDomainRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceRemoveTrustedDomainResponse]
    def remove_trusted_domain(instance_service_remove_trusted_domain_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.remove_trusted_domain ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_remove_trusted_domain_request' is set
          if @api_client.config.client_side_validation && instance_service_remove_trusted_domain_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_remove_trusted_domain_request' when calling Api::InstanceServiceApi.remove_trusted_domain" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/RemoveTrustedDomain'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_remove_trusted_domain_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceRemoveTrustedDomainResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.remove_trusted_domain", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#remove_trusted_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Update Instance
      # Updates instance&#39;s name in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to update a specific instance.  This requires additional permissions.   Required permissions:    - &#x60;iam.write&#x60;    - &#x60;system.instance.write&#x60; (if InstanceID is set)
          # @param instance_service_update_instance_request [InstanceServiceUpdateInstanceRequest] 
      # @param [Hash] opts the optional parameters
    # @return [InstanceServiceUpdateInstanceResponse]
    def update_instance(instance_service_update_instance_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::InstanceServiceApi.update_instance ...' # MODIFIED
    end
          # verify the required parameter 'instance_service_update_instance_request' is set
          if @api_client.config.client_side_validation && instance_service_update_instance_request.nil?
          fail ArgumentError, "Missing the required parameter 'instance_service_update_instance_request' when calling Api::InstanceServiceApi.update_instance" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.instance.v2.InstanceService/UpdateInstance'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(instance_service_update_instance_request)

    # return_type
    return_type = opts[:debug_return_type] || 'InstanceServiceUpdateInstanceResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::InstanceServiceApi.update_instance", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::InstanceServiceApi#update_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end
  end
end
