# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # InternalPermissionServiceApi provides methods for the InternalPermissionService API group.
    class InternalPermissionServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create Administrator
      # CreateAdministrator grants an administrator role to a user for a specific resource.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators
      # @param internal_permission_service_create_administrator_request [InternalPermissionServiceCreateAdministratorRequest]

      # @return [InternalPermissionServiceCreateAdministratorResponse]
      # @raise [ApiError] if fails to make API call
      def create_administrator(internal_permission_service_create_administrator_request)
        if internal_permission_service_create_administrator_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_create_administrator_request' when calling InternalPermissionServiceApi.create_administrator"
        end

        result = create_administrator_with_http_info(internal_permission_service_create_administrator_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_administrator_with_http_info(internal_permission_service_create_administrator_request)
        if internal_permission_service_create_administrator_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_create_administrator_request' when calling InternalPermissionServiceApi.create_administrator"
        end

        path = '/zitadel.internal_permission.v2.InternalPermissionService/CreateAdministrator'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = internal_permission_service_create_administrator_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InternalPermissionServiceCreateAdministratorResponse',
          nil
        )
      end

      # Delete Administrator
      # DeleteAdministrator revokes an administrator role from a user.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators
      # @param internal_permission_service_delete_administrator_request [InternalPermissionServiceDeleteAdministratorRequest]

      # @return [InternalPermissionServiceDeleteAdministratorResponse]
      # @raise [ApiError] if fails to make API call
      def delete_administrator(internal_permission_service_delete_administrator_request)
        if internal_permission_service_delete_administrator_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_delete_administrator_request' when calling InternalPermissionServiceApi.delete_administrator"
        end

        result = delete_administrator_with_http_info(internal_permission_service_delete_administrator_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_administrator_with_http_info(internal_permission_service_delete_administrator_request)
        if internal_permission_service_delete_administrator_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_delete_administrator_request' when calling InternalPermissionServiceApi.delete_administrator"
        end

        path = '/zitadel.internal_permission.v2.InternalPermissionService/DeleteAdministrator'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = internal_permission_service_delete_administrator_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InternalPermissionServiceDeleteAdministratorResponse',
          nil
        )
      end

      # List Administrators
      # ListAdministrators returns all administrators and their roles matching the request and the caller's permissions to retrieve.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles
      # @param internal_permission_service_list_administrators_request [InternalPermissionServiceListAdministratorsRequest]

      # @return [InternalPermissionServiceListAdministratorsResponse]
      # @raise [ApiError] if fails to make API call
      def list_administrators(internal_permission_service_list_administrators_request)
        if internal_permission_service_list_administrators_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_list_administrators_request' when calling InternalPermissionServiceApi.list_administrators"
        end

        result = list_administrators_with_http_info(internal_permission_service_list_administrators_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_administrators_with_http_info(internal_permission_service_list_administrators_request)
        if internal_permission_service_list_administrators_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_list_administrators_request' when calling InternalPermissionServiceApi.list_administrators"
        end

        path = '/zitadel.internal_permission.v2.InternalPermissionService/ListAdministrators'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = internal_permission_service_list_administrators_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InternalPermissionServiceListAdministratorsResponse',
          nil
        )
      end

      # Update Administrator
      # UpdateAdministrator updates the specific administrator role.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators
      # @param internal_permission_service_update_administrator_request [InternalPermissionServiceUpdateAdministratorRequest]

      # @return [InternalPermissionServiceUpdateAdministratorResponse]
      # @raise [ApiError] if fails to make API call
      def update_administrator(internal_permission_service_update_administrator_request)
        if internal_permission_service_update_administrator_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_update_administrator_request' when calling InternalPermissionServiceApi.update_administrator"
        end

        result = update_administrator_with_http_info(internal_permission_service_update_administrator_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_administrator_with_http_info(internal_permission_service_update_administrator_request)
        if internal_permission_service_update_administrator_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'internal_permission_service_update_administrator_request' when calling InternalPermissionServiceApi.update_administrator"
        end

        path = '/zitadel.internal_permission.v2.InternalPermissionService/UpdateAdministrator'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = internal_permission_service_update_administrator_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'InternalPermissionServiceUpdateAdministratorResponse',
          nil
        )
      end
    end
  end
end
