=begin
#Zitadel SDK

#The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Zitadel::Client::Api
  class OIDCServiceApi
  attr_accessor :api_client

  def initialize(api_client = ApiClient.default)
  @api_client = api_client
  end
      # AuthorizeOrDenyDeviceAuthorization
      # Authorize or deny device authorization   Authorize or deny the device authorization request based on the provided device authorization id.
          # @param oidc_service_authorize_or_deny_device_authorization_request [OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [Object]
    def authorize_or_deny_device_authorization(oidc_service_authorize_or_deny_device_authorization_request, opts = {})
    data, _status_code, _headers = authorize_or_deny_device_authorization_with_http_info(oidc_service_authorize_or_deny_device_authorization_request, opts)
    data
    end

      # AuthorizeOrDenyDeviceAuthorization
      # Authorize or deny device authorization   Authorize or deny the device authorization request based on the provided device authorization id.
          # @param oidc_service_authorize_or_deny_device_authorization_request [OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest] 
      # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def authorize_or_deny_device_authorization_with_http_info(oidc_service_authorize_or_deny_device_authorization_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::OIDCServiceApi.authorize_or_deny_device_authorization ...' # MODIFIED
    end
          # verify the required parameter 'oidc_service_authorize_or_deny_device_authorization_request' is set
          if @api_client.config.client_side_validation && oidc_service_authorize_or_deny_device_authorization_request.nil?
          fail ArgumentError, "Missing the required parameter 'oidc_service_authorize_or_deny_device_authorization_request' when calling Api::OIDCServiceApi.authorize_or_deny_device_authorization" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.oidc.v2.OIDCService/AuthorizeOrDenyDeviceAuthorization'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(oidc_service_authorize_or_deny_device_authorization_request)

    # return_type
    return_type = opts[:debug_return_type] || 'Object'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::OIDCServiceApi.authorize_or_deny_device_authorization", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::OIDCServiceApi#authorize_or_deny_device_authorization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data, status_code, headers
    end

      # CreateCallback
          # @param oidc_service_create_callback_request [OIDCServiceCreateCallbackRequest] 
      # @param [Hash] opts the optional parameters
    # @return [OIDCServiceCreateCallbackResponse]
    def create_callback(oidc_service_create_callback_request, opts = {})
    data, _status_code, _headers = create_callback_with_http_info(oidc_service_create_callback_request, opts)
    data
    end

      # CreateCallback
          # @param oidc_service_create_callback_request [OIDCServiceCreateCallbackRequest] 
      # @param [Hash] opts the optional parameters
    # @return [Array<(OIDCServiceCreateCallbackResponse, Integer, Hash)>] OIDCServiceCreateCallbackResponse data, response status code and response headers
    def create_callback_with_http_info(oidc_service_create_callback_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::OIDCServiceApi.create_callback ...' # MODIFIED
    end
          # verify the required parameter 'oidc_service_create_callback_request' is set
          if @api_client.config.client_side_validation && oidc_service_create_callback_request.nil?
          fail ArgumentError, "Missing the required parameter 'oidc_service_create_callback_request' when calling Api::OIDCServiceApi.create_callback" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.oidc.v2.OIDCService/CreateCallback'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(oidc_service_create_callback_request)

    # return_type
    return_type = opts[:debug_return_type] || 'OIDCServiceCreateCallbackResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::OIDCServiceApi.create_callback", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::OIDCServiceApi#create_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data, status_code, headers
    end

      # GetAuthRequest
          # @param oidc_service_get_auth_request_request [OIDCServiceGetAuthRequestRequest] 
      # @param [Hash] opts the optional parameters
    # @return [OIDCServiceGetAuthRequestResponse]
    def get_auth_request(oidc_service_get_auth_request_request, opts = {})
    data, _status_code, _headers = get_auth_request_with_http_info(oidc_service_get_auth_request_request, opts)
    data
    end

      # GetAuthRequest
          # @param oidc_service_get_auth_request_request [OIDCServiceGetAuthRequestRequest] 
      # @param [Hash] opts the optional parameters
    # @return [Array<(OIDCServiceGetAuthRequestResponse, Integer, Hash)>] OIDCServiceGetAuthRequestResponse data, response status code and response headers
    def get_auth_request_with_http_info(oidc_service_get_auth_request_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::OIDCServiceApi.get_auth_request ...' # MODIFIED
    end
          # verify the required parameter 'oidc_service_get_auth_request_request' is set
          if @api_client.config.client_side_validation && oidc_service_get_auth_request_request.nil?
          fail ArgumentError, "Missing the required parameter 'oidc_service_get_auth_request_request' when calling Api::OIDCServiceApi.get_auth_request" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.oidc.v2.OIDCService/GetAuthRequest'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(oidc_service_get_auth_request_request)

    # return_type
    return_type = opts[:debug_return_type] || 'OIDCServiceGetAuthRequestResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::OIDCServiceApi.get_auth_request", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::OIDCServiceApi#get_auth_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data, status_code, headers
    end

      # GetDeviceAuthorizationRequest
      # Get device authorization request   Get the device authorization based on the provided \"user code\".  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.
          # @param oidc_service_get_device_authorization_request_request [OIDCServiceGetDeviceAuthorizationRequestRequest] 
      # @param [Hash] opts the optional parameters
    # @return [OIDCServiceGetDeviceAuthorizationRequestResponse]
    def get_device_authorization_request(oidc_service_get_device_authorization_request_request, opts = {})
    data, _status_code, _headers = get_device_authorization_request_with_http_info(oidc_service_get_device_authorization_request_request, opts)
    data
    end

      # GetDeviceAuthorizationRequest
      # Get device authorization request   Get the device authorization based on the provided \&quot;user code\&quot;.  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.
          # @param oidc_service_get_device_authorization_request_request [OIDCServiceGetDeviceAuthorizationRequestRequest] 
      # @param [Hash] opts the optional parameters
    # @return [Array<(OIDCServiceGetDeviceAuthorizationRequestResponse, Integer, Hash)>] OIDCServiceGetDeviceAuthorizationRequestResponse data, response status code and response headers
    def get_device_authorization_request_with_http_info(oidc_service_get_device_authorization_request_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::OIDCServiceApi.get_device_authorization_request ...' # MODIFIED
    end
          # verify the required parameter 'oidc_service_get_device_authorization_request_request' is set
          if @api_client.config.client_side_validation && oidc_service_get_device_authorization_request_request.nil?
          fail ArgumentError, "Missing the required parameter 'oidc_service_get_device_authorization_request_request' when calling Api::OIDCServiceApi.get_device_authorization_request" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.oidc.v2.OIDCService/GetDeviceAuthorizationRequest'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(oidc_service_get_device_authorization_request_request)

    # return_type
    return_type = opts[:debug_return_type] || 'OIDCServiceGetDeviceAuthorizationRequestResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::OIDCServiceApi.get_device_authorization_request", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::OIDCServiceApi#get_device_authorization_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data, status_code, headers
    end
  end
end
