# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # OIDCServiceApi provides methods for the OIDCService API group.
    class OIDCServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Authorize or Deny Device Authorization
      # Authorize or deny the device authorization request based on the provided device authorization id.   Required permissions:    - `session.link`
      # @param oidc_service_authorize_or_deny_device_authorization_request [OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest]

      # @return [Object]
      # @raise [ApiError] if fails to make API call
      def authorize_or_deny_device_authorization(oidc_service_authorize_or_deny_device_authorization_request)
        if oidc_service_authorize_or_deny_device_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_authorize_or_deny_device_authorization_request' when calling OIDCServiceApi.authorize_or_deny_device_authorization"
        end

        result = authorize_or_deny_device_authorization_with_http_info(oidc_service_authorize_or_deny_device_authorization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def authorize_or_deny_device_authorization_with_http_info(oidc_service_authorize_or_deny_device_authorization_request)
        if oidc_service_authorize_or_deny_device_authorization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_authorize_or_deny_device_authorization_request' when calling OIDCServiceApi.authorize_or_deny_device_authorization"
        end

        path = '/zitadel.oidc.v2.OIDCService/AuthorizeOrDenyDeviceAuthorization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = oidc_service_authorize_or_deny_device_authorization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'Object',
          nil
        )
      end

      # Create Callback
      # Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.   Required permissions:    - `session.link`
      # @param oidc_service_create_callback_request [OIDCServiceCreateCallbackRequest]

      # @return [OIDCServiceCreateCallbackResponse]
      # @raise [ApiError] if fails to make API call
      def create_callback(oidc_service_create_callback_request)
        if oidc_service_create_callback_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_create_callback_request' when calling OIDCServiceApi.create_callback"
        end

        result = create_callback_with_http_info(oidc_service_create_callback_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_callback_with_http_info(oidc_service_create_callback_request)
        if oidc_service_create_callback_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_create_callback_request' when calling OIDCServiceApi.create_callback"
        end

        path = '/zitadel.oidc.v2.OIDCService/CreateCallback'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = oidc_service_create_callback_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OIDCServiceCreateCallbackResponse',
          nil
        )
      end

      # Get Auth Request
      # Get OIDC Auth Request details by ID, obtained from the redirect URL.  Returns details that are parsed from the application's Auth Request.   Required permissions:    - `session.read`
      # @param oidc_service_get_auth_request_request [OIDCServiceGetAuthRequestRequest]

      # @return [OIDCServiceGetAuthRequestResponse]
      # @raise [ApiError] if fails to make API call
      def get_auth_request(oidc_service_get_auth_request_request)
        if oidc_service_get_auth_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_get_auth_request_request' when calling OIDCServiceApi.get_auth_request"
        end

        result = get_auth_request_with_http_info(oidc_service_get_auth_request_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_auth_request_with_http_info(oidc_service_get_auth_request_request)
        if oidc_service_get_auth_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_get_auth_request_request' when calling OIDCServiceApi.get_auth_request"
        end

        path = '/zitadel.oidc.v2.OIDCService/GetAuthRequest'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = oidc_service_get_auth_request_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OIDCServiceGetAuthRequestResponse',
          nil
        )
      end

      # Get Device Authorization Request
      # Get the device authorization based on the provided \"user code\".  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.   Required permissions:    - `session.read`
      # @param oidc_service_get_device_authorization_request_request [OIDCServiceGetDeviceAuthorizationRequestRequest]

      # @return [OIDCServiceGetDeviceAuthorizationRequestResponse]
      # @raise [ApiError] if fails to make API call
      def get_device_authorization_request(oidc_service_get_device_authorization_request_request)
        if oidc_service_get_device_authorization_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_get_device_authorization_request_request' when calling OIDCServiceApi.get_device_authorization_request"
        end

        result = get_device_authorization_request_with_http_info(oidc_service_get_device_authorization_request_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_device_authorization_request_with_http_info(oidc_service_get_device_authorization_request_request)
        if oidc_service_get_device_authorization_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'oidc_service_get_device_authorization_request_request' when calling OIDCServiceApi.get_device_authorization_request"
        end

        path = '/zitadel.oidc.v2.OIDCService/GetDeviceAuthorizationRequest'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = oidc_service_get_device_authorization_request_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OIDCServiceGetDeviceAuthorizationRequestResponse',
          nil
        )
      end
    end
  end
end
