# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # OrganizationServiceApi provides methods for the OrganizationService API group.
    class OrganizationServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Organization
      # Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`
      # @param organization_service_activate_organization_request [OrganizationServiceActivateOrganizationRequest]

      # @return [OrganizationServiceActivateOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def activate_organization(organization_service_activate_organization_request)
        if organization_service_activate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_activate_organization_request' when calling OrganizationServiceApi.activate_organization"
        end

        result = activate_organization_with_http_info(organization_service_activate_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_organization_with_http_info(organization_service_activate_organization_request)
        if organization_service_activate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_activate_organization_request' when calling OrganizationServiceApi.activate_organization"
        end

        path = '/zitadel.org.v2.OrganizationService/ActivateOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_activate_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceActivateOrganizationResponse',
          nil
        )
      end

      # Add Organization
      # Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`
      # @param organization_service_add_organization_request [OrganizationServiceAddOrganizationRequest]

      # @return [OrganizationServiceAddOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def add_organization(organization_service_add_organization_request)
        if organization_service_add_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_add_organization_request' when calling OrganizationServiceApi.add_organization"
        end

        result = add_organization_with_http_info(organization_service_add_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_organization_with_http_info(organization_service_add_organization_request)
        if organization_service_add_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_add_organization_request' when calling OrganizationServiceApi.add_organization"
        end

        path = '/zitadel.org.v2.OrganizationService/AddOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_add_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceAddOrganizationResponse',
          nil
        )
      end

      # Add Organization Domain
      # Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`
      # @param organization_service_add_organization_domain_request [OrganizationServiceAddOrganizationDomainRequest]

      # @return [OrganizationServiceAddOrganizationDomainResponse]
      # @raise [ApiError] if fails to make API call
      def add_organization_domain(organization_service_add_organization_domain_request)
        if organization_service_add_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_add_organization_domain_request' when calling OrganizationServiceApi.add_organization_domain"
        end

        result = add_organization_domain_with_http_info(organization_service_add_organization_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_organization_domain_with_http_info(organization_service_add_organization_domain_request)
        if organization_service_add_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_add_organization_domain_request' when calling OrganizationServiceApi.add_organization_domain"
        end

        path = '/zitadel.org.v2.OrganizationService/AddOrganizationDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_add_organization_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceAddOrganizationDomainResponse',
          nil
        )
      end

      # Deactivate Organization
      # Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`
      # @param organization_service_deactivate_organization_request [OrganizationServiceDeactivateOrganizationRequest]

      # @return [OrganizationServiceDeactivateOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_organization(organization_service_deactivate_organization_request)
        if organization_service_deactivate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_deactivate_organization_request' when calling OrganizationServiceApi.deactivate_organization"
        end

        result = deactivate_organization_with_http_info(organization_service_deactivate_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_organization_with_http_info(organization_service_deactivate_organization_request)
        if organization_service_deactivate_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_deactivate_organization_request' when calling OrganizationServiceApi.deactivate_organization"
        end

        path = '/zitadel.org.v2.OrganizationService/DeactivateOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_deactivate_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceDeactivateOrganizationResponse',
          nil
        )
      end

      # Delete Organization
      # Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`
      # @param organization_service_delete_organization_request [OrganizationServiceDeleteOrganizationRequest]

      # @return [OrganizationServiceDeleteOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def delete_organization(organization_service_delete_organization_request)
        if organization_service_delete_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_delete_organization_request' when calling OrganizationServiceApi.delete_organization"
        end

        result = delete_organization_with_http_info(organization_service_delete_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_organization_with_http_info(organization_service_delete_organization_request)
        if organization_service_delete_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_delete_organization_request' when calling OrganizationServiceApi.delete_organization"
        end

        path = '/zitadel.org.v2.OrganizationService/DeleteOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_delete_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceDeleteOrganizationResponse',
          nil
        )
      end

      # Delete Organization Domain
      # Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`
      # @param organization_service_delete_organization_domain_request [OrganizationServiceDeleteOrganizationDomainRequest]

      # @return [OrganizationServiceDeleteOrganizationDomainResponse]
      # @raise [ApiError] if fails to make API call
      def delete_organization_domain(organization_service_delete_organization_domain_request)
        if organization_service_delete_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_delete_organization_domain_request' when calling OrganizationServiceApi.delete_organization_domain"
        end

        result = delete_organization_domain_with_http_info(organization_service_delete_organization_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_organization_domain_with_http_info(organization_service_delete_organization_domain_request)
        if organization_service_delete_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_delete_organization_domain_request' when calling OrganizationServiceApi.delete_organization_domain"
        end

        path = '/zitadel.org.v2.OrganizationService/DeleteOrganizationDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_delete_organization_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceDeleteOrganizationDomainResponse',
          nil
        )
      end

      # Delete Organization Metadata
      # Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`
      # @param organization_service_delete_organization_metadata_request [OrganizationServiceDeleteOrganizationMetadataRequest]

      # @return [OrganizationServiceDeleteOrganizationMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def delete_organization_metadata(organization_service_delete_organization_metadata_request)
        if organization_service_delete_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_delete_organization_metadata_request' when calling OrganizationServiceApi.delete_organization_metadata"
        end

        result = delete_organization_metadata_with_http_info(organization_service_delete_organization_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_organization_metadata_with_http_info(organization_service_delete_organization_metadata_request)
        if organization_service_delete_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_delete_organization_metadata_request' when calling OrganizationServiceApi.delete_organization_metadata"
        end

        path = '/zitadel.org.v2.OrganizationService/DeleteOrganizationMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_delete_organization_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceDeleteOrganizationMetadataResponse',
          nil
        )
      end

      # Generate Organization Domain Validation
      # Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`
      # @param organization_service_generate_organization_domain_validation_request [OrganizationServiceGenerateOrganizationDomainValidationRequest]

      # @return [OrganizationServiceGenerateOrganizationDomainValidationResponse]
      # @raise [ApiError] if fails to make API call
      def generate_organization_domain_validation(organization_service_generate_organization_domain_validation_request)
        if organization_service_generate_organization_domain_validation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_generate_organization_domain_validation_request' when calling OrganizationServiceApi.generate_organization_domain_validation"
        end

        result = generate_organization_domain_validation_with_http_info(organization_service_generate_organization_domain_validation_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def generate_organization_domain_validation_with_http_info(organization_service_generate_organization_domain_validation_request)
        if organization_service_generate_organization_domain_validation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_generate_organization_domain_validation_request' when calling OrganizationServiceApi.generate_organization_domain_validation"
        end

        path = '/zitadel.org.v2.OrganizationService/GenerateOrganizationDomainValidation'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_generate_organization_domain_validation_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceGenerateOrganizationDomainValidationResponse',
          nil
        )
      end

      # List Organization Domains
      # Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.read`
      # @param organization_service_list_organization_domains_request [OrganizationServiceListOrganizationDomainsRequest]

      # @return [OrganizationServiceListOrganizationDomainsResponse]
      # @raise [ApiError] if fails to make API call
      def list_organization_domains(organization_service_list_organization_domains_request)
        if organization_service_list_organization_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_list_organization_domains_request' when calling OrganizationServiceApi.list_organization_domains"
        end

        result = list_organization_domains_with_http_info(organization_service_list_organization_domains_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_organization_domains_with_http_info(organization_service_list_organization_domains_request)
        if organization_service_list_organization_domains_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_list_organization_domains_request' when calling OrganizationServiceApi.list_organization_domains"
        end

        path = '/zitadel.org.v2.OrganizationService/ListOrganizationDomains'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_list_organization_domains_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceListOrganizationDomainsResponse',
          nil
        )
      end

      # List Organization Metadata
      # List metadata of an organization filtered by query.   Required permission:   - `org.read`
      # @param organization_service_list_organization_metadata_request [OrganizationServiceListOrganizationMetadataRequest]

      # @return [OrganizationServiceListOrganizationMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def list_organization_metadata(organization_service_list_organization_metadata_request)
        if organization_service_list_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_list_organization_metadata_request' when calling OrganizationServiceApi.list_organization_metadata"
        end

        result = list_organization_metadata_with_http_info(organization_service_list_organization_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_organization_metadata_with_http_info(organization_service_list_organization_metadata_request)
        if organization_service_list_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_list_organization_metadata_request' when calling OrganizationServiceApi.list_organization_metadata"
        end

        path = '/zitadel.org.v2.OrganizationService/ListOrganizationMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_list_organization_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceListOrganizationMetadataResponse',
          nil
        )
      end

      # List Organizations
      # Search for Organizations. By default, we will return all organization of the instance that you have permission to read.  Make sure to include a limit and sorting for pagination.   Required permission:   - `org.read`
      # @param organization_service_list_organizations_request [OrganizationServiceListOrganizationsRequest]

      # @return [OrganizationServiceListOrganizationsResponse]
      # @raise [ApiError] if fails to make API call
      def list_organizations(organization_service_list_organizations_request)
        if organization_service_list_organizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_list_organizations_request' when calling OrganizationServiceApi.list_organizations"
        end

        result = list_organizations_with_http_info(organization_service_list_organizations_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_organizations_with_http_info(organization_service_list_organizations_request)
        if organization_service_list_organizations_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_list_organizations_request' when calling OrganizationServiceApi.list_organizations"
        end

        path = '/zitadel.org.v2.OrganizationService/ListOrganizations'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_list_organizations_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceListOrganizationsResponse',
          nil
        )
      end

      # Set Organization Metadata
      # Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`
      # @param organization_service_set_organization_metadata_request [OrganizationServiceSetOrganizationMetadataRequest]

      # @return [OrganizationServiceSetOrganizationMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def set_organization_metadata(organization_service_set_organization_metadata_request)
        if organization_service_set_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_set_organization_metadata_request' when calling OrganizationServiceApi.set_organization_metadata"
        end

        result = set_organization_metadata_with_http_info(organization_service_set_organization_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_organization_metadata_with_http_info(organization_service_set_organization_metadata_request)
        if organization_service_set_organization_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_set_organization_metadata_request' when calling OrganizationServiceApi.set_organization_metadata"
        end

        path = '/zitadel.org.v2.OrganizationService/SetOrganizationMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_set_organization_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceSetOrganizationMetadataResponse',
          nil
        )
      end

      # Update Organization
      # Change the name of the organization.   Required permission:   - `org.write`
      # @param organization_service_update_organization_request [OrganizationServiceUpdateOrganizationRequest]

      # @return [OrganizationServiceUpdateOrganizationResponse]
      # @raise [ApiError] if fails to make API call
      def update_organization(organization_service_update_organization_request)
        if organization_service_update_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_update_organization_request' when calling OrganizationServiceApi.update_organization"
        end

        result = update_organization_with_http_info(organization_service_update_organization_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_organization_with_http_info(organization_service_update_organization_request)
        if organization_service_update_organization_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_update_organization_request' when calling OrganizationServiceApi.update_organization"
        end

        path = '/zitadel.org.v2.OrganizationService/UpdateOrganization'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_update_organization_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceUpdateOrganizationResponse',
          nil
        )
      end

      # Verify Organization Domain
      # Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`
      # @param organization_service_verify_organization_domain_request [OrganizationServiceVerifyOrganizationDomainRequest]

      # @return [OrganizationServiceVerifyOrganizationDomainResponse]
      # @raise [ApiError] if fails to make API call
      def verify_organization_domain(organization_service_verify_organization_domain_request)
        if organization_service_verify_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_verify_organization_domain_request' when calling OrganizationServiceApi.verify_organization_domain"
        end

        result = verify_organization_domain_with_http_info(organization_service_verify_organization_domain_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def verify_organization_domain_with_http_info(organization_service_verify_organization_domain_request)
        if organization_service_verify_organization_domain_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'organization_service_verify_organization_domain_request' when calling OrganizationServiceApi.verify_organization_domain"
        end

        path = '/zitadel.org.v2.OrganizationService/VerifyOrganizationDomain'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = organization_service_verify_organization_domain_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'OrganizationServiceVerifyOrganizationDomainResponse',
          nil
        )
      end
    end
  end
end
