=begin
#Zitadel SDK

#The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module Zitadel::Client::Api
  class ProjectServiceApi
  attr_accessor :api_client

  def initialize(api_client = ApiClient.default)
  @api_client = api_client
  end
      # Activate Project
      # Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - &#x60;project.write&#x60;
          # @param project_service_activate_project_request [ProjectServiceActivateProjectRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceActivateProjectResponse]
    def activate_project(project_service_activate_project_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.activate_project ...' # MODIFIED
    end
          # verify the required parameter 'project_service_activate_project_request' is set
          if @api_client.config.client_side_validation && project_service_activate_project_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_activate_project_request' when calling Api::ProjectServiceApi.activate_project" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/ActivateProject'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_activate_project_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceActivateProjectResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.activate_project", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#activate_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Activate Project Grant
      # Set the state of the project grant to activated.   Required permission:    - &#x60;project.grant.write&#x60;
          # @param project_service_activate_project_grant_request [ProjectServiceActivateProjectGrantRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceActivateProjectGrantResponse]
    def activate_project_grant(project_service_activate_project_grant_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.activate_project_grant ...' # MODIFIED
    end
          # verify the required parameter 'project_service_activate_project_grant_request' is set
          if @api_client.config.client_side_validation && project_service_activate_project_grant_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_activate_project_grant_request' when calling Api::ProjectServiceApi.activate_project_grant" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/ActivateProjectGrant'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_activate_project_grant_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceActivateProjectGrantResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.activate_project_grant", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#activate_project_grant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Add Project Role
      # Add a new project role to a project. The key must be unique within the project.   Required permission:    - &#x60;project.role.write&#x60;
          # @param project_service_add_project_role_request [ProjectServiceAddProjectRoleRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceAddProjectRoleResponse]
    def add_project_role(project_service_add_project_role_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.add_project_role ...' # MODIFIED
    end
          # verify the required parameter 'project_service_add_project_role_request' is set
          if @api_client.config.client_side_validation && project_service_add_project_role_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_add_project_role_request' when calling Api::ProjectServiceApi.add_project_role" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/AddProjectRole'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_add_project_role_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceAddProjectRoleResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.add_project_role", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#add_project_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Create Project
      # Create a new project. A project is a vessel to group applications, roles and  authorizations. Every project belongs to exactly one organization, but  can be granted to other organizations for self-management of their authorizations.   Required permission:    - &#x60;project.create&#x60;
          # @param project_service_create_project_request [ProjectServiceCreateProjectRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceCreateProjectResponse]
    def create_project(project_service_create_project_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.create_project ...' # MODIFIED
    end
          # verify the required parameter 'project_service_create_project_request' is set
          if @api_client.config.client_side_validation && project_service_create_project_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_create_project_request' when calling Api::ProjectServiceApi.create_project" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/CreateProject'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_create_project_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceCreateProjectResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.create_project", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Create Project Grant
      # Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - &#x60;project.grant.create&#x60;
          # @param project_service_create_project_grant_request [ProjectServiceCreateProjectGrantRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceCreateProjectGrantResponse]
    def create_project_grant(project_service_create_project_grant_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.create_project_grant ...' # MODIFIED
    end
          # verify the required parameter 'project_service_create_project_grant_request' is set
          if @api_client.config.client_side_validation && project_service_create_project_grant_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_create_project_grant_request' when calling Api::ProjectServiceApi.create_project_grant" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/CreateProjectGrant'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_create_project_grant_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceCreateProjectGrantResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.create_project_grant", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#create_project_grant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Deactivate Project
      # Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - &#x60;project.write&#x60;
          # @param project_service_deactivate_project_request [ProjectServiceDeactivateProjectRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceDeactivateProjectResponse]
    def deactivate_project(project_service_deactivate_project_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.deactivate_project ...' # MODIFIED
    end
          # verify the required parameter 'project_service_deactivate_project_request' is set
          if @api_client.config.client_side_validation && project_service_deactivate_project_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_deactivate_project_request' when calling Api::ProjectServiceApi.deactivate_project" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/DeactivateProject'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_deactivate_project_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceDeactivateProjectResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.deactivate_project", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#deactivate_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Deactivate Project Grant
      # Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - &#x60;project.grant.write&#x60;
          # @param project_service_deactivate_project_grant_request [ProjectServiceDeactivateProjectGrantRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceDeactivateProjectGrantResponse]
    def deactivate_project_grant(project_service_deactivate_project_grant_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.deactivate_project_grant ...' # MODIFIED
    end
          # verify the required parameter 'project_service_deactivate_project_grant_request' is set
          if @api_client.config.client_side_validation && project_service_deactivate_project_grant_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_deactivate_project_grant_request' when calling Api::ProjectServiceApi.deactivate_project_grant" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/DeactivateProjectGrant'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_deactivate_project_grant_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceDeactivateProjectGrantResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.deactivate_project_grant", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#deactivate_project_grant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Delete Project
      # Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - &#x60;project.delete&#x60;
          # @param project_service_delete_project_request [ProjectServiceDeleteProjectRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceDeleteProjectResponse]
    def delete_project(project_service_delete_project_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.delete_project ...' # MODIFIED
    end
          # verify the required parameter 'project_service_delete_project_request' is set
          if @api_client.config.client_side_validation && project_service_delete_project_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_delete_project_request' when calling Api::ProjectServiceApi.delete_project" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/DeleteProject'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_delete_project_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceDeleteProjectResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.delete_project", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#delete_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Delete Project Grant
      # Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - &#x60;project.grant.delete&#x60;
          # @param project_service_delete_project_grant_request [ProjectServiceDeleteProjectGrantRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceDeleteProjectGrantResponse]
    def delete_project_grant(project_service_delete_project_grant_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.delete_project_grant ...' # MODIFIED
    end
          # verify the required parameter 'project_service_delete_project_grant_request' is set
          if @api_client.config.client_side_validation && project_service_delete_project_grant_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_delete_project_grant_request' when calling Api::ProjectServiceApi.delete_project_grant" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/DeleteProjectGrant'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_delete_project_grant_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceDeleteProjectGrantResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.delete_project_grant", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#delete_project_grant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Get Project
      # Returns the project identified by the requested ID.   Required permission:    - &#x60;project.read&#x60;
          # @param project_service_get_project_request [ProjectServiceGetProjectRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceGetProjectResponse]
    def get_project(project_service_get_project_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.get_project ...' # MODIFIED
    end
          # verify the required parameter 'project_service_get_project_request' is set
          if @api_client.config.client_side_validation && project_service_get_project_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_get_project_request' when calling Api::ProjectServiceApi.get_project" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/GetProject'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_get_project_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceGetProjectResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.get_project", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#get_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Project Grants
      # Returns a list of project grants. A project grant is when the organization grants its project  to another organization.   Required permission:    - &#x60;project.grant.read&#x60;
          # @param project_service_list_project_grants_request [ProjectServiceListProjectGrantsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceListProjectGrantsResponse]
    def list_project_grants(project_service_list_project_grants_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.list_project_grants ...' # MODIFIED
    end
          # verify the required parameter 'project_service_list_project_grants_request' is set
          if @api_client.config.client_side_validation && project_service_list_project_grants_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_list_project_grants_request' when calling Api::ProjectServiceApi.list_project_grants" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/ListProjectGrants'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_list_project_grants_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceListProjectGrantsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.list_project_grants", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#list_project_grants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Project Roles
      # Returns all roles of a project matching the search query.   Required permission:    - &#x60;project.role.read&#x60;
          # @param project_service_list_project_roles_request [ProjectServiceListProjectRolesRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceListProjectRolesResponse]
    def list_project_roles(project_service_list_project_roles_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.list_project_roles ...' # MODIFIED
    end
          # verify the required parameter 'project_service_list_project_roles_request' is set
          if @api_client.config.client_side_validation && project_service_list_project_roles_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_list_project_roles_request' when calling Api::ProjectServiceApi.list_project_roles" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/ListProjectRoles'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_list_project_roles_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceListProjectRolesResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.list_project_roles", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#list_project_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # List Projects
      # List all matching projects. By default all projects of the instance that the caller  has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - &#x60;project.read&#x60;
          # @param project_service_list_projects_request [ProjectServiceListProjectsRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceListProjectsResponse]
    def list_projects(project_service_list_projects_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.list_projects ...' # MODIFIED
    end
          # verify the required parameter 'project_service_list_projects_request' is set
          if @api_client.config.client_side_validation && project_service_list_projects_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_list_projects_request' when calling Api::ProjectServiceApi.list_projects" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/ListProjects'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_list_projects_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceListProjectsResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.list_projects", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#list_projects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Remove Project Role
      # Removes the role from the project and on every resource it has a dependency.  This includes project grants and user grants.   Required permission:    - &#x60;project.role.write&#x60;
          # @param project_service_remove_project_role_request [ProjectServiceRemoveProjectRoleRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceRemoveProjectRoleResponse]
    def remove_project_role(project_service_remove_project_role_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.remove_project_role ...' # MODIFIED
    end
          # verify the required parameter 'project_service_remove_project_role_request' is set
          if @api_client.config.client_side_validation && project_service_remove_project_role_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_remove_project_role_request' when calling Api::ProjectServiceApi.remove_project_role" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/RemoveProjectRole'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_remove_project_role_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceRemoveProjectRoleResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.remove_project_role", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#remove_project_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Update Project
      # Update an existing project.   Required permission:    - &#x60;project.write&#x60;
          # @param project_service_update_project_request [ProjectServiceUpdateProjectRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceUpdateProjectResponse]
    def update_project(project_service_update_project_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.update_project ...' # MODIFIED
    end
          # verify the required parameter 'project_service_update_project_request' is set
          if @api_client.config.client_side_validation && project_service_update_project_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_update_project_request' when calling Api::ProjectServiceApi.update_project" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/UpdateProject'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_update_project_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceUpdateProjectResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.update_project", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#update_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Update Project Grant
      # Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - &#x60;project.grant.write&#x60;
          # @param project_service_update_project_grant_request [ProjectServiceUpdateProjectGrantRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceUpdateProjectGrantResponse]
    def update_project_grant(project_service_update_project_grant_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.update_project_grant ...' # MODIFIED
    end
          # verify the required parameter 'project_service_update_project_grant_request' is set
          if @api_client.config.client_side_validation && project_service_update_project_grant_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_update_project_grant_request' when calling Api::ProjectServiceApi.update_project_grant" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/UpdateProjectGrant'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_update_project_grant_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceUpdateProjectGrantResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.update_project_grant", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#update_project_grant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end

      # Update Project Role
      # Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - &#x60;project.role.write&#x60;
          # @param project_service_update_project_role_request [ProjectServiceUpdateProjectRoleRequest] 
      # @param [Hash] opts the optional parameters
    # @return [ProjectServiceUpdateProjectRoleResponse]
    def update_project_role(project_service_update_project_role_request, opts = {})
    if @api_client.config.debugging
    @api_client.config.logger.debug 'Calling API: Api::ProjectServiceApi.update_project_role ...' # MODIFIED
    end
          # verify the required parameter 'project_service_update_project_role_request' is set
          if @api_client.config.client_side_validation && project_service_update_project_role_request.nil?
          fail ArgumentError, "Missing the required parameter 'project_service_update_project_role_request' when calling Api::ProjectServiceApi.update_project_role" # MODIFIED
          end
    # resource path
    local_var_path = '/zitadel.project.v2.ProjectService/UpdateProjectRole'

    # query parameters
    query_params = opts[:query_params] || {}

    # header parameters
    header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
      header_params['Content-Type'] = content_type
      end

    # form parameters
    form_params = opts[:form_params] || {}

    # http body (model)
    post_body = opts[:debug_body] || @api_client.object_to_http_body(project_service_update_project_role_request)

    # return_type
    return_type = opts[:debug_return_type] || 'ProjectServiceUpdateProjectRoleResponse'

    # auth_names
    auth_names = opts[:debug_auth_names] || ['zitadelAccessToken']

    new_options = opts.merge(
    :operation => :"Api::ProjectServiceApi.update_project_role", # MODIFIED
    :header_params => header_params,
    :query_params => query_params,
    :form_params => form_params,
    :body => post_body,
    :auth_names => auth_names,
    :return_type => return_type
    )

    data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
    if @api_client.config.debugging
    @api_client.config.logger.debug "API called: Api::ProjectServiceApi#update_project_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" # MODIFIED
    end
    return data
    end
  end
end
