# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # ProjectServiceApi provides methods for the ProjectService API group.
    class ProjectServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Project
      # Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`
      # @param project_service_activate_project_request [ProjectServiceActivateProjectRequest]

      # @return [ProjectServiceActivateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def activate_project(project_service_activate_project_request)
        if project_service_activate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_activate_project_request' when calling ProjectServiceApi.activate_project"
        end

        result = activate_project_with_http_info(project_service_activate_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_project_with_http_info(project_service_activate_project_request)
        if project_service_activate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_activate_project_request' when calling ProjectServiceApi.activate_project"
        end

        path = '/zitadel.project.v2.ProjectService/ActivateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_activate_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceActivateProjectResponse',
          nil
        )
      end

      # Activate Project Grant
      # Set the state of the project grant to activated.   Required permission:    - `project.grant.write`
      # @param project_service_activate_project_grant_request [ProjectServiceActivateProjectGrantRequest]

      # @return [ProjectServiceActivateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def activate_project_grant(project_service_activate_project_grant_request)
        if project_service_activate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_activate_project_grant_request' when calling ProjectServiceApi.activate_project_grant"
        end

        result = activate_project_grant_with_http_info(project_service_activate_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_project_grant_with_http_info(project_service_activate_project_grant_request)
        if project_service_activate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_activate_project_grant_request' when calling ProjectServiceApi.activate_project_grant"
        end

        path = '/zitadel.project.v2.ProjectService/ActivateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_activate_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceActivateProjectGrantResponse',
          nil
        )
      end

      # Add Project Role
      # Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`
      # @param project_service_add_project_role_request [ProjectServiceAddProjectRoleRequest]

      # @return [ProjectServiceAddProjectRoleResponse]
      # @raise [ApiError] if fails to make API call
      def add_project_role(project_service_add_project_role_request)
        if project_service_add_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_add_project_role_request' when calling ProjectServiceApi.add_project_role"
        end

        result = add_project_role_with_http_info(project_service_add_project_role_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_project_role_with_http_info(project_service_add_project_role_request)
        if project_service_add_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_add_project_role_request' when calling ProjectServiceApi.add_project_role"
        end

        path = '/zitadel.project.v2.ProjectService/AddProjectRole'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_add_project_role_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceAddProjectRoleResponse',
          nil
        )
      end

      # Create Project
      # Create a new project. A project is a vessel to group applications, roles and  authorizations. Every project belongs to exactly one organization, but  can be granted to other organizations for self-management of their authorizations.   Required permission:    - `project.create`
      # @param project_service_create_project_request [ProjectServiceCreateProjectRequest]

      # @return [ProjectServiceCreateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def create_project(project_service_create_project_request)
        if project_service_create_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_create_project_request' when calling ProjectServiceApi.create_project"
        end

        result = create_project_with_http_info(project_service_create_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_project_with_http_info(project_service_create_project_request)
        if project_service_create_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_create_project_request' when calling ProjectServiceApi.create_project"
        end

        path = '/zitadel.project.v2.ProjectService/CreateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_create_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceCreateProjectResponse',
          nil
        )
      end

      # Create Project Grant
      # Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.create`
      # @param project_service_create_project_grant_request [ProjectServiceCreateProjectGrantRequest]

      # @return [ProjectServiceCreateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def create_project_grant(project_service_create_project_grant_request)
        if project_service_create_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_create_project_grant_request' when calling ProjectServiceApi.create_project_grant"
        end

        result = create_project_grant_with_http_info(project_service_create_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_project_grant_with_http_info(project_service_create_project_grant_request)
        if project_service_create_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_create_project_grant_request' when calling ProjectServiceApi.create_project_grant"
        end

        path = '/zitadel.project.v2.ProjectService/CreateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_create_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceCreateProjectGrantResponse',
          nil
        )
      end

      # Deactivate Project
      # Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`
      # @param project_service_deactivate_project_request [ProjectServiceDeactivateProjectRequest]

      # @return [ProjectServiceDeactivateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_project(project_service_deactivate_project_request)
        if project_service_deactivate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_deactivate_project_request' when calling ProjectServiceApi.deactivate_project"
        end

        result = deactivate_project_with_http_info(project_service_deactivate_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_project_with_http_info(project_service_deactivate_project_request)
        if project_service_deactivate_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_deactivate_project_request' when calling ProjectServiceApi.deactivate_project"
        end

        path = '/zitadel.project.v2.ProjectService/DeactivateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_deactivate_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceDeactivateProjectResponse',
          nil
        )
      end

      # Deactivate Project Grant
      # Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`
      # @param project_service_deactivate_project_grant_request [ProjectServiceDeactivateProjectGrantRequest]

      # @return [ProjectServiceDeactivateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_project_grant(project_service_deactivate_project_grant_request)
        if project_service_deactivate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_deactivate_project_grant_request' when calling ProjectServiceApi.deactivate_project_grant"
        end

        result = deactivate_project_grant_with_http_info(project_service_deactivate_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_project_grant_with_http_info(project_service_deactivate_project_grant_request)
        if project_service_deactivate_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_deactivate_project_grant_request' when calling ProjectServiceApi.deactivate_project_grant"
        end

        path = '/zitadel.project.v2.ProjectService/DeactivateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_deactivate_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceDeactivateProjectGrantResponse',
          nil
        )
      end

      # Delete Project
      # Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`
      # @param project_service_delete_project_request [ProjectServiceDeleteProjectRequest]

      # @return [ProjectServiceDeleteProjectResponse]
      # @raise [ApiError] if fails to make API call
      def delete_project(project_service_delete_project_request)
        if project_service_delete_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_delete_project_request' when calling ProjectServiceApi.delete_project"
        end

        result = delete_project_with_http_info(project_service_delete_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_project_with_http_info(project_service_delete_project_request)
        if project_service_delete_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_delete_project_request' when calling ProjectServiceApi.delete_project"
        end

        path = '/zitadel.project.v2.ProjectService/DeleteProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_delete_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceDeleteProjectResponse',
          nil
        )
      end

      # Delete Project Grant
      # Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`
      # @param project_service_delete_project_grant_request [ProjectServiceDeleteProjectGrantRequest]

      # @return [ProjectServiceDeleteProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def delete_project_grant(project_service_delete_project_grant_request)
        if project_service_delete_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_delete_project_grant_request' when calling ProjectServiceApi.delete_project_grant"
        end

        result = delete_project_grant_with_http_info(project_service_delete_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_project_grant_with_http_info(project_service_delete_project_grant_request)
        if project_service_delete_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_delete_project_grant_request' when calling ProjectServiceApi.delete_project_grant"
        end

        path = '/zitadel.project.v2.ProjectService/DeleteProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_delete_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceDeleteProjectGrantResponse',
          nil
        )
      end

      # Get Project
      # Returns the project identified by the requested ID.   Required permission:    - `project.read`
      # @param project_service_get_project_request [ProjectServiceGetProjectRequest]

      # @return [ProjectServiceGetProjectResponse]
      # @raise [ApiError] if fails to make API call
      def get_project(project_service_get_project_request)
        if project_service_get_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_get_project_request' when calling ProjectServiceApi.get_project"
        end

        result = get_project_with_http_info(project_service_get_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_project_with_http_info(project_service_get_project_request)
        if project_service_get_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_get_project_request' when calling ProjectServiceApi.get_project"
        end

        path = '/zitadel.project.v2.ProjectService/GetProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_get_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceGetProjectResponse',
          nil
        )
      end

      # List Project Grants
      # Returns a list of project grants. A project grant is when the organization grants its project  to another organization.   Required permission:    - `project.grant.read`
      # @param project_service_list_project_grants_request [ProjectServiceListProjectGrantsRequest]

      # @return [ProjectServiceListProjectGrantsResponse]
      # @raise [ApiError] if fails to make API call
      def list_project_grants(project_service_list_project_grants_request)
        if project_service_list_project_grants_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_list_project_grants_request' when calling ProjectServiceApi.list_project_grants"
        end

        result = list_project_grants_with_http_info(project_service_list_project_grants_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_project_grants_with_http_info(project_service_list_project_grants_request)
        if project_service_list_project_grants_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_list_project_grants_request' when calling ProjectServiceApi.list_project_grants"
        end

        path = '/zitadel.project.v2.ProjectService/ListProjectGrants'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_list_project_grants_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceListProjectGrantsResponse',
          nil
        )
      end

      # List Project Roles
      # Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`
      # @param project_service_list_project_roles_request [ProjectServiceListProjectRolesRequest]

      # @return [ProjectServiceListProjectRolesResponse]
      # @raise [ApiError] if fails to make API call
      def list_project_roles(project_service_list_project_roles_request)
        if project_service_list_project_roles_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_list_project_roles_request' when calling ProjectServiceApi.list_project_roles"
        end

        result = list_project_roles_with_http_info(project_service_list_project_roles_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_project_roles_with_http_info(project_service_list_project_roles_request)
        if project_service_list_project_roles_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_list_project_roles_request' when calling ProjectServiceApi.list_project_roles"
        end

        path = '/zitadel.project.v2.ProjectService/ListProjectRoles'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_list_project_roles_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceListProjectRolesResponse',
          nil
        )
      end

      # List Projects
      # List all matching projects. By default all projects of the instance that the caller  has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`
      # @param project_service_list_projects_request [ProjectServiceListProjectsRequest]

      # @return [ProjectServiceListProjectsResponse]
      # @raise [ApiError] if fails to make API call
      def list_projects(project_service_list_projects_request)
        if project_service_list_projects_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_list_projects_request' when calling ProjectServiceApi.list_projects"
        end

        result = list_projects_with_http_info(project_service_list_projects_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_projects_with_http_info(project_service_list_projects_request)
        if project_service_list_projects_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_list_projects_request' when calling ProjectServiceApi.list_projects"
        end

        path = '/zitadel.project.v2.ProjectService/ListProjects'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_list_projects_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceListProjectsResponse',
          nil
        )
      end

      # Remove Project Role
      # Removes the role from the project and on every resource it has a dependency.  This includes project grants and user grants.   Required permission:    - `project.role.write`
      # @param project_service_remove_project_role_request [ProjectServiceRemoveProjectRoleRequest]

      # @return [ProjectServiceRemoveProjectRoleResponse]
      # @raise [ApiError] if fails to make API call
      def remove_project_role(project_service_remove_project_role_request)
        if project_service_remove_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_remove_project_role_request' when calling ProjectServiceApi.remove_project_role"
        end

        result = remove_project_role_with_http_info(project_service_remove_project_role_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_project_role_with_http_info(project_service_remove_project_role_request)
        if project_service_remove_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_remove_project_role_request' when calling ProjectServiceApi.remove_project_role"
        end

        path = '/zitadel.project.v2.ProjectService/RemoveProjectRole'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_remove_project_role_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceRemoveProjectRoleResponse',
          nil
        )
      end

      # Update Project
      # Update an existing project.   Required permission:    - `project.write`
      # @param project_service_update_project_request [ProjectServiceUpdateProjectRequest]

      # @return [ProjectServiceUpdateProjectResponse]
      # @raise [ApiError] if fails to make API call
      def update_project(project_service_update_project_request)
        if project_service_update_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_update_project_request' when calling ProjectServiceApi.update_project"
        end

        result = update_project_with_http_info(project_service_update_project_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_project_with_http_info(project_service_update_project_request)
        if project_service_update_project_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_update_project_request' when calling ProjectServiceApi.update_project"
        end

        path = '/zitadel.project.v2.ProjectService/UpdateProject'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_update_project_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceUpdateProjectResponse',
          nil
        )
      end

      # Update Project Grant
      # Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.write`
      # @param project_service_update_project_grant_request [ProjectServiceUpdateProjectGrantRequest]

      # @return [ProjectServiceUpdateProjectGrantResponse]
      # @raise [ApiError] if fails to make API call
      def update_project_grant(project_service_update_project_grant_request)
        if project_service_update_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_update_project_grant_request' when calling ProjectServiceApi.update_project_grant"
        end

        result = update_project_grant_with_http_info(project_service_update_project_grant_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_project_grant_with_http_info(project_service_update_project_grant_request)
        if project_service_update_project_grant_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_update_project_grant_request' when calling ProjectServiceApi.update_project_grant"
        end

        path = '/zitadel.project.v2.ProjectService/UpdateProjectGrant'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_update_project_grant_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceUpdateProjectGrantResponse',
          nil
        )
      end

      # Update Project Role
      # Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`
      # @param project_service_update_project_role_request [ProjectServiceUpdateProjectRoleRequest]

      # @return [ProjectServiceUpdateProjectRoleResponse]
      # @raise [ApiError] if fails to make API call
      def update_project_role(project_service_update_project_role_request)
        if project_service_update_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_update_project_role_request' when calling ProjectServiceApi.update_project_role"
        end

        result = update_project_role_with_http_info(project_service_update_project_role_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def update_project_role_with_http_info(project_service_update_project_role_request)
        if project_service_update_project_role_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'project_service_update_project_role_request' when calling ProjectServiceApi.update_project_role"
        end

        path = '/zitadel.project.v2.ProjectService/UpdateProjectRole'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = project_service_update_project_role_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'ProjectServiceUpdateProjectRoleResponse',
          nil
        )
      end
    end
  end
end
