# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # SAMLServiceApi provides methods for the SAMLService API group.
    class SAMLServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create Response
      # Finalize a SAML Request and get the response definition for success or failure.  The response must be handled as per the SAML definition to inform the application about the success or failure.  On success, the response contains details for the application to obtain the SAMLResponse.  This method can only be called once for an SAML request.   Required permissions:    - `session.link`
      # @param saml_service_create_response_request [SAMLServiceCreateResponseRequest]

      # @return [SAMLServiceCreateResponseResponse]
      # @raise [ApiError] if fails to make API call
      def create_response(saml_service_create_response_request)
        if saml_service_create_response_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'saml_service_create_response_request' when calling SAMLServiceApi.create_response"
        end

        result = create_response_with_http_info(saml_service_create_response_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_response_with_http_info(saml_service_create_response_request)
        if saml_service_create_response_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'saml_service_create_response_request' when calling SAMLServiceApi.create_response"
        end

        path = '/zitadel.saml.v2.SAMLService/CreateResponse'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = saml_service_create_response_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SAMLServiceCreateResponseResponse',
          nil
        )
      end

      # Get SAML Request
      # Get SAML Request details by ID. Returns details that are parsed from the application's SAML Request.   Required permissions:    - `session.read`
      # @param saml_service_get_saml_request_request [SAMLServiceGetSAMLRequestRequest]

      # @return [SAMLServiceGetSAMLRequestResponse]
      # @raise [ApiError] if fails to make API call
      def get_saml_request(saml_service_get_saml_request_request)
        if saml_service_get_saml_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'saml_service_get_saml_request_request' when calling SAMLServiceApi.get_saml_request"
        end

        result = get_saml_request_with_http_info(saml_service_get_saml_request_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_saml_request_with_http_info(saml_service_get_saml_request_request)
        if saml_service_get_saml_request_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'saml_service_get_saml_request_request' when calling SAMLServiceApi.get_saml_request"
        end

        path = '/zitadel.saml.v2.SAMLService/GetSAMLRequest'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = saml_service_get_saml_request_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SAMLServiceGetSAMLRequestResponse',
          nil
        )
      end
    end
  end
end
