# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # SessionServiceApi provides methods for the SessionService API group.
    class SessionServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create Session
      # Create a new session with initial checks, metadata and challenges for further verification.  A token will be returned, which is required for using the session as authentication, e.g.  when authenticating an OIDC auth request or SAML request.  Additionally, the session token can be used as OAuth2 access token to authenticate against  the ZITADEL APIs.   Required permissions:    - `session.write`
      # @param session_service_create_session_request [SessionServiceCreateSessionRequest]

      # @return [SessionServiceCreateSessionResponse]
      # @raise [ApiError] if fails to make API call
      def create_session(session_service_create_session_request)
        if session_service_create_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_create_session_request' when calling SessionServiceApi.create_session"
        end

        result = create_session_with_http_info(session_service_create_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_session_with_http_info(session_service_create_session_request)
        if session_service_create_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_create_session_request' when calling SessionServiceApi.create_session"
        end

        path = '/zitadel.session.v2.SessionService/CreateSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = session_service_create_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SessionServiceCreateSessionResponse',
          nil
        )
      end

      # DeleteSession
      # Terminate an existing session. This invalidates the session and its token.  The session can no longer be used for the authentication of other resources  or to authenticate against the ZITADEL APIs.   You can only terminate your own session, unless you are granted the `session.delete` permission.   Required permissions:    - `session.delete`    - no permission required for own sessions or when providing the current session token
      # @param session_service_delete_session_request [SessionServiceDeleteSessionRequest]

      # @return [SessionServiceDeleteSessionResponse]
      # @raise [ApiError] if fails to make API call
      def delete_session(session_service_delete_session_request)
        if session_service_delete_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_delete_session_request' when calling SessionServiceApi.delete_session"
        end

        result = delete_session_with_http_info(session_service_delete_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_session_with_http_info(session_service_delete_session_request)
        if session_service_delete_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_delete_session_request' when calling SessionServiceApi.delete_session"
        end

        path = '/zitadel.session.v2.SessionService/DeleteSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = session_service_delete_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SessionServiceDeleteSessionResponse',
          nil
        )
      end

      # Get Session
      # Retrieve a session by its ID. Returns all information about the session, including  the factors that were verified, the metadata, user agent information and possible expiration date.  The session token is required unless either of the following conditions is met:    - the caller created the session    - the authenticated user requests their own session (checked user)    - the security token provided in the authorization header has the same user agent as the session    - the caller is granted the permission session.read permission on either the instance or on the checked user's organization   Required permissions:    - `session.read`    - no permission required to get own sessions (see above) or when providing the current session token
      # @param session_service_get_session_request [SessionServiceGetSessionRequest]

      # @return [SessionServiceGetSessionResponse]
      # @raise [ApiError] if fails to make API call
      def get_session(session_service_get_session_request)
        if session_service_get_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_get_session_request' when calling SessionServiceApi.get_session"
        end

        result = get_session_with_http_info(session_service_get_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_session_with_http_info(session_service_get_session_request)
        if session_service_get_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_get_session_request' when calling SessionServiceApi.get_session"
        end

        path = '/zitadel.session.v2.SessionService/GetSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = session_service_get_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SessionServiceGetSessionResponse',
          nil
        )
      end

      # List sessions
      # Searches for sessions matching the given query. You can search by session ID, user ID,  creation date, creator, user agent or expiration date.   Required permissions:    - `session.read`    - no permission required to search for own sessions
      # @param session_service_list_sessions_request [SessionServiceListSessionsRequest]

      # @return [SessionServiceListSessionsResponse]
      # @raise [ApiError] if fails to make API call
      def list_sessions(session_service_list_sessions_request)
        if session_service_list_sessions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_list_sessions_request' when calling SessionServiceApi.list_sessions"
        end

        result = list_sessions_with_http_info(session_service_list_sessions_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_sessions_with_http_info(session_service_list_sessions_request)
        if session_service_list_sessions_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_list_sessions_request' when calling SessionServiceApi.list_sessions"
        end

        path = '/zitadel.session.v2.SessionService/ListSessions'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = session_service_list_sessions_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SessionServiceListSessionsResponse',
          nil
        )
      end

      # Set Session
      # Update an existing session with new information like additional checks or metadata  or request additional challenges.  A new session token will be returned. Note that the previous token will be invalidated.   Required permissions:    - `session.write`
      # @param session_service_set_session_request [SessionServiceSetSessionRequest]

      # @return [SessionServiceSetSessionResponse]
      # @raise [ApiError] if fails to make API call
      def set_session(session_service_set_session_request)
        if session_service_set_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_set_session_request' when calling SessionServiceApi.set_session"
        end

        result = set_session_with_http_info(session_service_set_session_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_session_with_http_info(session_service_set_session_request)
        if session_service_set_session_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'session_service_set_session_request' when calling SessionServiceApi.set_session"
        end

        path = '/zitadel.session.v2.SessionService/SetSession'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = session_service_set_session_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SessionServiceSetSessionResponse',
          nil
        )
      end
    end
  end
end
