# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # SettingsServiceApi provides methods for the SettingsService API group.
    class SettingsServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Get Active Identity Providers
      # Get the current active identity providers for the requested context.  This can be the instance or an organization. In case of an organization,  the returned identity providers will fall back to the active instance identity providers  if not explicitly set on the organization.   Optionally, filter the identity providers by their allowed actions:    - creation_allowed: only return identity providers that are allowed for user creation    - linking_allowed: only return identity providers that are allowed for linking to existing users    - auto_creation: only return identity providers that are allowed for automatic user creation    - auto_linking: only return identity providers that are allowed for automatic linking to existing users   Required permissions:    - `policy.read`
      # @param settings_service_get_active_identity_providers_request [SettingsServiceGetActiveIdentityProvidersRequest]

      # @return [SettingsServiceGetActiveIdentityProvidersResponse]
      # @raise [ApiError] if fails to make API call
      def get_active_identity_providers(settings_service_get_active_identity_providers_request)
        if settings_service_get_active_identity_providers_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_active_identity_providers_request' when calling SettingsServiceApi.get_active_identity_providers"
        end

        result = get_active_identity_providers_with_http_info(settings_service_get_active_identity_providers_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_active_identity_providers_with_http_info(settings_service_get_active_identity_providers_request)
        if settings_service_get_active_identity_providers_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_active_identity_providers_request' when calling SettingsServiceApi.get_active_identity_providers"
        end

        path = '/zitadel.settings.v2.SettingsService/GetActiveIdentityProviders'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_active_identity_providers_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetActiveIdentityProvidersResponse',
          nil
        )
      end

      # Get Branding Settings
      # Get the current active branding settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`
      # @param settings_service_get_branding_settings_request [SettingsServiceGetBrandingSettingsRequest]

      # @return [SettingsServiceGetBrandingSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_branding_settings(settings_service_get_branding_settings_request)
        if settings_service_get_branding_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_branding_settings_request' when calling SettingsServiceApi.get_branding_settings"
        end

        result = get_branding_settings_with_http_info(settings_service_get_branding_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_branding_settings_with_http_info(settings_service_get_branding_settings_request)
        if settings_service_get_branding_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_branding_settings_request' when calling SettingsServiceApi.get_branding_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetBrandingSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_branding_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetBrandingSettingsResponse',
          nil
        )
      end

      # Get Domain Settings
      # Get the domain settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`
      # @param settings_service_get_domain_settings_request [SettingsServiceGetDomainSettingsRequest]

      # @return [SettingsServiceGetDomainSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_domain_settings(settings_service_get_domain_settings_request)
        if settings_service_get_domain_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_domain_settings_request' when calling SettingsServiceApi.get_domain_settings"
        end

        result = get_domain_settings_with_http_info(settings_service_get_domain_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_domain_settings_with_http_info(settings_service_get_domain_settings_request)
        if settings_service_get_domain_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_domain_settings_request' when calling SettingsServiceApi.get_domain_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetDomainSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_domain_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetDomainSettingsResponse',
          nil
        )
      end

      # Get General Settings
      # Get basic information of the instance like the default organization, default language and supported languages.   Required permissions:    - `policy.read`
      # @param body [Object]

      # @return [SettingsServiceGetGeneralSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_general_settings(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling SettingsServiceApi.get_general_settings"
        end

        result = get_general_settings_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_general_settings_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling SettingsServiceApi.get_general_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetGeneralSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetGeneralSettingsResponse',
          nil
        )
      end

      # Get Hosted Login Translation
      # Returns the translations in the requested locale for the hosted login.  The translations returned are based on the input level specified (system, instance or organization).   If the requested level doesn't contain all translations, and ignore_inheritance is set to false,  a merging process fallbacks onto the higher levels ensuring all keys in the file have a translation,  which could be in the default language if the one of the locale is missing on all levels.   The etag returned in the response represents the hash of the translations as they are stored on DB  and its reliable only if ignore_inheritance = true.   Required permissions:    - `iam.policy.read`
      # @param settings_service_get_hosted_login_translation_request [SettingsServiceGetHostedLoginTranslationRequest]

      # @return [SettingsServiceGetHostedLoginTranslationResponse]
      # @raise [ApiError] if fails to make API call
      def get_hosted_login_translation(settings_service_get_hosted_login_translation_request)
        if settings_service_get_hosted_login_translation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_hosted_login_translation_request' when calling SettingsServiceApi.get_hosted_login_translation"
        end

        result = get_hosted_login_translation_with_http_info(settings_service_get_hosted_login_translation_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_hosted_login_translation_with_http_info(settings_service_get_hosted_login_translation_request)
        if settings_service_get_hosted_login_translation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_hosted_login_translation_request' when calling SettingsServiceApi.get_hosted_login_translation"
        end

        path = '/zitadel.settings.v2.SettingsService/GetHostedLoginTranslation'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_hosted_login_translation_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetHostedLoginTranslationResponse',
          nil
        )
      end

      # Get Legal and Support Settings
      # Get the legal and support settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`
      # @param settings_service_get_legal_and_support_settings_request [SettingsServiceGetLegalAndSupportSettingsRequest]

      # @return [SettingsServiceGetLegalAndSupportSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_legal_and_support_settings(settings_service_get_legal_and_support_settings_request)
        if settings_service_get_legal_and_support_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_legal_and_support_settings_request' when calling SettingsServiceApi.get_legal_and_support_settings"
        end

        result = get_legal_and_support_settings_with_http_info(settings_service_get_legal_and_support_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_legal_and_support_settings_with_http_info(settings_service_get_legal_and_support_settings_request)
        if settings_service_get_legal_and_support_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_legal_and_support_settings_request' when calling SettingsServiceApi.get_legal_and_support_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetLegalAndSupportSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_legal_and_support_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetLegalAndSupportSettingsResponse',
          nil
        )
      end

      # Get Lockout Settings
      # Get the lockout settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Lockout settings define how many failed attempts are allowed before a user is locked out.   Required permissions:    - `policy.read`
      # @param settings_service_get_lockout_settings_request [SettingsServiceGetLockoutSettingsRequest]

      # @return [SettingsServiceGetLockoutSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_lockout_settings(settings_service_get_lockout_settings_request)
        if settings_service_get_lockout_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_lockout_settings_request' when calling SettingsServiceApi.get_lockout_settings"
        end

        result = get_lockout_settings_with_http_info(settings_service_get_lockout_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_lockout_settings_with_http_info(settings_service_get_lockout_settings_request)
        if settings_service_get_lockout_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_lockout_settings_request' when calling SettingsServiceApi.get_lockout_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetLockoutSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_lockout_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetLockoutSettingsResponse',
          nil
        )
      end

      # Get Login Settings
      # Get the login settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`
      # @param settings_service_get_login_settings_request [SettingsServiceGetLoginSettingsRequest]

      # @return [SettingsServiceGetLoginSettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_login_settings(settings_service_get_login_settings_request)
        if settings_service_get_login_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_login_settings_request' when calling SettingsServiceApi.get_login_settings"
        end

        result = get_login_settings_with_http_info(settings_service_get_login_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_login_settings_with_http_info(settings_service_get_login_settings_request)
        if settings_service_get_login_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_login_settings_request' when calling SettingsServiceApi.get_login_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetLoginSettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_login_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetLoginSettingsResponse',
          nil
        )
      end

      # Get Password Complexity Settings
      # Get the password complexity settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`
      # @param settings_service_get_password_complexity_settings_request [SettingsServiceGetPasswordComplexitySettingsRequest]

      # @return [SettingsServiceGetPasswordComplexitySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_password_complexity_settings(settings_service_get_password_complexity_settings_request)
        if settings_service_get_password_complexity_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_password_complexity_settings_request' when calling SettingsServiceApi.get_password_complexity_settings"
        end

        result = get_password_complexity_settings_with_http_info(settings_service_get_password_complexity_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_password_complexity_settings_with_http_info(settings_service_get_password_complexity_settings_request)
        if settings_service_get_password_complexity_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_password_complexity_settings_request' when calling SettingsServiceApi.get_password_complexity_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetPasswordComplexitySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_password_complexity_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetPasswordComplexitySettingsResponse',
          nil
        )
      end

      # Get Password Expiry Settings
      # Get the password expiry settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`
      # @param settings_service_get_password_expiry_settings_request [SettingsServiceGetPasswordExpirySettingsRequest]

      # @return [SettingsServiceGetPasswordExpirySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_password_expiry_settings(settings_service_get_password_expiry_settings_request)
        if settings_service_get_password_expiry_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_password_expiry_settings_request' when calling SettingsServiceApi.get_password_expiry_settings"
        end

        result = get_password_expiry_settings_with_http_info(settings_service_get_password_expiry_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_password_expiry_settings_with_http_info(settings_service_get_password_expiry_settings_request)
        if settings_service_get_password_expiry_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_get_password_expiry_settings_request' when calling SettingsServiceApi.get_password_expiry_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetPasswordExpirySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_get_password_expiry_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetPasswordExpirySettingsResponse',
          nil
        )
      end

      # Get Security Settings
      # Get the security settings of the ZITADEL instance.  Security settings include settings like enabling impersonation and embedded iframe settings.   Required permissions:    - `iam.policy.read`
      # @param body [Object]

      # @return [SettingsServiceGetSecuritySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def get_security_settings(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling SettingsServiceApi.get_security_settings"
        end

        result = get_security_settings_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_security_settings_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling SettingsServiceApi.get_security_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/GetSecuritySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceGetSecuritySettingsResponse',
          nil
        )
      end

      # Set Hosted Login Translation
      # Sets the input translations at the specified level (instance or organization) for the input language.   Required permissions:    - `iam.policy.write`
      # @param settings_service_set_hosted_login_translation_request [SettingsServiceSetHostedLoginTranslationRequest]

      # @return [SettingsServiceSetHostedLoginTranslationResponse]
      # @raise [ApiError] if fails to make API call
      def set_hosted_login_translation(settings_service_set_hosted_login_translation_request)
        if settings_service_set_hosted_login_translation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_set_hosted_login_translation_request' when calling SettingsServiceApi.set_hosted_login_translation"
        end

        result = set_hosted_login_translation_with_http_info(settings_service_set_hosted_login_translation_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_hosted_login_translation_with_http_info(settings_service_set_hosted_login_translation_request)
        if settings_service_set_hosted_login_translation_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_set_hosted_login_translation_request' when calling SettingsServiceApi.set_hosted_login_translation"
        end

        path = '/zitadel.settings.v2.SettingsService/SetHostedLoginTranslation'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_set_hosted_login_translation_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceSetHostedLoginTranslationResponse',
          nil
        )
      end

      # Set Security Settings
      # Set the security settings of the instance.   Required permissions:    - `iam.policy.write`
      # @param settings_service_set_security_settings_request [SettingsServiceSetSecuritySettingsRequest]

      # @return [SettingsServiceSetSecuritySettingsResponse]
      # @raise [ApiError] if fails to make API call
      def set_security_settings(settings_service_set_security_settings_request)
        if settings_service_set_security_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_set_security_settings_request' when calling SettingsServiceApi.set_security_settings"
        end

        result = set_security_settings_with_http_info(settings_service_set_security_settings_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def set_security_settings_with_http_info(settings_service_set_security_settings_request)
        if settings_service_set_security_settings_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'settings_service_set_security_settings_request' when calling SettingsServiceApi.set_security_settings"
        end

        path = '/zitadel.settings.v2.SettingsService/SetSecuritySettings'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = settings_service_set_security_settings_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'SettingsServiceSetSecuritySettingsResponse',
          nil
        )
      end
    end
  end
end
