# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # UserServiceApi provides methods for the UserService API group.
    class UserServiceApi < BaseApi
      def initialize(api_client = nil, config = Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Create a new human user
      # Deprecated: Use [CreateUser](apis/resources/user_service_v2/user-service-create-user.api.mdx) to create a new user of type human instead.   Create/import a new user with the type human. The newly created user will get a verification email if either the email address is not marked as verified and you did not request the verification to be returned.
      # @param user_service_add_human_user_request [UserServiceAddHumanUserRequest]

      # @return [UserServiceAddHumanUserResponse]
      # @raise [ApiError] if fails to make API call
      def add_human_user(user_service_add_human_user_request)
        if user_service_add_human_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_human_user_request' when calling UserServiceApi.add_human_user"
        end

        result = add_human_user_with_http_info(user_service_add_human_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_human_user_with_http_info(user_service_add_human_user_request)
        if user_service_add_human_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_human_user_request' when calling UserServiceApi.add_human_user"
        end

        path = '/zitadel.user.v2.UserService/AddHumanUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_add_human_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceAddHumanUserResponse',
          nil
        )
      end

      # Add link to an identity provider to an user
      # Add link to an identity provider to an user..
      # @param user_service_add_idp_link_request [UserServiceAddIDPLinkRequest]

      # @return [UserServiceAddIDPLinkResponse]
      # @raise [ApiError] if fails to make API call
      def add_idp_link(user_service_add_idp_link_request)
        if user_service_add_idp_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_idp_link_request' when calling UserServiceApi.add_idp_link"
        end

        result = add_idp_link_with_http_info(user_service_add_idp_link_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_idp_link_with_http_info(user_service_add_idp_link_request)
        if user_service_add_idp_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_idp_link_request' when calling UserServiceApi.add_idp_link"
        end

        path = '/zitadel.user.v2.UserService/AddIDPLink'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_add_idp_link_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceAddIDPLinkResponse',
          nil
        )
      end

      # Add a Key
      # Add a keys that can be used to securely authenticate at the Zitadel APIs using JWT profile authentication using short-lived tokens.  Make sure you store the returned key safely, as you won't be able to read it from the Zitadel API anymore.  Only users of type machine can have keys.   Required permission:    - user.write
      # @param user_service_add_key_request [UserServiceAddKeyRequest]

      # @return [UserServiceAddKeyResponse]
      # @raise [ApiError] if fails to make API call
      def add_key(user_service_add_key_request)
        if user_service_add_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_key_request' when calling UserServiceApi.add_key"
        end

        result = add_key_with_http_info(user_service_add_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_key_with_http_info(user_service_add_key_request)
        if user_service_add_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_key_request' when calling UserServiceApi.add_key"
        end

        path = '/zitadel.user.v2.UserService/AddKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_add_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceAddKeyResponse',
          nil
        )
      end

      # Add OTP Email for a user
      # Add a new One-Time Password (OTP) Email factor to the authenticated user. OTP Email will enable the user to verify a OTP with the latest verified email. The email has to be verified to add the second factor..
      # @param user_service_add_otp_email_request [UserServiceAddOTPEmailRequest]

      # @return [UserServiceAddOTPEmailResponse]
      # @raise [ApiError] if fails to make API call
      def add_otp_email(user_service_add_otp_email_request)
        if user_service_add_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_otp_email_request' when calling UserServiceApi.add_otp_email"
        end

        result = add_otp_email_with_http_info(user_service_add_otp_email_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_otp_email_with_http_info(user_service_add_otp_email_request)
        if user_service_add_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_otp_email_request' when calling UserServiceApi.add_otp_email"
        end

        path = '/zitadel.user.v2.UserService/AddOTPEmail'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_add_otp_email_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceAddOTPEmailResponse',
          nil
        )
      end

      # Add OTP SMS for a user
      # Add a new One-Time Password (OTP) SMS factor to the authenticated user. OTP SMS will enable the user to verify a OTP with the latest verified phone number. The phone number has to be verified to add the second factor..
      # @param user_service_add_otpsms_request [UserServiceAddOTPSMSRequest]

      # @return [UserServiceAddOTPSMSResponse]
      # @raise [ApiError] if fails to make API call
      def add_otpsms(user_service_add_otpsms_request)
        if user_service_add_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_otpsms_request' when calling UserServiceApi.add_otpsms"
        end

        result = add_otpsms_with_http_info(user_service_add_otpsms_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_otpsms_with_http_info(user_service_add_otpsms_request)
        if user_service_add_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_otpsms_request' when calling UserServiceApi.add_otpsms"
        end

        path = '/zitadel.user.v2.UserService/AddOTPSMS'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_add_otpsms_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceAddOTPSMSResponse',
          nil
        )
      end

      # Add a Personal Access Token
      # Personal access tokens (PAT) are the easiest way to authenticate to the Zitadel APIs.  Make sure you store the returned PAT safely, as you won't be able to read it from the Zitadel API anymore.  Only users of type machine can have personal access tokens.   Required permission:    - user.write
      # @param user_service_add_personal_access_token_request [UserServiceAddPersonalAccessTokenRequest]

      # @return [UserServiceAddPersonalAccessTokenResponse]
      # @raise [ApiError] if fails to make API call
      def add_personal_access_token(user_service_add_personal_access_token_request)
        if user_service_add_personal_access_token_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_personal_access_token_request' when calling UserServiceApi.add_personal_access_token"
        end

        result = add_personal_access_token_with_http_info(user_service_add_personal_access_token_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_personal_access_token_with_http_info(user_service_add_personal_access_token_request)
        if user_service_add_personal_access_token_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_personal_access_token_request' when calling UserServiceApi.add_personal_access_token"
        end

        path = '/zitadel.user.v2.UserService/AddPersonalAccessToken'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_add_personal_access_token_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceAddPersonalAccessTokenResponse',
          nil
        )
      end

      # Add a Users Secret
      # Generates a client secret for the user.  The client id is the users username.  If the user already has a secret, it is overwritten.  Only users of type machine can have a secret.   Required permission:    - user.write
      # @param user_service_add_secret_request [UserServiceAddSecretRequest]

      # @return [UserServiceAddSecretResponse]
      # @raise [ApiError] if fails to make API call
      def add_secret(user_service_add_secret_request)
        if user_service_add_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_secret_request' when calling UserServiceApi.add_secret"
        end

        result = add_secret_with_http_info(user_service_add_secret_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def add_secret_with_http_info(user_service_add_secret_request)
        if user_service_add_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_add_secret_request' when calling UserServiceApi.add_secret"
        end

        path = '/zitadel.user.v2.UserService/AddSecret'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_add_secret_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceAddSecretResponse',
          nil
        )
      end

      # Create an invite code for a user
      # Create an invite code for a user to initialize their first authentication method (password, passkeys, IdP) depending on the organization's available methods.  If an invite code has been created previously, it's url template and application name will be used as defaults for the new code.  The new code will overwrite the previous one and make it invalid.  Note: It is possible to reissue a new code only when the previous code has expired, or when the user provides a wrong code three or more times during verification.
      # @param user_service_create_invite_code_request [UserServiceCreateInviteCodeRequest]

      # @return [UserServiceCreateInviteCodeResponse]
      # @raise [ApiError] if fails to make API call
      def create_invite_code(user_service_create_invite_code_request)
        if user_service_create_invite_code_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_create_invite_code_request' when calling UserServiceApi.create_invite_code"
        end

        result = create_invite_code_with_http_info(user_service_create_invite_code_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_invite_code_with_http_info(user_service_create_invite_code_request)
        if user_service_create_invite_code_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_create_invite_code_request' when calling UserServiceApi.create_invite_code"
        end

        path = '/zitadel.user.v2.UserService/CreateInviteCode'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_create_invite_code_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceCreateInviteCodeResponse',
          nil
        )
      end

      # Create a passkey registration link for a user
      # Create a passkey registration link which includes a code and either return it or send it to the user..
      # @param user_service_create_passkey_registration_link_request [UserServiceCreatePasskeyRegistrationLinkRequest]

      # @return [UserServiceCreatePasskeyRegistrationLinkResponse]
      # @raise [ApiError] if fails to make API call
      def create_passkey_registration_link(user_service_create_passkey_registration_link_request)
        if user_service_create_passkey_registration_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_create_passkey_registration_link_request' when calling UserServiceApi.create_passkey_registration_link"
        end

        result = create_passkey_registration_link_with_http_info(user_service_create_passkey_registration_link_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_passkey_registration_link_with_http_info(user_service_create_passkey_registration_link_request)
        if user_service_create_passkey_registration_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_create_passkey_registration_link_request' when calling UserServiceApi.create_passkey_registration_link"
        end

        path = '/zitadel.user.v2.UserService/CreatePasskeyRegistrationLink'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_create_passkey_registration_link_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceCreatePasskeyRegistrationLinkResponse',
          nil
        )
      end

      # Create a User
      # Create a new human or machine user in the specified organization.   Required permission:    - user.write
      # @param user_service_create_user_request [UserServiceCreateUserRequest]

      # @return [UserServiceCreateUserResponse]
      # @raise [ApiError] if fails to make API call
      def create_user(user_service_create_user_request)
        if user_service_create_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_create_user_request' when calling UserServiceApi.create_user"
        end

        result = create_user_with_http_info(user_service_create_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_user_with_http_info(user_service_create_user_request)
        if user_service_create_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_create_user_request' when calling UserServiceApi.create_user"
        end

        path = '/zitadel.user.v2.UserService/CreateUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_create_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceCreateUserResponse',
          nil
        )
      end

      # Deactivate user
      # The state of the user will be changed to 'deactivated'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'deactivated'. Use deactivate user when the user should not be able to use the account anymore, but you still need access to the user data..
      # @param user_service_deactivate_user_request [UserServiceDeactivateUserRequest]

      # @return [UserServiceDeactivateUserResponse]
      # @raise [ApiError] if fails to make API call
      def deactivate_user(user_service_deactivate_user_request)
        if user_service_deactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_deactivate_user_request' when calling UserServiceApi.deactivate_user"
        end

        result = deactivate_user_with_http_info(user_service_deactivate_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def deactivate_user_with_http_info(user_service_deactivate_user_request)
        if user_service_deactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_deactivate_user_request' when calling UserServiceApi.deactivate_user"
        end

        path = '/zitadel.user.v2.UserService/DeactivateUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_deactivate_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceDeactivateUserResponse',
          nil
        )
      end

      # Delete user
      # The state of the user will be changed to 'deleted'. The user will not be able to log in anymore. Endpoints requesting this user will return an error 'User not found..
      # @param user_service_delete_user_request [UserServiceDeleteUserRequest]

      # @return [UserServiceDeleteUserResponse]
      # @raise [ApiError] if fails to make API call
      def delete_user(user_service_delete_user_request)
        if user_service_delete_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_delete_user_request' when calling UserServiceApi.delete_user"
        end

        result = delete_user_with_http_info(user_service_delete_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_user_with_http_info(user_service_delete_user_request)
        if user_service_delete_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_delete_user_request' when calling UserServiceApi.delete_user"
        end

        path = '/zitadel.user.v2.UserService/DeleteUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_delete_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceDeleteUserResponse',
          nil
        )
      end

      # Delete User Metadata
      # Delete metadata objects from an user with a specific key.   Required permission:   - `user.write`
      # @param user_service_delete_user_metadata_request [UserServiceDeleteUserMetadataRequest]

      # @return [UserServiceDeleteUserMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def delete_user_metadata(user_service_delete_user_metadata_request)
        if user_service_delete_user_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_delete_user_metadata_request' when calling UserServiceApi.delete_user_metadata"
        end

        result = delete_user_metadata_with_http_info(user_service_delete_user_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_user_metadata_with_http_info(user_service_delete_user_metadata_request)
        if user_service_delete_user_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_delete_user_metadata_request' when calling UserServiceApi.delete_user_metadata"
        end

        path = '/zitadel.user.v2.UserService/DeleteUserMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_delete_user_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceDeleteUserMetadataResponse',
          nil
        )
      end

      # Generate single-use recovery codes for a user
      # Generate new single-use recovery codes for the authenticated user. Recovery codes can be used to recover access to the account if other second factors are not available.
      # @param user_service_generate_recovery_codes_request [UserServiceGenerateRecoveryCodesRequest]

      # @return [UserServiceGenerateRecoveryCodesResponse]
      # @raise [ApiError] if fails to make API call
      def generate_recovery_codes(user_service_generate_recovery_codes_request)
        if user_service_generate_recovery_codes_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_generate_recovery_codes_request' when calling UserServiceApi.generate_recovery_codes"
        end

        result = generate_recovery_codes_with_http_info(user_service_generate_recovery_codes_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def generate_recovery_codes_with_http_info(user_service_generate_recovery_codes_request)
        if user_service_generate_recovery_codes_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_generate_recovery_codes_request' when calling UserServiceApi.generate_recovery_codes"
        end

        path = '/zitadel.user.v2.UserService/GenerateRecoveryCodes'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_generate_recovery_codes_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceGenerateRecoveryCodesResponse',
          nil
        )
      end

      # User by ID
      # Returns the full user object (human or machine) including the profile, email, etc..
      # @param user_service_get_user_by_id_request [UserServiceGetUserByIDRequest]

      # @return [UserServiceGetUserByIDResponse]
      # @raise [ApiError] if fails to make API call
      def get_user_by_id(user_service_get_user_by_id_request)
        if user_service_get_user_by_id_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_get_user_by_id_request' when calling UserServiceApi.get_user_by_id"
        end

        result = get_user_by_id_with_http_info(user_service_get_user_by_id_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def get_user_by_id_with_http_info(user_service_get_user_by_id_request)
        if user_service_get_user_by_id_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_get_user_by_id_request' when calling UserServiceApi.get_user_by_id"
        end

        path = '/zitadel.user.v2.UserService/GetUserByID'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_get_user_by_id_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceGetUserByIDResponse',
          nil
        )
      end

      # MFA Init Skipped
      # Update the last time the user has skipped MFA initialization. The server timestamp is used.
      # @param user_service_human_mfa_init_skipped_request [UserServiceHumanMFAInitSkippedRequest]

      # @return [UserServiceHumanMFAInitSkippedResponse]
      # @raise [ApiError] if fails to make API call
      def human_mfa_init_skipped(user_service_human_mfa_init_skipped_request)
        if user_service_human_mfa_init_skipped_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_human_mfa_init_skipped_request' when calling UserServiceApi.human_mfa_init_skipped"
        end

        result = human_mfa_init_skipped_with_http_info(user_service_human_mfa_init_skipped_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def human_mfa_init_skipped_with_http_info(user_service_human_mfa_init_skipped_request)
        if user_service_human_mfa_init_skipped_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_human_mfa_init_skipped_request' when calling UserServiceApi.human_mfa_init_skipped"
        end

        path = '/zitadel.user.v2.UserService/HumanMFAInitSkipped'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_human_mfa_init_skipped_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceHumanMFAInitSkippedResponse',
          nil
        )
      end

      # ListAuthenticationFactors
      # @param user_service_list_authentication_factors_request [UserServiceListAuthenticationFactorsRequest]

      # @return [UserServiceListAuthenticationFactorsResponse]
      # @raise [ApiError] if fails to make API call
      def list_authentication_factors(user_service_list_authentication_factors_request)
        if user_service_list_authentication_factors_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_authentication_factors_request' when calling UserServiceApi.list_authentication_factors"
        end

        result = list_authentication_factors_with_http_info(user_service_list_authentication_factors_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_authentication_factors_with_http_info(user_service_list_authentication_factors_request)
        if user_service_list_authentication_factors_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_authentication_factors_request' when calling UserServiceApi.list_authentication_factors"
        end

        path = '/zitadel.user.v2.UserService/ListAuthenticationFactors'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_authentication_factors_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListAuthenticationFactorsResponse',
          nil
        )
      end

      # List all possible authentication methods of a user
      # List all possible authentication methods of a user like password, passwordless, (T)OTP and more..
      # @param user_service_list_authentication_method_types_request [UserServiceListAuthenticationMethodTypesRequest]

      # @return [UserServiceListAuthenticationMethodTypesResponse]
      # @raise [ApiError] if fails to make API call
      def list_authentication_method_types(user_service_list_authentication_method_types_request)
        if user_service_list_authentication_method_types_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_authentication_method_types_request' when calling UserServiceApi.list_authentication_method_types"
        end

        result = list_authentication_method_types_with_http_info(user_service_list_authentication_method_types_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_authentication_method_types_with_http_info(user_service_list_authentication_method_types_request)
        if user_service_list_authentication_method_types_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_authentication_method_types_request' when calling UserServiceApi.list_authentication_method_types"
        end

        path = '/zitadel.user.v2.UserService/ListAuthenticationMethodTypes'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_authentication_method_types_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListAuthenticationMethodTypesResponse',
          nil
        )
      end

      # List links to an identity provider of an user
      # List links to an identity provider of an user.
      # @param user_service_list_idp_links_request [UserServiceListIDPLinksRequest]

      # @return [UserServiceListIDPLinksResponse]
      # @raise [ApiError] if fails to make API call
      def list_idp_links(user_service_list_idp_links_request)
        if user_service_list_idp_links_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_idp_links_request' when calling UserServiceApi.list_idp_links"
        end

        result = list_idp_links_with_http_info(user_service_list_idp_links_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_idp_links_with_http_info(user_service_list_idp_links_request)
        if user_service_list_idp_links_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_idp_links_request' when calling UserServiceApi.list_idp_links"
        end

        path = '/zitadel.user.v2.UserService/ListIDPLinks'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_idp_links_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListIDPLinksResponse',
          nil
        )
      end

      # Search Keys
      # List all matching keys. By default all keys of the instance on which the caller has permission to read the owning users are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - user.read
      # @param user_service_list_keys_request [UserServiceListKeysRequest]

      # @return [UserServiceListKeysResponse]
      # @raise [ApiError] if fails to make API call
      def list_keys(user_service_list_keys_request)
        if user_service_list_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_keys_request' when calling UserServiceApi.list_keys"
        end

        result = list_keys_with_http_info(user_service_list_keys_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_keys_with_http_info(user_service_list_keys_request)
        if user_service_list_keys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_keys_request' when calling UserServiceApi.list_keys"
        end

        path = '/zitadel.user.v2.UserService/ListKeys'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_keys_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListKeysResponse',
          nil
        )
      end

      # List passkeys of an user
      # List passkeys of an user
      # @param user_service_list_passkeys_request [UserServiceListPasskeysRequest]

      # @return [UserServiceListPasskeysResponse]
      # @raise [ApiError] if fails to make API call
      def list_passkeys(user_service_list_passkeys_request)
        if user_service_list_passkeys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_passkeys_request' when calling UserServiceApi.list_passkeys"
        end

        result = list_passkeys_with_http_info(user_service_list_passkeys_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_passkeys_with_http_info(user_service_list_passkeys_request)
        if user_service_list_passkeys_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_passkeys_request' when calling UserServiceApi.list_passkeys"
        end

        path = '/zitadel.user.v2.UserService/ListPasskeys'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_passkeys_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListPasskeysResponse',
          nil
        )
      end

      # Search Personal Access Tokens
      # List all personal access tokens. By default all personal access tokens of the instance on which the caller has permission to read the owning users are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - user.read
      # @param user_service_list_personal_access_tokens_request [UserServiceListPersonalAccessTokensRequest]

      # @return [UserServiceListPersonalAccessTokensResponse]
      # @raise [ApiError] if fails to make API call
      def list_personal_access_tokens(user_service_list_personal_access_tokens_request)
        if user_service_list_personal_access_tokens_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_personal_access_tokens_request' when calling UserServiceApi.list_personal_access_tokens"
        end

        result = list_personal_access_tokens_with_http_info(user_service_list_personal_access_tokens_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_personal_access_tokens_with_http_info(user_service_list_personal_access_tokens_request)
        if user_service_list_personal_access_tokens_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_personal_access_tokens_request' when calling UserServiceApi.list_personal_access_tokens"
        end

        path = '/zitadel.user.v2.UserService/ListPersonalAccessTokens'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_personal_access_tokens_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListPersonalAccessTokensResponse',
          nil
        )
      end

      # List User Metadata
      # List metadata of an user filtered by query.   Required permission:   - `user.read`
      # @param user_service_list_user_metadata_request [UserServiceListUserMetadataRequest]

      # @return [UserServiceListUserMetadataResponse]
      # @raise [ApiError] if fails to make API call
      def list_user_metadata(user_service_list_user_metadata_request)
        if user_service_list_user_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_user_metadata_request' when calling UserServiceApi.list_user_metadata"
        end

        result = list_user_metadata_with_http_info(user_service_list_user_metadata_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_user_metadata_with_http_info(user_service_list_user_metadata_request)
        if user_service_list_user_metadata_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_user_metadata_request' when calling UserServiceApi.list_user_metadata"
        end

        path = '/zitadel.user.v2.UserService/ListUserMetadata'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_user_metadata_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListUserMetadataResponse',
          nil
        )
      end

      # Search Users
      # Search for users. By default, we will return all users of your instance that you have permission to read. Make sure to include a limit and sorting for pagination.
      # @param user_service_list_users_request [UserServiceListUsersRequest]

      # @return [UserServiceListUsersResponse]
      # @raise [ApiError] if fails to make API call
      def list_users(user_service_list_users_request)
        if user_service_list_users_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_users_request' when calling UserServiceApi.list_users"
        end

        result = list_users_with_http_info(user_service_list_users_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_users_with_http_info(user_service_list_users_request)
        if user_service_list_users_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_list_users_request' when calling UserServiceApi.list_users"
        end

        path = '/zitadel.user.v2.UserService/ListUsers'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_list_users_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceListUsersResponse',
          nil
        )
      end

      # Lock user
      # The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.)..
      # @param user_service_lock_user_request [UserServiceLockUserRequest]

      # @return [UserServiceLockUserResponse]
      # @raise [ApiError] if fails to make API call
      def lock_user(user_service_lock_user_request)
        if user_service_lock_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_lock_user_request' when calling UserServiceApi.lock_user"
        end

        result = lock_user_with_http_info(user_service_lock_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def lock_user_with_http_info(user_service_lock_user_request)
        if user_service_lock_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_lock_user_request' when calling UserServiceApi.lock_user"
        end

        path = '/zitadel.user.v2.UserService/LockUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_lock_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceLockUserResponse',
          nil
        )
      end

      # Request a code to reset a password
      # Request a code to reset a password..
      # @param user_service_password_reset_request [UserServicePasswordResetRequest]

      # @return [UserServicePasswordResetResponse]
      # @raise [ApiError] if fails to make API call
      def password_reset(user_service_password_reset_request)
        if user_service_password_reset_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_password_reset_request' when calling UserServiceApi.password_reset"
        end

        result = password_reset_with_http_info(user_service_password_reset_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def password_reset_with_http_info(user_service_password_reset_request)
        if user_service_password_reset_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_password_reset_request' when calling UserServiceApi.password_reset"
        end

        path = '/zitadel.user.v2.UserService/PasswordReset'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_password_reset_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServicePasswordResetResponse',
          nil
        )
      end

      # Reactivate user
      # Reactivate a user with the state 'deactivated'. The user will be able to log in again afterward. The endpoint returns an error if the user is not in the state 'deactivated'..
      # @param user_service_reactivate_user_request [UserServiceReactivateUserRequest]

      # @return [UserServiceReactivateUserResponse]
      # @raise [ApiError] if fails to make API call
      def reactivate_user(user_service_reactivate_user_request)
        if user_service_reactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_reactivate_user_request' when calling UserServiceApi.reactivate_user"
        end

        result = reactivate_user_with_http_info(user_service_reactivate_user_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def reactivate_user_with_http_info(user_service_reactivate_user_request)
        if user_service_reactivate_user_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_reactivate_user_request' when calling UserServiceApi.reactivate_user"
        end

        path = '/zitadel.user.v2.UserService/ReactivateUser'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_reactivate_user_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceReactivateUserResponse',
          nil
        )
      end

      # Start the registration of passkey for a user
      # Start the registration of a passkey for a user, as a response the public key credential creation options are returned, which are used to verify the passkey..
      # @param user_service_register_passkey_request [UserServiceRegisterPasskeyRequest]

      # @return [UserServiceRegisterPasskeyResponse]
      # @raise [ApiError] if fails to make API call
      def register_passkey(user_service_register_passkey_request)
        if user_service_register_passkey_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_register_passkey_request' when calling UserServiceApi.register_passkey"
        end

        result = register_passkey_with_http_info(user_service_register_passkey_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def register_passkey_with_http_info(user_service_register_passkey_request)
        if user_service_register_passkey_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_register_passkey_request' when calling UserServiceApi.register_passkey"
        end

        path = '/zitadel.user.v2.UserService/RegisterPasskey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_register_passkey_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRegisterPasskeyResponse',
          nil
        )
      end

      # Start the registration of a TOTP generator for a user
      # Start the registration of a TOTP generator for a user, as a response a secret returned, which is used to initialize a TOTP app or device..
      # @param user_service_register_totp_request [UserServiceRegisterTOTPRequest]

      # @return [UserServiceRegisterTOTPResponse]
      # @raise [ApiError] if fails to make API call
      def register_totp(user_service_register_totp_request)
        if user_service_register_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_register_totp_request' when calling UserServiceApi.register_totp"
        end

        result = register_totp_with_http_info(user_service_register_totp_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def register_totp_with_http_info(user_service_register_totp_request)
        if user_service_register_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_register_totp_request' when calling UserServiceApi.register_totp"
        end

        path = '/zitadel.user.v2.UserService/RegisterTOTP'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_register_totp_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRegisterTOTPResponse',
          nil
        )
      end

      # Start the registration of a u2f token for a user
      # Start the registration of a u2f token for a user, as a response the public key credential creation options are returned, which are used to verify the u2f token..
      # @param user_service_register_u2_f_request [UserServiceRegisterU2FRequest]

      # @return [UserServiceRegisterU2FResponse]
      # @raise [ApiError] if fails to make API call
      def register_u2_f(user_service_register_u2_f_request)
        if user_service_register_u2_f_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_register_u2_f_request' when calling UserServiceApi.register_u2_f"
        end

        result = register_u2_f_with_http_info(user_service_register_u2_f_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def register_u2_f_with_http_info(user_service_register_u2_f_request)
        if user_service_register_u2_f_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_register_u2_f_request' when calling UserServiceApi.register_u2_f"
        end

        path = '/zitadel.user.v2.UserService/RegisterU2F'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_register_u2_f_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRegisterU2FResponse',
          nil
        )
      end

      # Remove link of an identity provider to an user
      # Remove link of an identity provider to an user.
      # @param user_service_remove_idp_link_request [UserServiceRemoveIDPLinkRequest]

      # @return [UserServiceRemoveIDPLinkResponse]
      # @raise [ApiError] if fails to make API call
      def remove_idp_link(user_service_remove_idp_link_request)
        if user_service_remove_idp_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_idp_link_request' when calling UserServiceApi.remove_idp_link"
        end

        result = remove_idp_link_with_http_info(user_service_remove_idp_link_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_idp_link_with_http_info(user_service_remove_idp_link_request)
        if user_service_remove_idp_link_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_idp_link_request' when calling UserServiceApi.remove_idp_link"
        end

        path = '/zitadel.user.v2.UserService/RemoveIDPLink'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_idp_link_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemoveIDPLinkResponse',
          nil
        )
      end

      # Remove a Key
      # Remove a machine users key by the given key ID and an optionally given user ID.   Required permission:    - user.write
      # @param user_service_remove_key_request [UserServiceRemoveKeyRequest]

      # @return [UserServiceRemoveKeyResponse]
      # @raise [ApiError] if fails to make API call
      def remove_key(user_service_remove_key_request)
        if user_service_remove_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_key_request' when calling UserServiceApi.remove_key"
        end

        result = remove_key_with_http_info(user_service_remove_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_key_with_http_info(user_service_remove_key_request)
        if user_service_remove_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_key_request' when calling UserServiceApi.remove_key"
        end

        path = '/zitadel.user.v2.UserService/RemoveKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemoveKeyResponse',
          nil
        )
      end

      # Remove One-Time Password (OTP) Email from a user
      # Remove the configured One-Time Password (OTP) Email factor of a user. As only one OTP Email per user is allowed, the user will not have OTP Email as a second factor afterward.
      # @param user_service_remove_otp_email_request [UserServiceRemoveOTPEmailRequest]

      # @return [UserServiceRemoveOTPEmailResponse]
      # @raise [ApiError] if fails to make API call
      def remove_otp_email(user_service_remove_otp_email_request)
        if user_service_remove_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_otp_email_request' when calling UserServiceApi.remove_otp_email"
        end

        result = remove_otp_email_with_http_info(user_service_remove_otp_email_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_otp_email_with_http_info(user_service_remove_otp_email_request)
        if user_service_remove_otp_email_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_otp_email_request' when calling UserServiceApi.remove_otp_email"
        end

        path = '/zitadel.user.v2.UserService/RemoveOTPEmail'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_otp_email_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemoveOTPEmailResponse',
          nil
        )
      end

      # Remove One-Time Password (OTP) SMS from a user
      # Remove the configured One-Time Password (OTP) SMS factor of a user. As only one OTP SMS per user is allowed, the user will not have OTP SMS as a second factor afterward.
      # @param user_service_remove_otpsms_request [UserServiceRemoveOTPSMSRequest]

      # @return [UserServiceRemoveOTPSMSResponse]
      # @raise [ApiError] if fails to make API call
      def remove_otpsms(user_service_remove_otpsms_request)
        if user_service_remove_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_otpsms_request' when calling UserServiceApi.remove_otpsms"
        end

        result = remove_otpsms_with_http_info(user_service_remove_otpsms_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_otpsms_with_http_info(user_service_remove_otpsms_request)
        if user_service_remove_otpsms_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_otpsms_request' when calling UserServiceApi.remove_otpsms"
        end

        path = '/zitadel.user.v2.UserService/RemoveOTPSMS'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_otpsms_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemoveOTPSMSResponse',
          nil
        )
      end

      # Remove passkey from a user
      # Remove passkey from a user.
      # @param user_service_remove_passkey_request [UserServiceRemovePasskeyRequest]

      # @return [UserServiceRemovePasskeyResponse]
      # @raise [ApiError] if fails to make API call
      def remove_passkey(user_service_remove_passkey_request)
        if user_service_remove_passkey_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_passkey_request' when calling UserServiceApi.remove_passkey"
        end

        result = remove_passkey_with_http_info(user_service_remove_passkey_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_passkey_with_http_info(user_service_remove_passkey_request)
        if user_service_remove_passkey_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_passkey_request' when calling UserServiceApi.remove_passkey"
        end

        path = '/zitadel.user.v2.UserService/RemovePasskey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_passkey_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemovePasskeyResponse',
          nil
        )
      end

      # Remove a Personal Access Token
      # Removes a machine users personal access token by the given token ID and an optionally given user ID.   Required permission:    - user.write
      # @param user_service_remove_personal_access_token_request [UserServiceRemovePersonalAccessTokenRequest]

      # @return [UserServiceRemovePersonalAccessTokenResponse]
      # @raise [ApiError] if fails to make API call
      def remove_personal_access_token(user_service_remove_personal_access_token_request)
        if user_service_remove_personal_access_token_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_personal_access_token_request' when calling UserServiceApi.remove_personal_access_token"
        end

        result = remove_personal_access_token_with_http_info(user_service_remove_personal_access_token_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_personal_access_token_with_http_info(user_service_remove_personal_access_token_request)
        if user_service_remove_personal_access_token_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_personal_access_token_request' when calling UserServiceApi.remove_personal_access_token"
        end

        path = '/zitadel.user.v2.UserService/RemovePersonalAccessToken'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_personal_access_token_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemovePersonalAccessTokenResponse',
          nil
        )
      end

      # Delete the user phone
      # Deprecated: [Update the users phone field](apis/resources/user_service_v2/user-service-update-user.api.mdx) to remove the phone number.   Delete the phone number of a user.
      # @param user_service_remove_phone_request [UserServiceRemovePhoneRequest]

      # @return [UserServiceRemovePhoneResponse]
      # @raise [ApiError] if fails to make API call
      def remove_phone(user_service_remove_phone_request)
        if user_service_remove_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_phone_request' when calling UserServiceApi.remove_phone"
        end

        result = remove_phone_with_http_info(user_service_remove_phone_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_phone_with_http_info(user_service_remove_phone_request)
        if user_service_remove_phone_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_phone_request' when calling UserServiceApi.remove_phone"
        end

        path = '/zitadel.user.v2.UserService/RemovePhone'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_phone_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemovePhoneResponse',
          nil
        )
      end

      # Remove recovery codes from a user
      # Remove all recovery codes from the authenticated user. This will disable the recovery code second factor.
      # @param user_service_remove_recovery_codes_request [UserServiceRemoveRecoveryCodesRequest]

      # @return [UserServiceRemoveRecoveryCodesResponse]
      # @raise [ApiError] if fails to make API call
      def remove_recovery_codes(user_service_remove_recovery_codes_request)
        if user_service_remove_recovery_codes_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_recovery_codes_request' when calling UserServiceApi.remove_recovery_codes"
        end

        result = remove_recovery_codes_with_http_info(user_service_remove_recovery_codes_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_recovery_codes_with_http_info(user_service_remove_recovery_codes_request)
        if user_service_remove_recovery_codes_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_recovery_codes_request' when calling UserServiceApi.remove_recovery_codes"
        end

        path = '/zitadel.user.v2.UserService/RemoveRecoveryCodes'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_recovery_codes_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemoveRecoveryCodesResponse',
          nil
        )
      end

      # Remove a Users Secret
      # Remove the current client ID and client secret from a machine user.   Required permission:    - user.write
      # @param user_service_remove_secret_request [UserServiceRemoveSecretRequest]

      # @return [UserServiceRemoveSecretResponse]
      # @raise [ApiError] if fails to make API call
      def remove_secret(user_service_remove_secret_request)
        if user_service_remove_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_secret_request' when calling UserServiceApi.remove_secret"
        end

        result = remove_secret_with_http_info(user_service_remove_secret_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_secret_with_http_info(user_service_remove_secret_request)
        if user_service_remove_secret_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_secret_request' when calling UserServiceApi.remove_secret"
        end

        path = '/zitadel.user.v2.UserService/RemoveSecret'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_secret_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemoveSecretResponse',
          nil
        )
      end

      # Remove TOTP generator from a user
      # Remove the configured TOTP generator of a user. As only one TOTP generator per user is allowed, the user will not have TOTP as a second factor afterward.
      # @param user_service_remove_totp_request [UserServiceRemoveTOTPRequest]

      # @return [UserServiceRemoveTOTPResponse]
      # @raise [ApiError] if fails to make API call
      def remove_totp(user_service_remove_totp_request)
        if user_service_remove_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_totp_request' when calling UserServiceApi.remove_totp"
        end

        result = remove_totp_with_http_info(user_service_remove_totp_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_totp_with_http_info(user_service_remove_totp_request)
        if user_service_remove_totp_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_totp_request' when calling UserServiceApi.remove_totp"
        end

        path = '/zitadel.user.v2.UserService/RemoveTOTP'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = user_service_remove_totp_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'UserServiceRemoveTOTPResponse',
          nil
        )
      end

      # Remove u2f token from a user
      # Remove u2f token from a user.
      # @param user_service_remove_u2_f_request [UserServiceRemoveU2FRequest]

      # @return [UserServiceRemoveU2FResponse]
      # @raise [ApiError] if fails to make API call
      def remove_u2_f(user_service_remove_u2_f_request)
        if user_service_remove_u2_f_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_u2_f_request' when calling UserServiceApi.remove_u2_f"
        end

        result = remove_u2_f_with_http_info(user_service_remove_u2_f_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def remove_u2_f_with_http_info(user_service_remove_u2_f_request)
        if user_service_remove_u2_f_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'user_service_remove_u2_f_request' when calling UserServiceApi.remove_u2_f"
        end

        path = '/zitadel.user.v2.UserService/RemoveU2F'
[...]
