# frozen_string_literal: true

# rubocop:disable all
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

# :nodoc:
module Zitadel::Client
  module Api

    # WebKeyServiceApi provides methods for the WebKeyService API group.
    class WebKeyServiceApi < BaseApi
      def initialize(api_client = nil, config = ::Zitadel::Client::Configuration.default, authenticator = nil)
        super
      end

      # Activate Web Key
      # Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`
      # @param web_key_service_activate_web_key_request [WebKeyServiceActivateWebKeyRequest]

      # @return [WebKeyServiceActivateWebKeyResponse]
      # @raise [ApiError] if fails to make API call
      def activate_web_key(web_key_service_activate_web_key_request)
        if web_key_service_activate_web_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'web_key_service_activate_web_key_request' when calling WebKeyServiceApi.activate_web_key"
        end

        result = activate_web_key_with_http_info(web_key_service_activate_web_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def activate_web_key_with_http_info(web_key_service_activate_web_key_request)
        if web_key_service_activate_web_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'web_key_service_activate_web_key_request' when calling WebKeyServiceApi.activate_web_key"
        end

        path = '/zitadel.webkey.v2.WebKeyService/ActivateWebKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = web_key_service_activate_web_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'WebKeyServiceActivateWebKeyResponse',
          nil
        )
      end

      # Create Web Key
      # Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`
      # @param web_key_service_create_web_key_request [WebKeyServiceCreateWebKeyRequest]

      # @return [WebKeyServiceCreateWebKeyResponse]
      # @raise [ApiError] if fails to make API call
      def create_web_key(web_key_service_create_web_key_request)
        if web_key_service_create_web_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'web_key_service_create_web_key_request' when calling WebKeyServiceApi.create_web_key"
        end

        result = create_web_key_with_http_info(web_key_service_create_web_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def create_web_key_with_http_info(web_key_service_create_web_key_request)
        if web_key_service_create_web_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'web_key_service_create_web_key_request' when calling WebKeyServiceApi.create_web_key"
        end

        path = '/zitadel.webkey.v2.WebKeyService/CreateWebKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = web_key_service_create_web_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'WebKeyServiceCreateWebKeyResponse',
          nil
        )
      end

      # Delete Web Key
      # Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`
      # @param web_key_service_delete_web_key_request [WebKeyServiceDeleteWebKeyRequest]

      # @return [WebKeyServiceDeleteWebKeyResponse]
      # @raise [ApiError] if fails to make API call
      def delete_web_key(web_key_service_delete_web_key_request)
        if web_key_service_delete_web_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'web_key_service_delete_web_key_request' when calling WebKeyServiceApi.delete_web_key"
        end

        result = delete_web_key_with_http_info(web_key_service_delete_web_key_request)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def delete_web_key_with_http_info(web_key_service_delete_web_key_request)
        if web_key_service_delete_web_key_request.nil?
          raise ArgumentError,
                "Missing the required parameter 'web_key_service_delete_web_key_request' when calling WebKeyServiceApi.delete_web_key"
        end

        path = '/zitadel.webkey.v2.WebKeyService/DeleteWebKey'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = web_key_service_delete_web_key_request

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'WebKeyServiceDeleteWebKeyResponse',
          nil
        )
      end

      # List Web Keys
      # List all web keys and their states.   Required permission:    - `iam.web_key.read`
      # @param body [Object]

      # @return [WebKeyServiceListWebKeysResponse]
      # @raise [ApiError] if fails to make API call
      def list_web_keys(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling WebKeyServiceApi.list_web_keys"
        end

        result = list_web_keys_with_http_info(body)
        # This operation declares a non-void return type. When the server
        # responds with an empty/undecodable body (204, empty 200), the
        # unwrapped convenience method has no value to return. Surface this
        # loudly as a typed ApiError instead of handing back a silent nil,
        # so callers see the same catchable error across all SDKs.
        if result.data.nil?
          raise ::Zitadel::Client::ApiError.new(
            message: 'Expected a non-empty response body but the server returned no decodable content',
            status_code: result.status_code,
            response_headers: result.headers,
            response_body: result.raw_body
          )
        end
        result.data
      end

      # @return [ApiResult]
      # @raise [ApiError] if fails to make API call
      def list_web_keys_with_http_info(body)
        if body.nil?
          raise ArgumentError,
                "Missing the required parameter 'body' when calling WebKeyServiceApi.list_web_keys"
        end

        path = '/zitadel.webkey.v2.WebKeyService/ListWebKeys'
        # @type var query_params: Hash[String, untyped]
        query_params = {}
        # @type var header_params: Hash[String, String]
        header_params = {}
        request_body = body

        invoke_api_for_result(
          :POST, path, query_params, header_params, request_body,
          ['application/json'],
          'application/json',
          'WebKeyServiceListWebKeysResponse',
          nil
        )
      end
    end
  end
end
